#quickQuoteWrapper,
#quickQuoteBack {
    z-index: 1400;
}

.product-view .add-to-cart-buttons .button {
    width: auto !important;
}

.products-grid .actions {
    position: relative !important;
}

.products-grid div.actions button {
    margin-left: 5px;
    margin-bottom: 5px;
}

.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button {
    min-width: 125px;
}

/*
 * QUICK QUOTE
 */
#quickQuoteWrapper,
#quickQuoteBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#quickQuote {
    background-color: #FFFFFF;
    padding: 20px;
    position: absolute;
    max-width: 500px;
    max-height: 610px;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    /*margin: -200px 0 0 -200px;*/
    z-index: 1550;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid #ededed;
}

#quickQuote .qquote-client-collaterals {
    display: table;
    height: 100%;
    width: 100%;
}

#quickQuoteBack {
    /*
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    */
    background-color: #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opcaity: 0.8;
    opacity: 0.8;
    z-index: 1500;
}

#quickQuote td {
    width: 50%;
    padding: 0px 2px;
}

#quickQuote input,
#quickQuote textarea,
#quickQuote select {
    width: 100%;

}

.quickQuote textarea {
    width: 98%;
    display: inline-block;
    min-width: 150px;
    /*   height: 100%;
       max-height: 100%;*/
}

.quickQuote input[type='text'] {
    width: 80%;
    margin-bottom: 2px;
    float: left;
}

#quickQuote .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: -7px -7px 0 0;
}

#quickQuote .close-icon img {
    width: 25px;
    height: 25px;
}

#quickQuote .close-icon img:hover {
    cursor: pointer;
}

.checkout-toolbar button {
    width: 250px;
    margin-bottom: 5px;
}

ol.c2q {
    /* This is the main Tab Bar on the top */
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #ededed;
    padding: 12px 12px 6px 12px;
    margin-bottom: 15px;
    *padding-bottom: 12px;
}

ol.c2q li.section {
    display: inline;
}

element.style {
    height: 90px;
}

.leightbox, .leightboxlink {
    background-color: #FFFFFF;
    border: 2px solid #B8B8B8;
    color: #0A263C;
    display: none;
    font: 9px Arial, sans-serif;
    left: 25%;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 25%;
    width: 450px;
    min-height: 200px;
    z-index: 10011;
}

.quote-forms {
    /*float: right;
    clear: right;
    width: 100%;
    min-width: 380px;*/
}

.quote-forms > div {
    background-color: #f4f4f4;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.quote-forms .inline-checkbox {
    margin-top: 15px;
}

.qquote-client-collaterals table input,
.qquote-client-collaterals table select,
.qquote-client-collaterals .qquote-cart-collaterals table input,
.qquote-client-collaterals .qquote-cart-collaterals table select,
.qquote-client-collaterals textarea.input-text {
    width: 98%;
}

.qquote-client-collaterals h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px;
}

#quotelist {
    margin-bottom: 25px;
}

#quotelist #shopping-cart-table {
    width: 60%;
    clear: both;
    min-width: 380px;
    margin: 5px;
}

#quotelist #shopping-cart-table a {
    font-size: 13px;
}

#submit-quote-request {
    float: right;
    margin-top: 5px;
    clear: both;
}

#quotelist .button {
    margin: 0px 5px 5px 0px;
}

#qquoteadv-view-view body.customer-account .my-account .title-buttons a, #qquoteadv-view-view body.customer-account .my-account .title-buttons span.separator {
    position: relative;
    top: 0px;
}

#shopping-cart-totals-table {
    clear: both;
}

#lightbox2 {
    background: white;
    width: 500px;
    min-height: 200px;
    padding: 20px;
    margin: 10% auto;
    border: 2px solid #ededed;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#lightboxload {
    background: url("../images/ajax-loader.gif");
    width: 48px;
    height: 48px;
    margin: 100px auto;
}

#overlay, #overlaylink {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #333;
    filter: alpha(opacity=80);
    background-color: rgba(0, 0, 0, 0.75);
}

.lightbox[id] {
    /* IE6 and below Can't See This */
    position: fixed;
}

#overlay[id] {
    /* IE6 and below Can't See This */
    position: fixed
}

.lightboxlink[id] {
    /* IE6 and below Can't See This */
    position: fixed;
}

#overlaylink[id] {
    /* IE6 and below Can't See This */
    position: fixed;
}

.qquoteadv-index-index .page-title {
    width: 100%;
    border-bottom: 1px solid #ededed;
    display: inline-block;
}

.qquoteadv-index-index .page-title h1 {
    float: left;
    border-bottom: none;
    margin-bottom: 6px;
    margin-right: 10px;
}

.qquoteadv-index-index .page-title .assigned-to {
    clear: both;
}

.qquote-client-collaterals {
    width: 100%;
    max-width: 600px;
    display: table-cell;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}

.qquote-client-collaterals h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px;
}

#quotelist .page-title h1 {
    float: left;
    border-bottom: none;
    margin-bottom: 6px;
    margin-right: 10px;
}

#quotelist .page-title button,
#submit-quote-request button {
    float: right;
}

#submit-quote-request label {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
}

#submit-quote-request label,
.qquote-client-collaterals label {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.qquote-client-collaterals select {
    max-width: 100%;
    height: 30px;
    display: block;
    border: 1px solid silver;
}

h2.product-name {
    min-width: 200px;
    width: 100%;
}

.qty-div {
    width: 100%;
    min-width: 60px;
    max-width: 100px;
}

.qty-div a {
    text-decoration: none;
    width: 5%;
    float: left;
    margin-top: 5px;
}

#add-tier {
    clear: both;
    display: block;
}

.inline-checkbox input[type=checkbox] {
    float: left;
    width: auto;
    margin-right: 5px;
    margin-top: 3px;
}

.shipping-estimates {
    float: right;
}

/* ============================================ *
 * Header - Quote
 * ============================================ */
/* -------------------------------------------- *
 * Skip Link - Quote
 */
.skip-quote:not(.skip-active):hover .icon {
    background-position: -50px 2px;
}

.skip-quote .icon {
    background-position: 0px 2px;
}

@media only screen and (min-width: 771px) {
    .header-miniquote .skip-quote {
        position: absolute;
        top: 0;
        right: 115px;
        width: auto;
        padding: 0 10px;
    }

    .header-miniquote #header-quote.skip-active {
        background: #FBFBFB;
        border: solid 1px #cccccc;
        display: block;
        position: absolute;
        z-index: 200;
        top: 40px;
        right: 0;
        width: 320px;
        background: white;
    }
}

/* -------------------------------------------- *
 * Skip Quote Notifier
 */
.header-miniquote .skip-quote .count {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    display: inline-block;
    top: -6px;
    position: relative;
    z-index: 5;
    width: 22px;
    height: 22px;
    background: rgba(51, 153, 204, 0.9);
    color: #FFFFFF;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}

.header-miniquote .link.skip-active .count {
    color: white;
}

.header-miniquote .skip-quote.no-count .count {
    display: none;
}

@media only screen and (max-width: 499px) {
    .header-miniquote .skip-quote .count {
        margin-left: -12px;
    }
}

@media only screen and (min-width: 771px) {
    .header-miniquote .skip-quote {
        color: #3399cc;
        text-transform: uppercase;
    }

    .header-miniquote .skip-quote:hover {
        text-decoration: none;
    }

    .header-miniquote .skip-quote .count {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        color: #3399cc;
        position: static;
        background: none;
        margin-left: 0px;
        font-size: 14px;
    }

    .header-miniquote .skip-quote .count:before {
        content: '(';
    }

    .header-miniquote .skip-quote .count:after {
        content: ')';
    }
}

.header-miniquote .skip-quote .count.empty {
    display: none;
}

@media only screen and (max-width: 479px) {
    .header-miniquote a.skip-quote {
        z-index: 1;
    }
}

/* -------------------------------------------- *
 * Icons
 */
.header-miniquote .skip-quote .icon {
    background-image: url(../images/icon_sprite_c2q.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header-miniquote .skip-quote .icon {
        background-image: url(../images/icon_sprite_c2q2x.png);
        /* background-size: 100px 1000px; */
        background-size: 85.5px 27px;
    }
}

.link {
    position: relative;
    float: left;
    width: 20%;
    height: 44px;
    background: #FFFFFF;
    color: #636363;
    line-height: 42px;
    text-align: center;
}

a.link {
    text-decoration: none;
}

.link .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.link:not(.skip-active):hover {
    opacity: 0.8;
}

@media only screen and (max-width: 770px) {

    .skip-links .skip-link .label, .top-right-links .link .label {
        display: none;
    }

    .skip-links .skip-link, .skip-links .link {
        width: 20%;
        border-right: 1px solid #EDEDED;
    }
}

@media only screen and (min-width: 500px) {
    .link {
        width: 25%;
    }
}

/* -------------------------------------------- *
 * Skip Link - Active
 */
@media only screen and (max-width: 770px) {
    .link.skip-active {
        background: #EDEDED;
        color: inherit;
    }

    .link.skip-active span {
        color: inherit;
    }
}

/* -------------------------------------------- *
 * Skip Link - Icon
 */
.link.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.link.skip-quote:not(.no-count) .icon {
    margin-right: 3px;
}

@media only screen and (min-width: 500px) {
    .link.icon {
        margin-right: 3px;
    }
}

/* -------------------------------------------- *
 * Skip Link - Label
 */
.link.label {
    display: none;
}

@media only screen and (min-width: 500px) {
    .link.label {
        display: inline;
    }
}

@media only screen and (min-width: 770px) {
    .top-right-links {
        top: 0;
        right: 0;
        position: absolute;
        width: auto;
        display: inline-block;
    }

    .top-right-links .skip-account, .top-right-links .header-miniquote, .top-right-links .header-minicart {
        position: relative;
        float: left;
    }

    .top-right-links .skip-link, .top-right-links .link {
        position: relative;
        top: 0;
        right: 0;
    }
}

.shipping-estimates #shipEstimates {
    margin: 5px 5px 5px 0px;
}

#addressCheckbox {
    margin-bottom: 40px;
}

#qquote-tbl-address {
    width: 100%;
    border: 0;
}

#billing-new-address-form {
    margin-top: 15px;
}

#quotelist .data-table {
    width: 100%;
}

.qquoteadv-view-view .order-info-box .box-title {
    width: 200px;
}
