.phone p, .twitt p {
    margin: 0;
    padding: 0;
    display: inline
}

.preview img {
    margin-left: 1px;
}

.product .product-tocart {
    margin-right: 7px;
}

.preview .product-tocart {
    margin-right: 5px;
}

.preview.small .product-tocart {
    margin-right: 7px;
}

.icon-basket {
    cursor: pointer
}

.preview.small img {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 1px;
}

.carousel.style0 .preview .product-tocart {
    margin-right: 7px;
}

.big_with_description .preview .product-tocart {
    margin-right: 7px;
    margin-top: 0px;
}

.big_with_description .big_image img {
    margin-top: 0px;
}

.category-products  .big_image img {
    margin-top: 0px
}

.category-products  .big_with_description .product-tocart {
    margin-top: 0px;
}

select, select:focus {
    height: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    .big_with_description .big_image img {
        margin-top: 0px;
        margin-right: 1px;
    }
}

#preloader .message {
    margin-top: 0px;
}

#preloader {
    top: 50%;
    margin-top: -20px;
}

.product .product-tocart a:hover {
    font-size: 20px !important;
}

.product .product-tocart a:hover i, .preview .product-tocart a:hover i {
    font-size: 20px !important;
}


#footer_bottom i:hover {
    font-size: 14px !important;
}

.line_above_footer {
    border-top: 1px solid #ECECEC;
    height: 1px;
    margin: 0 0 -1px;
    overflow: hidden;
    width: 100%;
}

#bottom_block {
    padding: 17px 0 25px;
}

.block-layered-nav .actions, .block-compare .actions {
    padding: 10px 0 10px 0
}

.listing_header_row1 a.icon-th-list.active, .listing_header_row1 a.icon-th.active {
    color: #666666
}

#carousel_tabs_content.load {
    height: 420px;
    margin-bottom: -36px;
    margin-top: -35px;
    overflow: hidden;
    padding-top: 25px;
}

#carousel_tabs_content.load > div {
    margin: 0 0 115px -10px;
}

#preloader .message {
    border: 0px
}

#preloader .message {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

#preloader .loader {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.product .product-name, .preview .product-name {
    height: 34px;
    overflow: hidden;
}

.small_with_description .product .product-name, .small_with_description  .preview .product-name {
    height: 15px;
}

.price_range {
    clear: both;
    float: none;
    margin: -6px 0 0;
}

.price_range #price_from {
    float: left
}

.price_range #price_to {
    float: right
}

.noUi-handle > div {
    left: -10px !important;
}

.product-shop .price-box {

    padding: 21px 0 10px;
}

.product-shop {
    width: 100%;
}

.product-shop .short-description {
    padding: 15px 0;


}

#review-form h3, #review-form h4 {
    font-family: arial;
    font-size: 12px;
    margin: 0 0 5px;
}

#product-attribute-specs-table {
    margin-bottom: 0;
}

.box-collateral.box-additional {
    margin: 41px 0 0 0
}

#product-review-table {
    margin: 2px 0 30px;
}

#customer-reviews dd {
    margin: 4px 0 23px 16px;
}

#customer-reviews dt {
    font-size: 14px;
}

.ratings-table {
    margin-bottom: 10px
}

.form-add {
    /*border-top:1px solid #D7D7D7;padding:16px 0 0 0*/
}

.rating-box .rating {
    margin-top: 0
}

.rating-links a {
    font-size: 12px
}

.add-to-links a {
    font-size: 12px
}

#topline {

    box-shadow: none;
}

.product-listing a.btn-cart {
    cursor: pointer;
}

.margin-2 {
    margin-top: 0px;
}

.table.shopping-cart-table input.qty {
    text-align: center;
}

.select_wrapper {
    width: 100%
}

#shipping-zip-form select {
    width: 99%
}

#discount-coupon-form, #shipping-zip-form {
    margin-bottom: 0
}

.table.shopping-cart-table-total th, .table.shopping-cart-table-total td {
    padding: 0 11px;
    font-weight: bold;
}

#checkoutSteps .form-list .input-box {
    clear: both;
    display: block;
    width: 100%;
}

#checkoutSteps .form-list input.input-text {

    width: 98%;
}

#checkoutSteps .form-list li.wide input.input-text {
    width: 98%;
}

#checkoutSteps .form-list .field {
    float: none;
    width: 100%;
}

#checkout-step-review .data-table thead th {
    background: none;
    color: #000
}

#checkout-step-review .data-table tfoot {
    border: 0
}

#checkout-progress-wrapper dt {
    border-bottom: 1px solid rgba(200, 200, 200, 0.2);
    padding: 4px 0;
    font-size: 12px;
    font-weight: normal;
}

#checkout-progress-wrapper dd {
    font-style: italic;
    margin-bottom: 20px;
    margin-left: 10px;
}

address {
    font-style: italic;
}

#checkout-progress-wrapper {
    margin-top: 44px;
}

#nav ul li {
    position: relative;
}

.flexslider {
    background: none
}

.shopempty strong {
    line-height: 25px
}

.tab-content {
    background: none repeat scroll 0 0 #FFFFFF;
}

.box-list {
    background: none repeat scroll 0 0 #FFFFFF;
}

.small_with_description .product .product-image-wrapper, .big_without_description .product .product-image-wrapper, .small_without_description .product .product-image-wrapper, .product-listing .product .product-image-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
}

.es-carousel .small_with_description .product {
    background: none
}

button, .button {
    color: #fff !important
}

.shopping_cart_mini .button {
    color: #000000 !important;
    margin-bottom: 5px;
}

.shopping_cart_mini .button:hover {
    color: #fff !important
}

#right_toolbar {
    right: 3px;
    z-index: 1002;
}

#right_toolbar .shopping_cart_mini {
    position: absolute;
    bottom: -110px;
    margin-right: 38px;
    right: 0;
    left: auto;
    top: auto;
}

#nav .menu_custom_block {
    padding: 20px 9px 26px;
}

.sbHolder {
    z-index: 1000;
}

.row.small_with_description {
    height: 266px
}

#wishlist-view-form .buttons-set.buttons-set2 .middleb {
    margin-left: 5px
}

.shopping_cart_grid .notice-msg {
    display: none
}

.shopping_cart_mini.empty {
    bottom: auto !important;
    top: -41px !important;
}

.preview {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);
}

#header.header_v_2 {
    z-index: 10000;
}

#super-product-table .price-box {
    padding: 0;
    margin: 0
}

.product-shop .add-to-cart {
    margin-top: 10px
}

#header.header_v_2 #nav > li > ul {
    border-top-width: 3px;
    top: 51px;
}

#header.header_v_2 .fadelink .ul_wrapper {
    border-top: 3px solid #333333;
    top: 51px;
}

.product .product-image-wrapper {
    padding: 5px;
}

.preview .big_image {
    padding-bottom: 5px;
}

.preview.small .big_image {
    padding-bottom: 0px;
}

.product-img-box .more-views li {

    text-align: center;
}


.preview .short{ border-top: 1px solid #ECECEC; padding: 17px 0 0 0; margin: 20px 0 0 0; font-size: 12px; line-height: 18px;}
.preview .short p{ margin: 0; padding: 0}

.add-to-links .icon-heart, .add-to-links .icon-popup, .add-to-links .icon-at:before {
    line-height: 20px;
    font-size: 14px;
}

em.required {
    color: red
}

.inpopup .price-box .price {

    text-shadow: 1px 1px 1px #FFFFFF;
}

.product .product-tocart a.outofstock, .preview .product-tocart a.outofstock {
     font-size: 15px !important;
     font-weight: bold;
 }

.product .product-tocart a.outofstock:hover, .preview .product-tocart a.outofstock:hover {
    font-size: 15px !important;
}
.product-listing a.outofstock{ display: block; font-weight: bold; font-size: 15px}
.sale_discount{
    color: #FFFFFF;
    font-family: arial;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    position: absolute;
    right: 9px;
    text-align: center;
    top: 130px;
    width: 40px;
    box-shadow: 0 0 11px #FFFFFF;
    -webkit-box-shadow: 0 0 11px #FFFFFF;
}
.product.hover .label_sale_top_right,.product.hover .label_sale_top_left,
.product.hover .label_new_top_right,.product.hover .label_new_top_left,
.small_with_description .preview .label_new_top_right,.small_with_description .preview .label_new_top_left,
.small_with_description .preview .label_sale_top_right,.small_with_description .preview .label_sale_top_left{ display: none}


.quickviewblock{}
.quickviewblock h1{ color: #000 !important}
.quickviewblock{ color: #000 }
.quickviewblock a{color: #000 !important}
@media (max-width: 1350px) and (min-width: 1000px) {
    .small_with_description .sale_discount{  top: 93px}

    a.quickview{left:80px}
    .with_media a.quickview{left:155px;}

    .small_with_description .span2.product  a.quickview{left: 36px; top: 32px;}
    .small_with_description .preview.small  a.quickview{left: 36px; top: 32px;}
    .small_with_description .preview.small .with_media a.quickview{left: 93px;}

    .big_with_description .span2.product  a.quickview{  left: 37px; top: 41px; }
    .big_with_description .preview.small  a.quickview{  left: 37px; top: 41px;}
    .big_with_description .preview.small .with_media  a.quickview{  left: 93px;}

}
@media (max-width: 999px) and (min-width: 768px) {
    .small_with_description .sale_discount{  display: none}
}
@media (max-width: 767px){
    .small_with_description .sale_discount{ top: 93px}
}

@media (max-width: 700px) {

    #wishlist-view-form .buttons-set.buttons-set2 .pull-left {
        float: right
    }

    #wishlist-view-form .buttons-set.buttons-set2 button {
        margin-bottom: 5px;
        margin-left: 5px
    }
}

@media (max-width: 1024px) {

    .product_related{ display: none}
}


@media (max-width: 979px) {

    ol#checkoutSteps .step >.pull-left, ol#checkoutSteps .step >.pull-right {
        float: none;
        margin-bottom: 20px;
    }

}

@media (max-width: 480px) {

    #checkoutSteps .form-list li.wide input.input-text, #checkoutSteps .form-list input.input-text {
        width: 92%;
    }

    #checkoutSteps .form-list select {
        width: 235px;
    }

    form#checkout_multishipping_form div.multiple-checkout select {
        width: 150px
    }

}

@media (max-width: 769px) {

    .col-2.col-wide {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 980px)
{
    .outofstock
    {
        display:none;
    }
}

@media (max-width: 986px) {

    #layerslider-container-fw {
        display: none
    }
}

@media (min-width: 1200px) {
    .product.hover, .product.hover .product-image-wrapper {
        box-shadow: none !important
    }
}

@media (max-width: 1600px) {
    .preview img {
        margin-left: 0px;
    }
}