.postWrapper {
    clear: both;
    padding-bottom: 70px;
}

.postTitle {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
    margin-bottom: 15px;
}

.postTitle h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.postTitle h3 {
    font-family: arial !important;
    font-size: 11px;
    margin: 0;
    padding: 2px 0;
    text-transform: none;
}

.postContent {
    padding-bottom: 10px;
}

.postDetails {

}

.postBookmarks {
    padding-bottom: 10px;
}

.postBookmarks h4 {

    font-size: 12px;

}

.commentWrapper {
    padding-bottom: 15px;
}

.commentContent {
    padding-bottom: 0px;
}

.commentDetails {
    margin-bottom: 5px;
    padding: 0px;
}

.commentDetails h4.username {
    display: inline;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    margin: 0;
    padding: 0;
    text-transform: none;
}

.postError {
    font-size: 16px;
}

.tags {
    font-weight: bold;
    padding-bottom: 10px;
}

.tags UL {
    display: inline;
}

.tags UL LI {
    font-weight: normal;
    display: inline;
    padding-right: 6px;
}

.tags h4 {
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}

.menu-tags, .menu-categories, .menu-recent {
    margin: 0px;
}

.menu-tags h5, .menu-categories h5, .menu-recent h5 {
    font-family: arial;
    font-size: 12px;
    font-style: normal;
}

.block-blog .menu-tags UL LI {
    display: inline;
    padding: 2px;
    margin-left: 10px;
}

.block-blog .menu-categories UL LI {
    margin-left: 10px;
}

.block-blog .menu-recent UL LI {
    margin-left: 10px;
}

.block-blog .menu-recent UL LI a, .block-blog .menu-categories UL LI a, .block-blog .menu-tags UL LI a {
    font-size: 12px;
}

.tagcloud {
    /* text-align:center; */
}

.tag-count-1 {
    font-size: 1em !important;
}

.tag-count-2 {
    font-size: 1.2em !important;
}

.tag-count-3 {
    font-size: 1.4em !important;
}

.tag-count-4 {
    font-size: 1.6em !important;
}

.tag-count-5 {
    font-size: 1.8em !important;
}

.tag-count-6 {
    font-size: 2em !important;
}

.tag-count-7 {
    font-size: 2em !important;
}

.tag-count-8 {
    font-size: 2em !important;
}

.tag-count-9 {
    font-size: 2em !important;
}

.tag-count-10 {
    font-size: 2em !important;
}

.block-blog .head h4 {
    padding-left: 20px;
}

.block-blog .block-title strong {
    background-repeat: no-repeat;

    text-align: left;
}

.postWrapper .poster {
    display: inline;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    margin: 0;
    padding: 0;
    text-transform: none;
}

.input-box.aw-blog-comment-area {
    width: 100%;
}

.widget-latest li {
    font-size: 12px;
    padding: 5px 10px;
}

.block-blog .menu-categories {
    margin: 0;
    padding: 0;
}

A.awblog_current_comment {
    text-decoration: none !important;
    font-weight: bold !important;
}
.menu-recent,.menu-categories,.menu-tags{ margin: 0 0 10px 0 !important}
.blog-cat-view .toolbar .pull-left.aligncenter.hidden-phone,.blog-post-view .toolbar .pull-left.aligncenter.hidden-phone{ display: none}