body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

#turboCurtain {
	/*font-size: 1px;
	background: url(images/tda_loading.gif) no-repeat;*/
	font-size: small;
	font-weight: bold;
	padding: 4px;
}

#tree {
 	font-size: 10px; 
}

#options {
	padding: 8px;
}

#options table {
	padding: 4px;
}

#options td {
	padding: 4px;
}

.opt_name {
}

.banner {
	background: url(images/logo.jpg) no-repeat;
	background-color: #ECF1FD;
	height: 40px;
	line-height: 40px;
}

.logo_link {
	border: 0;
	width: 200px;
	height: 40px;
}

.links {
 	float: right;
}

.links a {
	color: black;
	padding-right: 20px;
	font-size: small;
}

#messages img {
	vertical-align: middle;
}

.turbo-grid-inflight{
	background-color:#FFFFCC !important;
}

.turbo-grid-error{
	background-color:#FFD2D2 !important;
}

#sqlToolbar {
	/*height: 36px;
	vertical-align: middle;*/
}

.noscroll {
	overflow: hidden;
}
