<script>
	tda.options = { 
		setTheme: function(inTheme)
		{
			if (!inTheme)
			{
		    var cookie = dojo.io.cookie.get("style");
				inTheme = (cookie ? cookie : 'default');
			}
			else
				dojo.io.cookie.set("style", inTheme, 365);
			turbo.$('optTheme').value = inTheme;
			turbo.themes.setTheme(inTheme);			
		},
		_selectTheme: function(inSelect)
		{
			var t = inSelect.options[inSelect.selectedIndex].value;
			tda.options.setTheme(t);
		}
	}
	dojo.addOnLoad(function() {
		tda.options.setTheme('');
	});
</script>	

<div id="options">
  <table width="100%" cellspacing="0">
    <tr>
      <td width="9%" class="opt_name"><div align="right">Theme:</div></td>
      <td width="91%"><select id="optTheme" onchange="tda.options._selectTheme(this);">
          <option value="default">XP</option>
          <option value="H2O">H2O</option>
        </select></td>
    </tr>
<!--    
		<tr>
      <td><div align="right">Rows Per Page:</div></td>
      <td><input name="textfield" type="text" value="50" /></td>
    </tr>
-->  
	</table>
</div>
