/*
	Miniport 2.5 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 13pt;
	}

	h1
	{
		font-size: 3.25em;
		letter-spacing: -0.025em;
	}

	h2
	{
		font-size: 2em;
		letter-spacing: -0.015em;
	}
	
	h3
	{
		font-size: 1.5em;
		letter-spacing: -0.015em;
	}

	h1, h2, h3, h4, h5, h6
	{
		margin: 0 0 0.25em 0;
	}

	header
	{
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	}
	
		header > span
		{
			font-size: 1.25em;
		}

	footer
	{
		margin: 1em 0 0 0;
	}
	
		footer > p
		{
			font-size: 1.25em;
		}
	
	form
	{
	}
	
		form .button
		{
			margin: 0 0.5em 0 0.5em;
		}
	
	.button
	{
		padding: 1em 2.35em 1em 2.35em;
		font-size: 1.1em;
	}

		.button-big
		{
			font-size: 1.5em;
			letter-spacing: -0.025em;
		}

	.box
	{
	padding-top: 1em;
	padding-right: 2em;
	padding-bottom: 1em;
	padding-left: 2em;
	}

		.box h3
		{
			margin-bottom: 0.25em;
		}

		.box .image-centered
		{
			margin-bottom: 1.25em;
		}

		.box .image-full
		{
			position: relative;
			left: 2em;
			top: 2em;
			margin: -4em 0 4em -4em;
			width: auto;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
	text-align: center;
	padding-top: 2em;
	padding-right: 0;
	padding-bottom: 8em;
	padding-left: 0;
	}
	
		.wrapper-first
		{
			padding-top: 8em;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav a:hover
		{
			background: #b4131b;
		}
		
		#nav a:active
		{
			background: #484848;
		}
	
		#nav a
		{
			padding: 0.2em 1em 0.2em 1em;
			margin: 0.6em 0.2em 0.6em 0.2em;
			font-weight: 600;
			border-radius: 8px;
			-moz-transition: background-color .2s ease-in-out;
			-webkit-transition: background-color .2s ease-in-out;
			-o-transition: background-color .2s ease-in-out;
			-ms-transition: background-color .2s ease-in-out;
			transition: background-color .2s ease-in-out;
			color: #fff;
		}
		
/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

	#top
	{
		text-align: left;
	}

		#top .me
		{
			width: 20em;
		/*	height: 20em; */
			margin: 0;
		}

		#top h1
		{
	margin-top: 0.35em;
	line-height:.90em;
		}
	
		#top p
		{
	font-size: 1.5em;
	line-height: normal;
		}
		
	#contact
	{
	}
	
		#contact footer
		{
			font-size: 0.9em;
		}
		
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		font-size: 1em;
	}

		#copyright li
		{
			display: inline-block;
			border-left: solid 1px rgba(0,0,0,0.5);
			box-shadow: -1px 0px 0px 0px rgba(255,255,255,0.1);
			padding: 0 1em 0 1em;
		}
		
		#copyright li:first-child
		{
			border: 0;
			box-shadow: none;
			padding-left: 0;
		}
