<?php
require_once '/home/globalam/carp/carp.php';
// Add any desired configuration settings before CarpCacheShow
// using "CarpConf" and other functions


MyCarpConfReset();
// Show 3 items
CarpConf('maxitems',8);

CarpConf('cacheinterval',1);

CarpConf('descriptiontags','a href|a class|a|/a|br|ol|/ol|li|/li|ul|/ul|i|/i|img|strike|/strike');
CarpConf('encodingout','UTF-8');
CarpConf('iorder','image,link,desc');
CarpConf('bitems','<ul>');
CarpConf('aitems','</ul>');
CarpConf('bilink','<li style="margin-bottom: 5px;">');
CarpConf('aiimage','<br />');
CarpConf('ai','</li>');
CarpConf('defiimagew',60);
CarpConf('maxiimagew',60);

//CarpConf('bitems','<ul class="carpul" style="margin:0;">'); 
 
CarpConf('ilinkstyle', 'padding:0 0 3px 0; text-decoration:none; color:#00356E; line-height:80%; font-size:11px; font-weight: bold;');
CarpConf('maxititle',0);
CarpConf('atruncititle','...');
;
//CarpConf('bilink','<li style="float:left; margin:0 8px 0 0">- ');
//CarpConf('bilink','<li style="list-style-image: url('');">');
CarpConf('ilinktitles',0);
CarpConf('linktarget',1); 
CarpConf('poweredby','');





CarpCacheShow('http://www.globalamericaninc.com/extmotherboards/rss/catalog/category/cid/6/store_id/1/');
?>