.turbo_cbox {
	display: inline;
}

.turbo_cbox button {
	background-color: transparent;
	border: 0px solid;
	padding: 0 0 0 15px;
	height: 17px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-repeat: no-repeat;
	background-position: left;
}

.turbo_cboxOff {
	background-image:url(images/turbo_cboxOff.gif);
}

.turbo_cboxDown {
	background-image:url(images/turbo_cboxOn.gif);
}

.turbo_cboxOver {
	background-image:url(images/turbo_cboxOff.gif);
}

