.turbo_toolbtn, .turbo_toolbtn_over, .turbo_toolbtn_down {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.turbo_toolbtn {
	border: 1px solid #ECE9D8;
	background-color: #ECE9D8;
}

.turbo_toolbtn_over {
	border: 1px solid silver;
}

.turbo_toolbtn_down {
	border: 1px solid gray; 
	background-color:#E6EFFF;
}
