.turbo-button {
  display: inline;
	white-space: nowrap;
	text-align: center;
}

.turbo-button button {
	background-color: transparent;
	border: 0 solid;
	padding: 0;
	height: 23px;
	line-height: 23px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

.turbo-button-mid {
	background-image:url(images/turbo_btnMid.gif);
}

.turbo-button-mid-over {
	background-image:url(images/turbo_btnMidHi.gif);
}

.turbo-button-mid-down {
	background-image:url(images/turbo_btnMidDown.gif);
}

.turbo-button-left {
	width: 4px;
	background: url(images/turbo_btn.gif);
}

.turbo-button-left-over {
	width: 4px;
	background: url(images/turbo_btn.gif) -8px 0;
}

.turbo-button-left-down {
	width: 4px;
	background: url(images/turbo_btn.gif) -16px 0;
}

.turbo-button-right {
	width: 4px;
	background: url(images/turbo_btn.gif) -4px 0;
}

.turbo-button-right-over {
	width: 4px;
	background: url(images/turbo_btn.gif) -12px 0;
}

.turbo-button-right-down {
	width: 4px;
	background: url(images/turbo_btn.gif) -20px 0;
}
