.turbo-toolbar, .turbo-toolbar-list {
	background-color: #ECE9D8;
	vertical-align: middle;
	padding: 3px 2px 2px 2px;
	border-bottom: 1px solid #E0DBBE;
	white-space: nowrap;
}

.turbo-toolbar-list button div {
	display: inline;
}

.turbo-toolbar-list button img {
	vertical-align: middle;
	padding-right: 4px;
}