.turbo-tree {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	overflow: auto;
}

.turbo-tree .turbo-tree-scroller {
	white-space: nowrap;
}

.turbo-tree img {
	vertical-align: middle;
}

.turbo-tree span {
}

.turbo-tree-content {
}

.turbo-tree-content-selected {
	background-color: #0000FF;
	color: white;
}