.turbo_rangebarLeft {
	overflow: hidden;
	height: 17px;
	background-image: url(images/turbo_rangebarLeft.gif); 
	background-position: top left;
	/*
	position: relative; 
	*/
}

.turbo_rangebarRight {	
	overflow: hidden;
	height: 100%;
	background-image: url(images/turbo_rangebarRight.gif); 
	background-position: top right; 
	margin-left: 2px;
	/*
	position: relative; 
	*/
}

