.turbo_list
{
	overflow: hidden;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FF99FF;
}

.turbo_list_header
{
	overflow: hidden;
	/* width: auto; */ /*-- doesn't work in IE */
	width: 100%; /* broken CSS box model means this width will likely be bigger than the inner edge of the host */
	border: 1px solid brown;
	background-color: #FFFFCC;
}

.turbo_list_header_content
{
	width: 4096px;
	height: 21px; 
	line-height: 21px;
	padding: 0 4px 0 4px;
}

.turbo_list_scroller
{
	overflow: auto;
	border: 1px solid gray;
}

.turbo_list_even 
{
	background-color: white;
}

.turbo_list_odd
{
	background-color: #FCFAF6;
}

.turbo_list_over
{
	background-color: #E2F3FC;
}

.turbo_list_selected
{
	background-color: #0033CC;
	color: white;
}
