.turbo_boxTable {
	padding: 0px;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
}

.turbo_boxTop {
	height: 33px;
	font-size: 11px;
	font-weight: bold;
}

.turbo_boxBottom {
	height: 23px;
}

.turbo_boxLeft, .turbo_boxRight {
	width: 24px;
}

.turbo_boxMid {
}
