.turbo_radio {
	display: inline;
}

.turbo_radio button {
	background-color: transparent;
	border: 0 solid;
	padding: 0 0 0 15px;
	height: 17px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-repeat: no-repeat;
	background-position: center left;
}

.turbo_radioOff {
	background-image:url(images/turbo_radioOff.gif);
}

.turbo_radioDown {
	background-image:url(images/turbo_radioOn.gif);
}

.turbo_radioOver {
	background-image:url(images/turbo_radioOff.gif);
}

