.turbo_grid
{
	overflow: hidden;
	height: 100%; 
}

.turbo_grid, .turbo_grid select, .turbo_grid input
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.turbo_grid_header
{
	position: relative;
	overflow: hidden;
	/* width: auto; */ /*-- doesn't work in IE */
	width: 100%; /* broken CSS box model means this width will likely be bigger than the inner edge of the host */
	border: 1px solid #F0F0F0;
}

.turbo_grid_header_content
{
	width: 4096px;
	height: 30px; 
}

.turbo_grid_container
{
	position: relative;
}

.turbo_grid_scroller
{
	position: relative;
	overflow: auto;
	border: 1px solid #F0F0F0;
}

.turbo_grid_row 
{ 
}

.turbo_grid_selected
{
	color: white;
	background-color: #0033CC;
}

/*
.turbo_grid_even 
{
	background-color: white;
}

.turbo_grid_odd
{
	background-color: #FCFAF6;
}

.turbo_grid_over
{
	background-color: #E2F3FC;
}
*/

.turbo_data_row
{
	position: relative;
	height: 28px; 
}

.turbo_data_cell, .turbo_header_cell
{
	position: absolute;
	overflow: hidden;
	height: 20px; /* row - 7; 2px border + 2px Padding + 4px Margin = 8 */
	line-height: 20px;
	/*
	width: 94px; 
	*/
	/* width - 6; 4 px Padding + 2 px Outer margin = 6 */
	margin: 2px 0 2px 1px;
	padding: 2px 1px 0 4px;
	white-space: nowrap;
}

.turbo_data_cell
{
	border: 1px solid #F5F5F5;
}

.turbo_header_cell
{
	border: 1px solid #E0E0E0;
}

* html .turbo_ie_floathack 
{
	margin-right: -3px;
}

.turbo_grid_float 
{
	float: left; 
	width: 32px; 
	height: 100%; 
	overflow: hidden;
}

.turbo_grid_corner
{
	width: 100%; 
	height: 30px; 
	background-color: silver;
}

.turbo_grid_column 
{
	height: 100%; 
	overflow: hidden;
}