<!--@subject Question replied@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px; color: #039;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                
                <a href="{{store url=''}}"><img src="{{skin url="images/logo_email.gif" _area="frontend" _package="default" _theme="blank"}}" alt="{{var store.getFrontendName()}}" /></a>
                </td>
            </tr>
        </table>
        </td></tr>
        <tr><td align="center" valign="top">
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                  <p>
                        <strong>Hello {{var data.question_author_name}}</strong>,<br>
                    Thank you for your interest in Global American products and services. <br>
                        <br>
We have received your Quote Request and will reply shortly with your Quote.<br>
              </p></td></tr>

<!--
<tr>
  <td>
<span style="color:#ff0000; font-weight:bold;">PLEASE NOTE: </span><span style="color:#000000; font-weight:bold;">Global American will be closed from December 21st, 2012<br>
at 3:30 p.m. EST
  through January 1st, 2013.
<p>We will re-open for business at 8 a.m. EST on January 2nd, 2013.  All quotes requested during shutdown will be attended to upon our return.  Have a happy and safe holiday!</p></span></td></tr>
-->

<tr><td>
                      <br>
                      Global American specializes in building custom systems to meet your needs of reliability, longevity and cost effectiveness.  We do so with our Team of over 25 years experience in the business and other leading Partners in the Industrial market.<br>
  <br>
                      Please call us Monday - Friday, 8am - 5pm EST, at 603-886-3900 or 800-833-8999 (toll-free in USA only), to see how we can create a custom solution for you.  You can also contact us anytime by clicking <a href="http://www.globalamericaninc.com/contacts" style="color:#1E7EC8;">here</a>.

                    
              <p>Your quote confirmation is below.</p>

                    <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">Your Quote Request <small>(requested on {{var data.question_date}})</small></h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Contact Information:</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                <strong>Name:</strong> {{var data.question_author_name}}<br><br>
                                <strong>Company:</strong> {{var data.question_author_company}}<br><br>
                                <strong>Email:</strong> <a href="mailto:{{var data.question_author_email}}">{{var data.question_author_email}}</a><br><br>
                                <strong>Phone:</strong> {{var data.question_author_phone}}<br><br>
                                <strong>Qty:</strong> {{var data.question_author_qty}}<br><br>
                                <strong>Preferred Contact:</strong> {{var data.question_author_preferred}}<br><br>
                                <strong>Product:</strong> <a href="{{var product_url}}">{{var data.question_product_sku}} {{var data.question_product_name}}</a>
							</td>     
                        </tr>


                        </tbody>
                    </table>
                <br>
          		<br>
                </td></tr>
                <tr><td align="center" valign="top">

                    
<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border:1px solid #bebcb7; background:#f8f7f5;">
    <thead>
        <tr>
            <th align="left" bgcolor="#d9e5ee" style="padding:3px 9px">Customer Comments</th>
        </tr>
    </thead>
<tr><td>{{var data.question_text}}</td></tr>
</table>
<br>


                    <p>Thank you again,<br><strong>{{var store.getFrontendName()}}</strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>


</table>
</div>