.opc .cart_checkout_table {}
.opc .cart_checkout_table .step-title{
	 background: none repeat scroll 0 0 #E5E5E5;
    border: 1px solid #C0C0C0;
}
.opc .cart_checkout_table .step-title span.number{
	  background: none repeat scroll 0 0 #CCCCCC;
    border: medium none;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
    margin-top: 3px;
    padding: 1px;
    text-align: center;
    width: 18px;
}
.opc .cart_checkout_table .step-title h2{
	 color: grey;
    font-size: 13px;
    line-height: 23px;
    text-shadow: 0 1px 0 white;
}

.opc .cart_checkout_table .step{border:1px solid #c0c0c0;border-top:none;
background:white;
}
.opc .cart_checkout_table .step dl {}
.opc .cart_checkout_table .step dd {margin-bottom:10px;}
.opc .cart_checkout_table .step dt { color: #7C7C7C;
    line-height: 20px;}

.opc .cart_checkout_table .step label {font-weight:normal;color:#7C7C7C}

