.opc .cart_checkout_table {}
.opc .cart_checkout_table .step-title{
	 background: none repeat scroll 0 0 #DBDBDB;
    border: 1px solid #CCCCCC;
    border-radius:5px 5px 0px 0px;
    border-bottom:1px solid #A0A0A0;
    box-shadow:0 1px 2px #C0C0C0
    
}
.opc .cart_checkout_table .step-title span.number{
	background: none repeat scroll 0 0 #37A7E6;
    border: medium none;
    box-shadow: 0 0 1px 2px white;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 4px;
    margin-top: 5px;
    padding: 2px 1px 1px;
    text-align: center;
    width: 18px;
}
.opc .cart_checkout_table .step-title h2{
	color: #3A3A3A;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 3px;
    text-shadow: 0 1px 0 white;
}

.opc .cart_checkout_table .step{border:1px solid #c0c0c0;border-top:none;
background:#F9F9F9;
border-top:1px solid white;
 border-radius:0px 0px 5px 5px;
 box-shadow:0 1px 2px #C0C0C0;
}
.opc .cart_checkout_table .step dl {}
.opc .cart_checkout_table .step dd {margin-bottom:10px;}
.opc .cart_checkout_table .step dt { color: #7C7C7C;
    line-height: 20px;}

.opc .cart_checkout_table .step label {font-weight:normal;color:#7C7C7C}


.cart_checkout_table input[type="text"], .cart_checkout_table  input[type="password"], .cart_checkout_table  select , .cart_checkout_table textarea {
border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 white;
    padding: 6px;

}

.cart_checkout_table input[type="text"]:focus, 
.cart_checkout_table input[type="password"]:focus, 
.cart_checkout_table textarea:focus, 
.cart_checkout_table select:focus {
border: 1px solid #37A7E6;
    border-radius: 3px 3px 3px 3px;
    background:#F2FAFF;
    box-shadow: 0 0 3px #37A7E6;
    padding: 6px;
}

.reviewbuttoncont button.btn-checkout span {
background: none repeat scroll 0 0 #37A7E6;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font: bold 14px/36px arial,helvetica,sans-serif;
    height: 36px;
    padding: 0 27px;
}
.discount button span { background: none repeat scroll 0 0 #37A7E6;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font: bold 12px/30px arial,helvetica,sans-serif;
    height: 29px;
    padding: 0 27px;}

.opc li.section  {border:none}