.opc .cart_checkout_table {}
.opc .cart_checkout_table .step-title{
	 background: none repeat scroll 0 0 #AA0303;
    border: 1px solid  #7F0101;
}
.opc .cart_checkout_table .step-title span.number{
	   background: none repeat scroll 0 0 #CCCCCC;
    border: medium none;
    color: black;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
    margin-top: 3px;
    padding: 1px;
    text-align: center;
    width: 18px;
}
.opc .cart_checkout_table .step-title h2{
	 color: white;
    font-size: 13px;
    line-height: 23px;
    text-shadow: 0 1px 0 #7F0101;
}

.opc .cart_checkout_table .step{border:1px solid #7F0101;border-top:none;
background:white;
}
.opc .cart_checkout_table .step dl {}
.opc .cart_checkout_table .step dd {margin-bottom:10px;} 
.opc .cart_checkout_table .step dt { color:black;
    line-height: 20px;}

.opc .cart_checkout_table .step label {font-weight:bold;color:black}


.reviewbuttoncont button.btn-checkout span {
background: none repeat scroll 0 0 #AA0303;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font: bold 14px/36px arial,helvetica,sans-serif;
    height: 36px;
    padding: 0 27px;
}
.discount button span { background: none repeat scroll 0 0 #AA0303;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font: bold 12px/30px arial,helvetica,sans-serif;
    height: 29px;
    padding: 0 27px;}

.opc li.section  {border:none}
  


.cart_checkout_table input[type="text"], .cart_checkout_table  input[type="password"], .cart_checkout_table  select , .cart_checkout_table textarea {

    padding: 6px;

}

.cart_checkout_table input[type="text"]:focus, 
.cart_checkout_table input[type="password"]:focus, 
.cart_checkout_table textarea:focus, 
.cart_checkout_table select:focus {
border: 1px solid #AA0303;

    background:#F8F7F5;
    
    padding: 6px;
}

