body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #eae7e7;
}

.container {
    width: 100%;
    height: 100%;
    min-width: 600px;
}

#header {
    display: inline-block;
    padding: 1.5em;
    margin-bottom: 5em;
}

#header img#logo {
    height: 100%;
}

#content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: 100%;
    height: 5em;
    margin-top: 25px;
    margin-bottom: 25px;
}

.row img.state, .row img.follow {
    height: 72px;
    width: auto;
}

.row span img.icon {
    height: 14px;
    margin-left: 5px;
}

.row span {
    margin-left: 2.5em;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
    color: #000;
}

#tooltip {
    font-family: Ubuntu, sans-serif;
    font-size: 0.875em;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, .5);
    line-height: 1.5;
    color: #fff;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, .8)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
    background: -ms-radial-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
    background: -o-linear-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
    background: linear-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #333;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    position: absolute;
    z-index: 100;
    padding: 15px;
}

#tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    border-top-color: rgba(0, 0, 0, .7);
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #333;
    border-bottom-color: rgba(0, 0, 0, .6);
    top: -20px;
    bottom: auto;
}

#tooltip.left:after {
    left: 10px;
    margin: 0;
}

#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}