<!--@subject {{var quote.getStoreGroupName()}}: New CRM message # {{var quote.increment_id}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650"
                       style="border:1px solid #E0E0E0;">
                    <!-- [ header starts here] -->
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url=" images/logo_email.gif"
                            _area='frontend'}}" alt="{{var quote.getStoreGroupName()}}" style="margin-bottom:10px;"
                            border="0"/></a></td>
                    </tr>
                    <td>
                        <!-- [ content comes here] -->
                        {{var crmaddonBody}}
                    </td>
                    <tr>
                        <td>
                            <p><i>Conditions:{{depend remark}}<br/>{{var remark}}<br/>{{/depend}}</i><br>
                                If you have any questions about your quote request please contact us at <a
                                        href="mailto:{{config path='trans_email/ident_support/email'}}"
                                        style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or
                                call us at <span class="nobr">{{config path='general/store_information/phone'}}</span>
                                Monday - Friday, 8am - 5pm PST. {{depend adminname}}This message was sent by: {{var
                                adminname}}{{/depend}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                            <center><p style="font-size:12px; margin:0;">Thank you, <strong>{{var
                                quote.getStoreGroupName()}}</strong></p></center>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>