<!--@subject {{var quote.getStoreGroupName()}}: お見積依頼 # {{var quote.increment_id}} 受付のお知らせ @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650"
                       style="border:1px solid #E0E0E0;">
                    <!-- [ header starts here] -->
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.png"
                            _area='frontend'}}" alt="{{var quote.getStoreGroupName()}}" style="margin-bottom:10px;"
                            border="0"/></a></td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">こんにちは
                            {{var customer.name}}様</h1>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                <strong>こんにちは {{var customer.name}}様</strong><br/><br>
                                {{var quote.getStoreGroupName()}} でのお見積依頼のご用命ありがとうございます。<br><br>
                                48時間以内に担当者よりご連絡を致します。<br>
                                <a href="{{store url=" customer/account/"}}" style="color:#1E7EC8;">マイページにログイン</a>することでお見積依頼の状況をご確認いただけます。<br><br>
                                お見積内容に関するご質問は <a
                                    href="mailto:{{config path='trans_email/ident_support/email'}}"
                                    style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> までメールにてお問い合せいただくか、
                                <span class="nobr">{{config path='general/store_information/phone'}}</span> までお電話ください。
                                月曜 - 金曜 午前8時 ~ 午後5時まで受付しております。
                            </p>

                            <p style="font-size:12px; line-height:16px; margin:0;">ご依頼、ありがとうございます。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 style="font-size:18px; font-weight:normal; margin:0;">お見積依頼 #{{var quote.increment_id}}
                                <small>(ご依頼日 {{var quote.getCreatedAtFormated('long')}})</small>
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" border="0" width="650">
                                <thead>
                                <tr>
                                    <th align="left" width="325" bgcolor="#EAEAEA"
                                        style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">連絡先住所:
                                    </th>
                                    <th width="10"></th>
                                    <th align="left" width="325" bgcolor="#EAEAEA"
                                        style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">ご要望に対するコメント
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top"
                                        style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                        {{var quote.getShippingAddressFormatted().format('html')}}
                                    </td>
                                    <td>&nbsp;</td>
                                    <td valign="top"
                                        style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                        {{var quote.getClientRequest()}}&nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{layout handle="qquoteadv_email_qquoteadv_items" quote=$quote}} <br>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                            <center><p style="font-size:12px; margin:0;">ご利用ありがとうございました, <strong>{{var
                                quote.getStoreGroupName()}}</strong></p></center>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
