
<?php if ($this->canCheckout()):?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/checkout.js') ?>"></script>
<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>

<?php $this->getA()?>
<?php // echo $this->getChildHtml("oneclickcartcheckout.billing")?>
<?php //echo $this->getChildHtml("shipping_method")?>
<?php // echo $this->getChildHtml("payment")?>

 

  <h1><?=$this->__("Checkout")?></h1>
    <form id="checkoutform" method="POST" action="<?php echo $this->getUrl('oneclickcartcheckout/checkout/saveOrder') ?>" >
   
    <ol class="opc">
    <table class="cart_checkout_table">
        <tr>
            <td colspan="<?php if(Mage::getStoreConfig('checkout/oneclickcartcheckout/comment_status')!=1) echo "2"; else echo "1";?>" class="billing_section">
                <li class="section active">
                    <?=$this->getChildHtml("oneclickcartcheckout.billing")?>    
                </li> 
            </td>
            <td>
                 <li class="section active">
                    <?=$this->getChildHtml("payment")?>    
                </li> 
            </td>
        </tr>
        <tr>
            <td>
            <li class="section active" id="shipping_method_section">
            	<?=$this->getChildHtml("shipping_method")?>
            </li>
            </td>
          <td>                              
             <li class="section active section-comment">
			            	<?=$this->getChildHtml("order_comment")?>
			            </li>
           </td>
            <td>
              <li class="section active section-coupon">
                 <?=$this->getChildHtml("coupon2")?>
                        </li>
            <div id="reviewCheckout">
            <?php echo $this->getChildHtml("review")?>
            d
            <?php echo $this->getChildHtml("agreements")?>
            d
            <?php echo $this->getChildHtml("button")?>
            
<!--        		<div id='checkoutloader' class='checkoutloader' style="width:100%;height:150px"></div>-->
            </div>
            
           </td> 	
        </tr>
    </table>
    
    </ol>
    </form>
    
    
    <script type="text/javascript">
    //<![CDATA[
    Event.observe(window, 'load', function() {
        var shippingMethod = new ShippingMethod('co-shipping-method-form', "<?php echo $this->getUrl('oneclickcartcheckout/checkout/saveShippingMethod') ?>");
	});

    updateCartUrl = "<?php echo $this->getUrl('oneclickcartcheckout/checkout/updateCart') ?>";

    Event.observe(window, 'load', function() {

        
        
  });
    //]]>
    
    </script>
    <?php endif;?>