/*
ATTENTION! changes in this css file will be overwritten. If you want to change this template change file  \app\design\frontend\default\buyshop\template\custom\cssrefresh\colors.phtml
*/
    /*CAPTIONS*/
    /*font*/

#megamenu ul.rows_outer ul.menu_row li.col li.title a,.quickview,.opc .step-title .number, button.button-2x, .button.button-2x, .nav-list li a, h3, #footer_popup h3, #footer_popup h4, h1, h4, .custom_blocks .box a, .product-shop .product-name h1, .block .block-title, .button, #nav > li > a, h2, #content h2 {
    font-family: 'Coda'
}

    /*text color*/
h4, h1, .block-title, h2, h2 a {
    color: #000000;
}
    
    /*text color 2*/
    /*GENERAL*/

    /*Theme color*/

.countdown_inner,#megamenu ul.rows_outer ul.menu_row li.col li.title span,a.quickview:hover,.sale_discount,.dashboard .box-tags .number, .button_small, #topline a.button_small, .data-table thead th, .flexslider.vertical .flex-direction-nav a:hover, button.button-3x, .button.button-3x, .button, .flexslider.banners .flex-direction-nav a:hover, a.btn, .loader-slider, .nav-header > a, .nav-list > li > a:hover, button, .form-search button, .form-mail button, .shoppingcart .fadelink span a, .shopping_cart_mini .button:hover, a.small_icon_color i, .middle_icon_color, .nav-tabs > li > a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .direction-nav a:hover, .es-nav a.btn:hover {
    background-color: #004b9f;
}
#header.header_v_2 #nav li.level1:hover {
    border-left: 4px solid #004b9f;
}
.cloud-zoom-lens {
    border: 2px solid #004b9f;
}

.checkout-progress li.active, #nav > li > ul, #nav li:hover .menu_custom_block {
    border-top-color: #004b9f;
}
#collapsed-menu li.active > label > a,#nav li.active > a, #collapsed-menu .nav-list li.active > a,.price-label,#megamenu span.inside i,.flex-next .icon-up, .flex-prev .icon-down, a.fancy-zoom,#megamenu i, #megamenu em,.tparrows i,.product-listing a.outofstock,a.icon-trash-2, .block-account .block-content li.current, .product-img-box .more-views li i, .listing_header_row1 a.icon-th.active, .listing_header_row1 a.icon-th-list.active, .listing_header_row1 a.icon-th:hover, .listing_header_row1 a.icon-th-list:hover, a:hover .custom_color, a.custom_color:hover, #header.header_v_2 #nav li li li a:hover, h4 [class^="icon-"], #carousel_tabs a.active, h2 a:hover, .preview .product-tocart a, .rating strong i, .custom_color, a .custom_color, .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover, .flex-direction-nav a, h2 i, h2 span, #nav > li:hover > a, .nav-list li li a:hover, #topline a, .product .product-tocart a, .twit a, .twit .icon, .form-login button i {
    color: #004b9f;
}
.in.collapse li.active > a{
color: #004b9f !important;
}
.quickviewblock .price{color: #004b9f !important;}

.style2 .es-nav, .custom_blocks .box .inside, .tab-content, #nav li:hover .menu_custom_block, #header.header_v_2 .bylink li li:hover a, #header.header_v_2 #nav li li li:hover {
    border-color:#004b9f;
}
.flexslider.banners {
    border-bottom: 5px solid #004b9f;
}
.box-wrapper .line {
    border-top: 5px solid #004b9f;
}
    
    /*Theme hover color */
.flexslider.more-views .flex-direction-nav a:hover, .button_small:hover, #topline a.button_small:hover, .promo_box:hover div, .button:hover, button:hover, .form-search button.btn:hover, .form-mail button.btn:hover, .shoppingcart:hover .fadelink span a, a.small_icon_color:hover i, button:hover, .form-search button.btn:hover, .form-mail button.btn:hover, .shoppingcart:hover .fadelink span a, a.small_icon_color:hover i {
    background-color: #00829f;
}
.preview .product-tocart a:hover, .product-img-box .more-views li a i:hover, .product .product-tocart a:hover, a.custom_color:hover {
    color:#00829f}
#footer_bottom a i:hover {
    color:#00829f !important
}
    


    /*Input hover color (focus border) */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #003c80;
}
    
    /*Text color*/
body, ul#poll-answers .label {
    color:#000000}

    
    /*Link color*/
a, .listing_header_row1 a[class^="icon-"] {
    color:#000000}
    
    /*Link color:hover*/
.block-account .block-content li a:hover, a:hover {
    color:#003c80}

    
    /****************************************CONTENT******************************************/
    /*Text color*/
    /*Link color*/
    /*Link color:hover*/


    /*HEADER TOOL LINE v2*/
    /*Header tool line (top and bottom line)*/
    /*Text Color*/
#topline {
    color:#9b9b9b;
}
    
    /*Link Color*/
#topline a, #topline .login_social span.custom_color {
    color:#FF6C28;
}
    
    /*Link Color Hover*/
#topline a:hover {
    color:#FF6C28;
}
    
    /*Background Color*/
#topline, .form-login-wrapper {
    background-color:#333333;
}
    
    /*Shadow*/
#topline {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.27);
}
    
    /*Phone*/
#topline .phone span {
    color:#ffffff;
}
    
    /*Drop down boxes*/
    /*Link Color*/
#topline .fadelink li a, #topline .fadelink > a {
    color:#b6b6b6;
}
    
    /*Link Color Hover*/
#topline .fadelink li a:hover, #topline .fadelink > a:hover {
    color:#b6b6b6;
}
    
    /*Link Color Hover*/
#topline .fadelink .ul_wrapper ul, #topline .fadelink > a {
    background-color:#4a4a4a;
}
    
    /*Border Color*/

    /*Arrow Image*/

    /*Background Color*/

    /*Background Image*/




    /*HEADER / NAVIGATION*/
    /*Text Color*/
.category_desc_in_menu p, #nav, #nav h1 {
    color:#000000;
}
    
    /*Link Color*/
#nav li li a {
    color:#000000;
}
    
    /*Link Color:hover*/
#header.header_v_2 #nav li.level1 > a:hover, #nav li li li a:hover {
    color:#000000;
}
    
    /*Link Color 1st level*/
#nav > li > a, ul#level1.in li a {
    color:#000000;
}
    


    /*LABEL MENU ITEM BG COLOR*/
#collapsed-menu span.badge,#megamenu ul.rows_outer ul.menu_row li.col li.title span.hot{background:#ff0000}

    

    /*BG Image*/


    /*CONTENT*/
    /*Background Color*/

    /*Background Image*/

    /*FOOTER INFO*/
    /*bg color*/

    /*bg image*/

    /*text color*/
#bottom_block {
    color: #000000;
}
    
    /*captions color*/
#bottom_block h4 {
    color: #000000;
}
    
    /*link color*/
#bottom_block a {
    color: #000000;
}
        /*bold color*/
#bottom_block b, #bottom_block strong, .name a {
    color: #000000 !important;
}
    


    /*link hover color*/
#bottom_block a:hover {
    color: #000000;
}
    
    /*Line color*/
.line_above_footer {
    border-top: 1px solid #ececec;
}
    
    /*FOOTER POPUP*/
    /*Text Color*/
#footer_popup, #footer_popup .form-mail input {
    color: #959595;
}
        /*Caption Text Color*/
#footer_popup h3, #footer_popup h4 {
    color: #ffffff;
}
        /*Link Color*/
#footer_popup a {
    color: #959595;
}
        /*Link Hover Color*/
#footer_popup a:hover {
    color: #959595;
}
        /*Background Color*/
#footer_popup {
    background-color: rgba(0, 0, 0, 0.85);
}
    
    /*FOOTER*/
    /*Text Color*/
#footer_bottom {
    color: #959595;
}
        /*Link Color*/
#footer_bottom a, #footer_bottom a i, #footer_button {
    color: #ffffff;
}
        /*Link Hover Color*/
#footer_bottom a:hover, #footer_bottom a i:hover {
    color: #ffffff;
}
        /*Background Color*/
#footer_line, #footer_button {
    background-color:#333333;
}
    

    /*DELIMITERS*/
    /*Delimeter Content Image*/
    /*Delimeter Footer Image*/

.product, .small_with_description .product .product-image-wrapper, .big_without_description .product .product-image-wrapper, .small_without_description .product .product-image-wrapper, .product-listing .product .product-image-wrapper {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
}
        .preview, .product, .small_with_description .product .product-image-wrapper, .big_without_description .product .product-image-wrapper, .small_without_description .product .product-image-wrapper, .product-listing .product .product-image-wrapper {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
    }

            
    /*PRICE*/
.price {
    color:#000000;
    font-family: 'Arial'
}
    .product_info_left .price {
    color:#000000;
}
    /*ICON ANIMATION*/
.product .product-tocart a:hover i, .preview .product-tocart a:hover i,
.btn:hover i.icon-right-thin,
.btn:hover i.icon-left-thin,
.flex-next:hover  i.icon-right-thin,
.flex-prev:hover i.icon-left-thin,
i.icon-star:hover,
a.icon-trash-2:hover,
i.icon-trash-3:hover,
i.icon-edit-1:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}

.btn:hover i.icon-left-thin,
.flex-prev:hover i.icon-left-thin {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}
.custom_blocks .box:hover .icon_circle i {
    font-size: 40px;
    -moz-transition: all 0.2s 0s ease;
    -o-transition: all 0.2s 0s ease;
    -webkit-transition: all 0.2s 0s ease;
}
    
.block a.icon-trash-2:hover{
    -webkit-transform:none ;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
}
