﻿<!--@subject {{var quote.getStoreGroupName()}}: New Quote request # {{var quote.increment_id}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650"
                       style="border:1px solid #E0E0E0;">
                    <!-- [ header starts here] -->
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url=" images/logo_email.gif"
                            _area='frontend'}}" alt="{{var quote.getStoreGroupName()}}" style="margin-bottom:10px;"
                            border="0"/></a></td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Olá
                            {{var customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                Obrigado pelo seu pedido de cotação - {{var quote.getStoreGroupName()}}.
                                Dentro de 48 horas você receberá nossa proposta.
                                Você pode verificar o andamento do seu pedido <a href="{{store url=" customer/account/"}}"
                                style="color:#1E7EC8;">acessando sua conta</a>.
                                Se você tem alguma dúvida sobre seu pedido de cotação entre em contato conosco pelo
                                email <a href="mailto:{{config path='trans_email/ident_support/email'}}"
                                         style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> ou
                                por telefone <span class="nobr">(555) 555-0123</span> Segunda - Sexta, 8:00 - 17:00
                                (Horário de Brasí­lia).
                            </p>

                            <p style="font-size:12px; line-height:16px; margin:0;">Thank you again for your trust.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 style="font-size:18px; font-weight:normal; margin:0;">Seu pedido de cotação #{{var
                                quote.increment_id}}
                                <small>(solicitada em {{var quote.getCreatedAtFormated('long')}})</small>
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" border="0" width="650">
                                <thead>
                                <tr>
                                    <th align="left" width="325" bgcolor="#EAEAEA"
                                        style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Informações de
                                        Envio:
                                    </th>
                                    <th width="10">&nbsp;</th>
                                    <th align="left" width="325" bgcolor="#EAEAEA"
                                        style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Observações do
                                        pedido
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top"
                                        style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                        {{var quote.getBillingAddress().format('html')}}
                                    </td>
                                    <td>&nbsp;</td>
                                    <td valign="top"
                                        style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                        {{var quote.getClientRequest()}}&nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{layout handle="qquoteadv_email_qquoteadv_items" quote=$quote}} <br>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                            <center><p style="font-size:12px; margin:0;">Obrigado, <strong>{{var
                                quote.getStoreGroupName()}}</strong></p></center>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
