﻿<!--@subject {{var quote.getStoreGroupName()}}: Quote request # {{var quote.increment_id}} is rejected @-->

<!--@styles
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url=" images/logo_email.gif"
                            _area='frontend'}}" alt="Magento" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Olá {{var customer.name}}</strong>,<br/><br>
                                Seu pedido de cotação {{var quote.getStoreGroupName()}} número # {{var
                                quote.increment_id}} foi cancelado.<br><br>
                                Você pode verificar o andamento do seu pedido de cancelamento <a href="{{store url="
                                                                                                 customer/account/"}}"
                                style="color:#1E7EC8;">acessando sua conta.</a>.<br><br>
                                Se você tem alguma dúvida sobre como fazer um pedido de cotação novo entre em contato
                                conosco pelo email <a href="mailto:dummyemail@magentocommerce.com"
                                                      style="color:#1E7EC8;">dummyemail@magentocommerce.com</a> ou por
                                telefone <span class="nobr">(555) 555-0123</span> Segunda - Sexta, 8:00 - 17:00 (Horário
                                de Brasília).
                            </p><br>

                            <p style="font-size:12px; margin:0;">Obrigado, <strong>{{var
                                quote.getStoreGroupName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>               
