﻿<!--@subject {{var quote.getStoreGroupName()}}: New Proposal for Quote request # {{var quote.increment_id}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650"
                       style="border:1px solid #E0E0E0;">
                    <!-- [ header starts here] -->
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url=" images/logo_email.gif"
                            _area='frontend'}}" alt="{{var quote.getStoreGroupName()}}" style="margin-bottom:10px;"
                            border="0"/></a></td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Olá
                            {{var customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                Obrigado por sua <span style="font-size: 1.05em; padding-bottom: 1px;">cotação</span>{{var
                                quote.getStoreGroupName()}}.
                                {{if attach_pdf}}<br><br>
                                Veja em anexo o arquivo em formato PDF.{{/if}}
                                {{if attach_doc}} Nossos termos e condições também estarão descritas no PDF.{{/if}}
                                <br>
                                Para visualizar todos os detalhes, editar ou aceitar sua proposta visite <a
                                    style="color:#1E7EC8;" href="{{var link}}">Minhas Cotações</a> em seu painel de
                                cliente.
                                {{if quote.getPath()}}<br><br>
                                O arquivo{{var quote.getFileTitle()}} pode ser descarregado aqui: {{var
                                quote.getFullPath()}}{{/if}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 style="font-size:18px; font-weight:normal; margin:0;">Seu pedido de cotação #{{var
                                quote.increment_id}}
                                <small>(solicitada em{{var quote.getCreatedAtFormated('long')}})</small>
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" border="0" width="650">
                                <thead>
                                <tr>
                                    <th align="left" width="325" bgcolor="#EAEAEA"
                                        style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Informações de
                                        Envio:
                                    </th>
                                    <th width="10"></th>
                                    <th align="left" width="325" bgcolor="#EAEAEA"
                                        style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Observações da
                                        proposta
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top"
                                        style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                        {{var quote.getBillingAddress().format('html')}}
                                    </td>
                                    <td>&nbsp;</td>
                                    <td valign="top"
                                        style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                        {{var quote.getClientRequest()}}&nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{layout handle="qquoteadv_email_qquoteadv_items" quote=$quote autoproposal=1}} <br>

                            <p><i>Condições:{{depend remark}}<br/>{{var remark}}<br/>{{/depend}}</i></p>

                            <p><br>
                                Se você tem alguma dúvida sobre sua <span
                                        style="font-size: 1.05em; padding-bottom: 1px;">cotação</span> entre em contato
                                conosco pelo email<a href="mailto:{{config path='trans_email/ident_support/email'}}"
                                                     style="color:#1E7EC8;">{{config
                                    path='trans_email/ident_support/email'}}</a> ou por telefone <span class="nobr">{{config path='general/store_information/phone'}}</span>
                                Segunda - Sexta, 8:00 - 17:00 (Horário de Brasília).</p>

                            <p> {{depend adminname}}Essa cotação foi criada por: {{var adminname}}{{/depend}} </p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                            <center><p style="font-size:12px; margin:0;">Obrigado, <strong>{{var
                                quote.getStoreGroupName()}}</strong></p></center>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
