<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#layerslider').layerSlider({
            skinsPath :'<?php echo $this->getSkinUrl('css/skins/')?>',
            skin : 'fullwidth',
            thumbnailNavigation : 'hover',
            navPrevNext : false,
            navButtons : false,
            navStartStop : false,
            responsive : false,
            responsiveUnder : 940,
            sublayerContainer : 900
        });
        jQuery('a.ls-nav-prev').click(function() { jQuery('#layerslider').layerSlider('prev')})
        jQuery('a.ls-nav-next').click(function() { jQuery('#layerslider').layerSlider('next')})
    });
</script>
<div class="container">
    <section class="slider">
        <div id="layerslider-container-fw">
            <div id="layerslider" style="height: 495px;">
                <?php
                $slides = $this->getDataSlides();
                foreach($slides as $slide)
                {
                    echo str_replace(array('{{BASE}}media/',"<div class=\"ls-layer\""), array(Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA), "<div class='ls-layer' onClick=\"window.location='".$slide['link']."'\" "),$slide['slide_html_code']);
                }
                ?>
                <a class="ls-nav-prev" href="#" style="display: block;" onclick="return false;"><i class='icon-left-thin'></i></a>
                <a class="ls-nav-next" href="#" style="display: block;" onclick="return false;"><i class='icon-right-thin'></i></a>
            </div>

        </div>
    </section>
</div>

