<?php if(Mage::getStoreConfig('buyshoplayout/general/footer_info')):?>
<div class="line_above_footer"></div>
<div id="bottom_block" itemscope itemtype="http://schema.org/LocalBusiness">

    <meta itemprop="name" content="Global American, Inc">
    <meta itemprop="telephone" content="800-833-8999">    
    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> 
        <meta itemprop="streetAddress" content="17 Hampshire Drive">
        <meta itemprop="addressLocality" content="Hudson">
        <meta itemprop="addressRegion" content="NH"> 
        <meta itemprop="postalCode" content="03051">
        <meta itemprop="addressCountry" content="United States">
    </span>
    <meta itemprop="url" content="http://www.globalamericaninc.com/">
    <meta itemprop="image" content="http://www.globalamericaninc.com/skin/frontend/default/blank/images/Logo-25years.jpg">



    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="row">
                    <div class="span3">
                        <h4><i class="icon-vcard"></i><?php echo Mage::getModel('cms/block')->setStoreId(Mage::app()->getStore()->getId())->load('buyshop_about_in_footer')->getTitle()?></h4>
                        <div class="cleancode">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('buyshop_about_in_footer')->toHtml() ?>
                        </div>
                        <br />
                        <?php echo $this->getChildHtml('store_switcher');?>
                    </div>
                    <div class="span3">
                        <?php echo $this->getChildHtml('fb_fan_box') ?>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="row">
                    <div class="span3">
                        <?php echo $this->getChildHtml('twitter') ?>
                    </div>
                    <div class="span3">
                        <h4><i class="icon-mail"></i><?php echo Mage::getModel('cms/block')->setStoreId(Mage::app()->getStore()->getId())->load('buyshop_contacts_in_footer')->getTitle()?></h4>
                        <div class="cleancode">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('buyshop_contacts_in_footer')->toHtml() ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="push"></div>
</div>

<?php endif; ?>