.cart_checkout_table {width:100%}
.cart_checkout_table td {padding:5px}
.cart_checkout_table td.billing_section {
    width:50%;    
}
.cart_checkout_table td.billing_section input[type='text'],
.cart_checkout_table td.billing_section input[type='password'],
.cart_checkout_table td.billing_section select
{width:100%}

.cart_checkout_table td.billing_section .field {width:46%;margin-left:3px;margin-right:3px}
.cart_checkout_table td.billing_section .input-box 
{
    width:0px !important; 
    width:94% !important; }

.cart_checkout_table .step {padding-left:10px;padding-right:10px;padding-top:7px}
.cart_checkout_table .wide .input-box {}
.checkoutloader {
    background-image:url(../../images/oneclickcartcheckout/ajax-loader.gif);
    background-position:center;
    width:100px;
    height:100px;
    background-position:center center;
    background-color:white;
    background-repeat:no-repeat;
    
}
.section-comment textarea {
    height: 84px;
    width: 408px;
}
.decreaseItem, .increaseItem {
    cursor:pointer;font-size:15px;font-weight:bold;width:14px;height:14px;
    display:block;
}
.decreaseItem {background-image:url(../../images/oneclickcartcheckout/decrease.jpg);}
.increaseItem {background-image:url(../../images/oneclickcartcheckout/increase.jpg);}

.qty_table {width:50px}
.qty_table td{  background-color: white;
    border: medium none !important;
    padding: 0;
    vertical-align: middle;}
.qty_value {padding-left:5px;padding-right:5px;font-weight:bold;}
.cart .totals {display:none}
#review-buttons-container .f-left {display:none}
#coupon_code {  margin-bottom: 9px;
    width: 99%;} 
#coupon-section {margin-bottom:10px} 
#toggleShipping {margin-top:5px;display:block;cursor: pointer}
#shipping-info {margin-top:10px;}
.opc .buttons-set {display:none;}
.opc .checkout-agreements {
 border-color: #D9DDE3;
    border-style: none;
    border-width: 0 1px 1px;
    margin-bottom: 10px;
    padding: 5px 30px;
}
.reviewbuttoncont .button {float:right}
.loginHelp a {cursor:pointer;}
.icalendar {
	
    float: left;
    height: 16px;
    margin-left: 5px;
    margin-top: 1px;
    width: 37px;
}
#pdd {  background-image: url("../../images/oneclickcartcheckout/icalendar.gif");
    background-position: 2px 2px;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    padding: 4px 4px 4px 20px;}
.reviewbuttoncont {margin-top:10px;}