<!--@subject Welcome, {{var customer.name}}! @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url=" images/logo_email.gif" _area='frontend'}}"
                            alt="Magento" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Dear {{htmlescape var=$customer.name}}</strong>,<br/>
                                Welcome to Demo Store. An account was created for you so that we can handle your
                                Request. In a short time you will receive confirmation of your this Quote Request. You
                                can use the details below to login and follow the status of your request.

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                Use the following values when prompted to log in:<br/>
                                E-mail: {{var customer.email}}<br/>
                                Password: {{htmlescape var=$customer.password}}

                            <p>

                            <p>When you log in to your account, you will be able to do the following:</p>

                            <ul>
                                <li>Edit, reject and accept price proposals</li>
                                <li>Check the status of orders and quotes</li>
                                <li>View past orders and re-order</li>
                                <li>Make changes to your account information</li>
                                <li>Change your password</li>
                                <li>Store alternative addresses (for shipping to multiple family members and friends!)
                                </li>
                            </ul>

                            <p>If you have any questions about your account or any other matter, please feel free to
                                contact us at <a href="mailto:magento@varien.com" style="color:#1E7EC8;">dummyemail@magentocommerce.com</a>
                                or by phone at (555) 555-0123.</p>

                            <p>Thanks again!</p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>