<!--@subject {{var quote.getStoreGroupName()}}: New Quote request # {{var quote.increment_id}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650"
                       style="border:1px solid #E0E0E0;">
                    <!-- [ header starts here] -->
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="/skin/frontend/buyshop/default/images/logo_email.gif"
                            _area='frontend'}}" alt="Global American, Inc." style="margin-bottom:10px;"
                            border="0"/></a></td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Hello
                            {{var customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                Thank you for your interest in Global American products and services. <br />
                        <br />
We have received your Quote Request and will reply shortly with your Quote.<br />
              </p></td></tr>

<!--
<tr> <td><span style="color:#ff0000; font-weight:bold;">PLEASE NOTE: </span><span style="color:#000000; font-weight:bold;">Global American will be closed from June 27th at 5 p.m. EST through July 6th,<br />
reopening on Monday, July 7th at 8 a.m. EST. All quote and support requests placed during this time will be immediately attended to upon our return. Have a safe and happy holiday.</p></span></td></tr>
-->


<tr><td>
                      <br />
                      Global American specializes in building custom systems to meet your needs of reliability, longevity and cost effectiveness.  We do so with our Team of over 25 years experience in the business and other leading Partners in the Industrial market.<br />
  <br />
                      Please call us Monday - Friday, 8am - 5pm EST, at 603-886-3900 or 800-833-8999 (toll-free in USA only), to see how we can create a custom solution for you.  You can also contact us anytime by clicking <a href="http://www.globalamericaninc.com/contacts" style="color:#1E7EC8;">here</a>.
                    </p>
              <p>Your quote confirmation is below.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 style="font-size:18px; font-weight:normal; margin:0;">Your Quote Request #{{var
                                quote.increment_id}}
                                <small>(placed on {{var quote.getCreatedAtFormated('long')}})</small>
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" border="0" width="650">
                                <thead>
                                <tr>
                                    <th align="left" width="325" bgcolor="#EAEAEA"
                                        style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Shipping
                                        Information:
                                    </th>
                                    <th width="10">&nbsp;</th>
                                    <th align="left" width="325" bgcolor="#EAEAEA"
                                        style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Remarks with
                                        Request
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top"
                                        style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                        {{var quote.getShippingAddressFormatted().format('html')}}
                                    </td>
                                    <td>&nbsp;</td>
                                    <td valign="top"
                                        style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                        {{var quote.getClientRequest()}}&nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{layout handle="qquoteadv_email_qquoteadv_items" quote=$quote}} <br>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                            <center><p style="font-size:12px; margin:0;">Thank you, <strong>Global American, Inc.</strong></p></center>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
