<!--@subject {{var quote.getStoreGroupName()}}: New Quote request # {{var quote.increment_id}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url=" images/logo_email.gif"
                            _area='frontend'}}" alt="Magento" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Hello {{var customer.name}}</strong>,<br/><br>
                                Thank you for your Quote Request from {{var quote.getStoreGroupName()}}.<br><br>
                                Within the next 48 hours you can expect our proposal.<br>
                                You can check the status of your Request by <a href="{{store url=" customer/account/"}}"
                                style="color:#1E7EC8;">logging into your account</a>.<br><br>
                                If you have any questions about your quote request please contact us at <a
                                    href="mailto:dummyemail@magentocommerce.com" style="color:#1E7EC8;">dummyemail@magentocommerce.com</a>
                                or call us at <span class="nobr">(555) 555-0123</span> Monday - Friday, 8am - 5pm PST.
                            </p><br>

                            <p>Thank you again for your trust.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>               