<!--@subject {{var quote.getStoreGroupName()}}: New Quote request # {{var quote.increment_id}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif"
                            _area='frontend'}}" alt="Magento" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Hello {{var customer.name}}</strong>,<br /><br />
                                Thank you for your interest in Global American products and services. <br />
                        <br /></p>
                         <br /><p>
                      Global American specializes in building custom systems to meet your needs of reliability, longevity and cost effectiveness.  We do so with our Team of over 25 years experience in the business and other leading Partners in the Industrial market.<br />
  <br />
                      Please call us Monday - Friday, 8am - 5pm EST, at 603-886-3900 or 800-833-8999 (toll-free in USA only), to see how we can create a custom solution for you.  You can also contact us anytime by clicking <a href="http://www.globalamericaninc.com/contacts" style="color:#1E7EC8;">here</a>.
                    </p>
              <p>Your quote confirmation is below.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>               
