<?php if ($_productCollection=$this->getLoadedProductCollection()): ?>
<!--BESTSELLERS-->

<h2><?php echo $this->getBlockName(); ?></h2>
<div class="carousel es-carousel-wrapper style0" id="carousel_bestsellers">
<div class="es-carousel">
<div class="row">
<div class="product_outer">

<?php foreach ($_productCollection as $_product): ?>
    <?php  if(!$_product->isSaleable() && !Mage::getStoreConfig('cataloginventory/options/show_out_of_stock'))continue; ?>
    <?php
     $widthBig=129;
    $heightBig=122;
    $widthSmall=35;
    $heightSmall=32;

    $price=$this->getPriceHtml($_product, true);

    ?>
    <!--PRODUCT-->


    <!--PRODUCT EOF-->

<!--PRODUCT-->
    <?php  echo Mage::helper('buyshopconfig')->getProductHtml($_product,$this,$widthBig,$heightBig,3,false,true,false,true,$price)?>
    <?php echo Mage::helper('buyshopconfig')->getProductHover($_product,$this,$widthBig,$heightBig,$widthSmall,$heightSmall,$type='',true,true,$price)?>
<!--PRODUCT EOF-->



<?php endforeach ?>







</div>
</div>
</div>
</div>

<!--BESTSELLERS EOF-->

<script type="text/javascript">
    jQuery(function(){
        if(jQuery('.carousel').parent().attr('id')!='carousel_tabs_content'){
            jQuery('.carousel.style0').elastislide({
                easing: 'easeInQuart',
                speed: 400,

            });
        }


    })
</script>



<?php endif; ?>