<!--@subject {{var quote.getStoreGroupName()}}: New Quote request # {{var quote.increment_id}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url=" images/logo_email.gif"
                            _area='frontend'}}" alt="Magento" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Ciao {{var customer.name}}</strong>,<br/><br>
                                Grazie per la tua richiesta di preventivo su {{var quote.getStoreGroupName()}}.<br><br>
                                In meno di 24 ore riceverai la nostra proposta.<br>
                                Puoi controllare lo stato del preventivo effettuando <a href="{{store url=" customer/account/"}}"
                                style="color:#1E7EC8;">il login con il tuo account</a>.<br><br>
                                Per ogni domanda non esistare a contattarci <a href="mailto:info@gadgetsitalia.com"
                                                                               style="color:#1E7EC8;">info@gadgetsitalia.com</a>
                                o chiamaci al <span class="nobr"> 0364 598 439</span> dal Lunedi al Venerdi, 8.00 -
                                19.00 .
                            </p><br>

                            <p>Grazie ancora per la fiducia!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>               