<!--@subject {{var quote.getStoreGroupName()}}: Quote request # {{var quote.increment_id}} is rejected @-->

<!--@styles
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url=" images/logo_email.gif"
                            _area='frontend'}}" alt="Magento" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Ciao {{var customer.name}}</strong>,<br/><br>
                                Il tuo preventivo di {{var quote.getStoreGroupName()}} con il numero # {{var
                                quote.increment_id}} e' stato cancellato.<br><br>
                                Tu puoi controllare lo stato della richiesta effettuando il <a href="{{store url="
                                                                                               customer/account/"}}"
                                style="color:#1E7EC8;">login</a>.<br><br>
                                Per ogni domanda non esistare a contattarci <a href="mailto:info@gadgetsitalia.com"
                                                                               style="color:#1E7EC8;">info@gadgetsitalia.com</a>
                                o chiamaci al <span class="nobr"> 0364 598 439</span> dal Lunedi al Venerdi, 8.00 -
                                19.00 .
                            </p><br>

                            <p>Arrivederci dal {{var order.getStoreGroupName()}} team</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>               
