<?php
$results=$this->getSuggestProducts();
$suggests=Mage::helper('catalogsearch')->getSuggestCollection();
?>

        <ul class="ajaxsearch">
<?php
if($this->enabledSuggest())
if($results->count()&&$this->enabledPreview())
  foreach($results as $pro)
  {
      $description=substr($pro->getDescription(),0,$this->getNumDescriptionChar());
      $description=strip_tags(substr($description,0,strrpos($description,' ')));
    ?>
      <li class="item">
          <a class="product-image" title="<?php echo $pro->getName()?>" href="<?php echo $pro->getProductUrl()?>">
              <img alt="Apple MacBook Pro MA464LL/A 15.4&quot; Notebook PC" src="<?php echo $this->helper('catalog/image')->init($pro, 'small_image')->resize(74,74)?>">
          </a>
          <div class="product-detailes">
              <a class="product-name" href="<?php echo $pro->getProductUrl()?>"><?php echo $pro->getName()?></a>
              <div class="product-price">
                  <span class="price"><?php echo Mage::helper('buyshopconfig')->price(Mage::getModel('catalog/product')->load($pro->getId()))?></span>
              </div>
          </div>
      </li>
    <?php

  }

?>

</ul>

