.turbo-buttonH2O {
}

.turbo-buttonH2O button {
	height: 26px;
	line-height: 26px;
}

.turbo-buttonH2O .turbo-button-mid {
	background-image:url(images/turbo_btnH2OMid.gif);
}

.turbo-buttonH2O .turbo-button-mid-over {
	background:url(images/turbo_btnH2OMidHi.gif);
}

.turbo-buttonH2O .turbo-button-mid-down {
	background-image:url(images/turbo_btnH2OMidDown.gif);
}

.turbo-buttonH2O .turbo-button-left {
	width: 12px;
	background: url(images/turbo_btnH2O.gif);
}

.turbo-buttonH2O .turbo-button-left-over {
	width: 12px;
	background: url(images/turbo_btnH2O.gif) -24px;
}

.turbo-buttonH2O .turbo-button-left-down {
	width: 12px;
	background: url(images/turbo_btnH2O.gif) -48px;
}

.turbo-buttonH2O .turbo-button-right {
	width: 12px;
	background: url(images/turbo_btnH2O.gif) -12px;
}

.turbo-buttonH2O .turbo-button-right-over {
	width: 12px;
	background: url(images/turbo_btnH2O.gif) -36px;
}

.turbo-buttonH2O .turbo-button-right-down {
	width: 12px;
	background: url(images/turbo_btnH2O.gif) -60px;
}
.turbo_cboxH2O {
	display: inline;
}

.turbo_cboxH2O button {
	border: 0 solid;
	padding: 0 0 0 18px;
	height: 19px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
}

.turbo_cboxH2OOff {
	background-image:url(images/turbo_cboxOff.gif);
}

.turbo_cboxH2ODown {
	background-image:url(images/turbo_cboxOn.gif);
}

.turbo_cboxH2OOver {
	background-image:url(images/turbo_cboxOff.gif);
}

.turbo-grid-H2O {
	border: 1px solid #7A7A7A;
	background-image: url(images/bgH2O.gif);
}

.turbo-grid-H2O .turbo-grid-status {
	background-color: white;
	background-image: url(images/bgH2O.gif);
}

.turbo-grid-H2O .turbo-grid-corner {
	background-color: white;
	background-image: url(images/bgH2O.gif);
	border: 1px solid #D3D3D3;
	border-left-style: none;
	border-top-style: none;
}

.turbo-grid-H2O .turbo-grid-col {
	background-color: white;
	background-image:url(images/fixedH2O.gif);
}

.turbo-grid-H2O .turbo-grid-col td {
	border: 1px solid #D3D3D3;
	border-left-style: none;
	border-top-style: none;
}

.turbo-grid-H2O .turbo-grid-hdr {
	background-color: white;
	background-image: url(images/bevelH2O.gif);
}

.turbo-grid-H2O .turbo-grid-hdr th {
}

.turbo-grid-H2O .turbo-grid-hdr .turbo-grid-over {
	background-color: #F6F6F6;
}

.turbo-grid-H2O .turbo-grid-hdr .turbo-grid-down {
	background-color: #F6F6F6;
	padding-top: 2px;
	padding-bottom: 0px;
}

.turbo-grid-H2O .turbo-grid-bevel {
	height: 1px;
	background-color: #C7C7C7;
}

.turbo-grid-H2O .turbo-grid-bevel-over {
	height: 1px;
	background-color: #CEEAFF;
}

.turbo-grid-H2O .turbo-grid-dta td {
	border: solid 1px #E1E1E1;
	border-left-style: none;
	border-top-style: none;
	padding: 2px;
	padding-left: 6px;
	cursor: default;
}

.turbo-grid-H2O .turbo-grid-row-0 {
}

.turbo-grid-H2O .turbo-grid-row-1 {
	background-color:#F7FAFD;
}

.turbo-grid-H2O .turbo-grid-row-over {
	background-color: #CEEAFF;
}

.turbo-grid-H2O .turbo-grid-selected {
	background-color: #0033CC;
	color: white;
}

.turbo-grid-H2O .turbo-grid-editing {
	background-color: #CCFFCC;
}

.turbo-grid-H2O .turbo-grid-dta input {
}

.turbo-grid-H2O .turbo-grid-dta textarea {
}

.turbo-grid-H2O .turbo-grid-dta select {
}
.turbo-pagebarH2O {
}

.turbo-pagebarH2O .turbo-pagebar-tabs {
	background-image: url(images/turbo_tabbarH2O.gif);
	height: 51px;
	text-align: center;
}

.turbo-pagebarH2O .turbo-pagebar-pages {
	background-image: url(images/H2OBgDark.gif);
	border: none;
}
.turbo_radioH2O 
{
	display: inline;
}

.turbo_radioH2O button
{
	background-color: transparent;
	border: 0 solid;
	padding: 0 0 0 18px;
	height: 19px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-repeat: no-repeat;
	background-position: center left;
}

.turbo_radioH2OOff
{
	background-image:url(images/turbo_radioOff.gif);
}

.turbo_radioH2ODown
{
	background-image:url(images/turbo_radioOn.gif);
}

.turbo_radioH2OOver
{
	background-image:url(images/turbo_radioOff.gif);
}

.turbo_rangebarH2OLeft {
	position: relative; 
	height:19px;
	background-image: url(images/turbo_rangebarH2OLeft.gif); 
}

.turbo_rangebarH2ORight {
	position: relative; 
	height:100%;
	background-position: right; 
	background-image: url(images/turbo_rangebarH2ORight.gif); 
}

.turbo_sliderH2OLeft {
	background-image: url(images/turbo_sliderH2OBar.gif); 
	height:5px;
}

.turbo_sliderH2ORight {
	background-image: url(images/turbo_sliderH2OBar.gif); 
}

.turbo_sliderH2OThumb {
	background-image: url(images/turbo_sliderH2OThumb.gif); 
	top: -7px;
	width: 19px; 
	height: 19px;
}
.turbo_tabbarH2O {
	background-image: url(images/turbo_tabbarH2O.gif);
	height: 51px;
	text-align: center;
}
.turbo-tabH2O {
}

.turbo-tabH2O button {
	height: 34px;
	line-height: 34px;
	font-weight: bold;
}

.turbo-tabH2O .turbo-tab-left {
	width: 8px;
	background:url(images/turbo_tabH2O.gif);
}

.turbo-tabH2O .turbo-tab-left-over {
	width: 8px;
	background:url(images/turbo_tabH2O.gif) -16px;
}

.turbo-tabH2O .turbo-tab-left-down {
	width: 8px;
	background:url(images/turbo_tabH2O.gif) -32px;
}

.turbo-tabH2O .turbo-tab-mid {
	background-image:url(images/turbo_tabH2OMid.gif);
}

.turbo-tabH2O .turbo-tab-mid-over {
	background-image:url(images/turbo_tabH2OMidHi.gif);
}

.turbo-tabH2O .turbo-tab-mid-down {
	background-image:url(images/turbo_tabH2OMidDown.gif);
}

.turbo-tabH2O .turbo-tab-right {
	width: 8px;
	background:url(images/turbo_tabH2O.gif) -8px;
}

.turbo-tabH2O .turbo-tab-right-over {
	width: 8px;
	background:url(images/turbo_tabH2O.gif) -24px;
}

.turbo-tabH2O .turbo-tab-right-down {
	width: 8px;
	background:url(images/turbo_tabH2O.gif) -40px;
}
.turbo-toolbarH2O, .turbo-toolbarH2O-list {
	background-color: transparent;
	background-image: url(images/H2OBgDark.gif);
}

.turbo_toolbtnH2O, .turbo_toolbtnH2O_over, .turbo_toolbtnH2O_down {
}

.turbo_toolbtnH2O {
	border: 1px solid #F2F2F2;
	background-color: transparent;
}

.turbo_toolbtnH2O_over {
	border: 1px dotted silver; 
	background-color: #F6F6F6;
}

.turbo_toolbtnH2O_down {
	border: 1px solid gray; 
	background-color: #E6EFFF
}
.turbo-treeH2O {
	background-image: url(images/bgH2O.gif);
}
