.turbo-tabH2O {
}

.turbo-tabH2O button {
	height: 34px;
	line-height: 34px;
	font-weight: bold;
}

.turbo-tabH2O .turbo-tab-left {
	width: 8px;
	background:url(images/turbo_tabH2O.gif);
}

.turbo-tabH2O .turbo-tab-left-over {
	width: 8px;
	background:url(images/turbo_tabH2O.gif) -16px;
}

.turbo-tabH2O .turbo-tab-left-down {
	width: 8px;
	background:url(images/turbo_tabH2O.gif) -32px;
}

.turbo-tabH2O .turbo-tab-mid {
	background-image:url(images/turbo_tabH2OMid.gif);
}

.turbo-tabH2O .turbo-tab-mid-over {
	background-image:url(images/turbo_tabH2OMidHi.gif);
}

.turbo-tabH2O .turbo-tab-mid-down {
	background-image:url(images/turbo_tabH2OMidDown.gif);
}

.turbo-tabH2O .turbo-tab-right {
	width: 8px;
	background:url(images/turbo_tabH2O.gif) -8px;
}

.turbo-tabH2O .turbo-tab-right-over {
	width: 8px;
	background:url(images/turbo_tabH2O.gif) -24px;
}

.turbo-tabH2O .turbo-tab-right-down {
	width: 8px;
	background:url(images/turbo_tabH2O.gif) -40px;
}
