.turbo_cboxH2O {
	display: inline;
}

.turbo_cboxH2O button {
	border: 0 solid;
	padding: 0 0 0 18px;
	height: 19px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
}

.turbo_cboxH2OOff {
	background-image:url(images/turbo_cboxOff.gif);
}

.turbo_cboxH2ODown {
	background-image:url(images/turbo_cboxOn.gif);
}

.turbo_cboxH2OOver {
	background-image:url(images/turbo_cboxOff.gif);
}

