.turbo_rangebarH2OLeft {
	position: relative; 
	height:19px;
	background-image: url(images/turbo_rangebarH2OLeft.gif); 
}

.turbo_rangebarH2ORight {
	position: relative; 
	height:100%;
	background-position: right; 
	background-image: url(images/turbo_rangebarH2ORight.gif); 
}

