.turbo_toolbtnH2O, .turbo_toolbtnH2O_over, .turbo_toolbtnH2O_down {
}

.turbo_toolbtnH2O {
	border: 1px solid #F2F2F2;
	background-color: transparent;
}

.turbo_toolbtnH2O_over {
	border: 1px dotted silver; 
	background-color: #F6F6F6;
}

.turbo_toolbtnH2O_down {
	border: 1px solid gray; 
	background-color: #E6EFFF
}
