.turbo-pagebarH2O {
}

.turbo-pagebarH2O .turbo-pagebar-tabs {
	background-image: url(images/turbo_tabbarH2O.gif);
	height: 51px;
	text-align: center;
}

.turbo-pagebarH2O .turbo-pagebar-pages {
	background-image: url(images/H2OBgDark.gif);
	border: none;
}
