.turbo_radioH2O 
{
	display: inline;
}

.turbo_radioH2O button
{
	background-color: transparent;
	border: 0 solid;
	padding: 0 0 0 18px;
	height: 19px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-repeat: no-repeat;
	background-position: center left;
}

.turbo_radioH2OOff
{
	background-image:url(images/turbo_radioOff.gif);
}

.turbo_radioH2ODown
{
	background-image:url(images/turbo_radioOn.gif);
}

.turbo_radioH2OOver
{
	background-image:url(images/turbo_radioOff.gif);
}

