body {
	color: #000000;
	font-size: 14px;
	font-family: Tahoma, sans-serif;
	}
table { 
	margin-left:auto; margin-right:auto; 
	}
table.lefty {
	margin-left:0%;	
	}
th {
	background-color: #606060;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	font-family: "Tahoma", Tahoma, sans-serif;
	}
td {
	background-color:#E8E8E8;
	}
td.notWrapped
	{
	white-space:nowrap;
	}
td.redFlow
	{
	background-color:#FF0000;
	border-style:dashed;
	border:thin;
	height:80;
	width:300;
	}
td.greenFlow
	{
	background-color:#00FF00;
	border-style:dashed;
	border:thin;
	height:80;
	width:300;
	}
td.connectFlow
	{
	border-right:thick;
	}
	
a img {
	border: 0;
	}
a:link {
	color: blue;
	text-decoration: none; 
	}
a:visited {
	color: purple;
	text-decoration: none; 
	}
a:hover {
	color: green;
	text-decoration: none; 
	}	
h1 {
	color: #00BFFF;
	font-weight: bold;
	font-family: "Tahoma", Tahoma, sans-serif;
	font-size: 18px;
	}
h2 {
	color: #FF0000;
	font-weight: bold;
	font-family: "Tahoma", Tahoma, sans-serif;
	font-size: 18px;
	}
.big-blue {
	color: #00BFFF;
	font-weight: bold;
	font-family: "Tahoma", Tahoma, sans-serif;
	font-size: 18px;
	}
.small-red {
	color: #FF0000;
	font-weight: bold;
	font-family: "Tahoma", Tahoma, sans-serif;
	font-size: 10px;
	}
.big-red {
	color: #FF0000;
	font-weight: bold;
	font-family: "Tahoma", Tahoma, sans-serif;
	font-size: 18px;
	}
.big-yellow {
	color: #FFFF00;
	font-weight: bold;
	font-family: "Tahoma", Tahoma, sans-serif;
	font-size: 18px;
	}
.head-text {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	font-family: "Tahoma", Tahoma, sans-serif;
	}
.title-text {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	font-family: "Tahoma", Tahoma, sans-serif;
	}
.small-text {
	color: #000000;
	font-size: 10px;
	font-family: "Tahoma", Tahoma, sans-serif;
	}
.form-button {
	background-color: #008000; font-weight: bold; font-size: 12px; color: white;
	}
.form-button:hover {
	background-color: #00D000; font-weight: bold; font-size: 12px; color: white;
	}