body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #303030;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    
    -webkit-font-smoothing:antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
}

header {
    min-height: 111px;
    background: #2e2e2e;
    background: url(../img/dark-bg.jpg);
}
.no-multiplebgs { background: url(../img/dark-bg.jpg) }
#logo {
    margin-top: 16px;
}
#logo h1 {
    margin-bottom: 0;
    font-size: 20px;
	padding-left: 85px;
}
#logo h1 a {
    color: #f1f1f1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
#logo h1 a:hover {
    text-decoration: none;
    color: #bfbfbf;
}
#main-menu { margin-top: 20px }
#main-menu ul {
    float: right;
    margin: 0;
}
#main-menu ul li {
    margin-left: 30px;
    list-style: none;
    float: left;
}
#main-menu ul li a {
    cursor: pointer;
    font-weight: bold;
    color: #ccc;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
}
#main-menu ul li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
}
#main-menu ul li a:active {
    -webkit-transform: translatey(1px);
    transform: translatey(1px);
}

p { color: #777 }

/* new clearfix  */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix { zoom: 1 }
/* IE6 */
*:first-child + html .clearfix { zoom: 1 }
/* IE7 */
.divider,
.divider_padding,
.dark_divider,
.divider_fancy
 {
    display: block;
    margin-bottom: 35px;
    padding-top: 20px;
    width: 100%;
}
.divider {
    border-bottom: 1px solid #E1E1E1;
    -webkit-box-shadow: 0 2px 0 0 rgba(150, 150, 150, 0.05);
    -moz-box-shadow: 0 2px 0 0 rgba(150, 150, 150, 0.05);
    box-shadow: 0 2px 0 0 rgba(150, 150, 150, 0.05);
}

.divider_fancy {
	background:url('../img/fancy-divider.png') no-repeat center center;
	height:8px;
	margin-top: 7px;
	margin-bottom: 15px;
}

.dark_divider {
border-bottom: 1px solid #444;
-webkit-box-shadow: 0 2px 0 0 rgba(150, 150, 150, 0.05);
-moz-box-shadow: 0 2px 0 0 rgba(150, 150, 150, 0.05);
box-shadow: 0 2px 0 0 rgba(150, 150, 150, 0.05);
}

body { background: url(../img/bg.jpg) }
.fancy-title {
   /*font-family: NadiaSerifNormal, sans-serif;*/
    /* TODO: Change this to @font-face */;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    font-size: 30px;
}
.fancy-title span:not(.amp) { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif }
span.amp {
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    font-size: 90% !important;
    font-style: italic;
    color: #555 !important;
}
.fancy-title span {

    color: #666;
    font-size: 18px;
    font-weight: normal;
}
.fancy-title.light span {
    color: #eee;

}

#tagline .fancy-title {
    display: table;
    margin: 10px auto;
}

/* ---------- @ Slides ----------- */

/* ===[ Load CSS before JavaScript ]=== */
/**
 *             Slides container
 *             Important:
 *             Set the width of your slides container
 *             Set to display none, prevents content flash
 *         
 */
.slides_container {
    width: 960px;
    display: none;
}
.slides_control { /*height: 344px !important;_NO__DOTCOMMA__AFTER__*/ }
/**
 *             Each slide
 *             Important:
 *             Set the width of your slides
 *             If height not specified height will be set by the slide content
 *             Set to display block
 *         
 */
.slides_container div.slide {
    width: 960px;
	height: 140px;
    display: block;
}
/**
 *             Optional:
 *             Reset list default style
 *         
 */

.no-js .slides_container {
       display: block;
    height: 342px;
    overflow: hidden;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    margin: 35px auto 0px auto;
}
.pagination li {
    float: left;
    margin: 0px 10px;
}
.pagination li a {
    display: inline-block;
    background: url(../img/slide-navi.png) no-repeat;
    width: 14px;
    height: 14px;
    text-indent: -999em;
}
.pagination li.current a,
.pagination li a:hover { background-position: -21px 0 !important }
.prev,
.next { display: none }
/**
 *             Optional
 *             Styles for the image and content in the banner
 *         
 */
img.slide_img {
    float: left;
    width: 555px;
    margin-left: 20px;
    height: 344px;
}
.slide_content {
    width: 465px;
    float: left;
	padding-left: 95px;

}
#banner {
    padding-top: 10px;
    margin-bottom: 0px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.slide {
    overflow: hidden;
    position: relative;
}
.slide .caption {
    position: absolute;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 40%;
    top: 20%;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
:-moz-any-link:focus {
  outline: none;
}
.slide .caption p,
.slide .caption a,
.slide .caption h1,
.slide .caption h2,
.slide .caption h3,
.slide .caption h4,
.slide .caption h5,
.slide .caption h6 {
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}
.slide .caption a { text-decoration: underline }
.slide h2 {
    font-weight: normal;
    text-shadow: none;
}
.dark-container {
 	padding: 30px 0;
}
.dark-container p {
    color: #bababa;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.dark-container .fancy-title { color: #f1f1f1 }
.dark-container a {
    color: #fff;
}
.dark-container h1,
.dark-container h2,
.dark-container h3,
.dark-container h4,
.dark-container h5,
.dark-container h6 {
    color: #f1f1f1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
#features {
    background: url(../img/dark-bg.jpg);
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
}
#features h3 {
    color: #F1F1F1;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
ul.features-list { margin: 0 !important }
ul.features-list li { display: block }
ul.features-list li span.icon {
    background: url(../img/featured-icons.png) no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    margin-top: 7px;
    margin-right: 15px;
}
ul.features-list li.col-one span.icon { background-position: 0 -30px }
ul.features-list li.col-two span.icon { background-position: 0 -89px }
ul.features-list li.col-three span.icon { background-position: 0 -59px }
ul.features-list li.col-five span.icon { background-position: 0 -117px }
ul.features-list li.col-six span.icon { background-position: 0 -146px }
#pricing { padding: 40px 0 }
#pricing .pricing-col {
    width: 215px;
    margin-right: 18px;
}
#pricing .pricing-table { padding: 30px 0 30px }

#pricing .pricing-col {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 23%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 23%,rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 23%,rgba(247,247,247,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 23%,rgba(247,247,247,1) 100%);
    background: linear-gradient(top,  rgba(255,255,255,1) 23%,rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
    border: 1px solid #ddd;
    box-shadow: 0px 0px 4px 1px rgba(150, 150, 150, 0.1), 0px -3px 0px 0px rgba(100,100,100,.1) inset;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(150, 150, 150, 0.1), 0px -3px 0px 0px rgba(100,100,100,.1) inset;
    -moz-box-shadow: 0px 0px 4px 1px rgba(150, 150, 150, 0.1), 0px -3px 0px 0px rgba(100,100,100,.1) inset;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#pricing .pricing-col .plan-title,
#pricing .pricing-col .plan-price { text-align: center }
#pricing .pricing-col .plan-title {
    padding: 15px 0;
    color: #f1f1f1;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(100, 100, 100, 0.2);
    -moz-box-shadow: 0px 3px 3px 0px rgba(100, 100, 100, 0.2);
    box-shadow: 0px 3px 3px 0px rgba(100, 100, 100, 0.2);
    position: relative;
    z-index: 10;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: #999;
    background: url(../img/pattern.png) repeat, -webkit-gradient(linear, left top, left bottom, to(#999), from(#777));
    background: url(../img/pattern.png) repeat, -webkit-linear-gradient(top, #999, #777);
    background: url(../img/pattern.png) repeat, -moz-linear-gradient(top, #999, #777);
    background: url(../img/pattern.png) repeat, -o-linear-gradient(top, #999, #777);
    background: url(../img/pattern.png) repeat, -ms-linear-gradient(top, #999, #777);
    background: url(../img/pattern.png) repeat, linear-gradient(top, #999, #777);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#pricing .pricing-col .plan-title strong {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
}
#pricing .pricing-col .plan-title.featured {
    background: #16b6c9;
    background: url(../img/pattern.png) repeat, -webkit-gradient(linear, left top, left bottom, from(#16b6c9), to(#009db0));
    background: url(../img/pattern.png) repeat, -webkit-linear-gradient(top, #16b6c9, #009db0);
    background: url(../img/pattern.png) repeat, -moz-linear-gradient(top, #16b6c9, #009db0);
    background: url(../img/pattern.png) repeat, -o-linear-gradient(top, #16b6c9, #009db0);
    background: url(../img/pattern.png) repeat, -ms-linear-gradient(top, #16b6c9, #009db0);
    background: url(../img/pattern.png) repeat, linear-gradient(top, #16b6c9, #009db0);
    position: relative;
}

#pricing .pricing-col .plan-price {
    color: #414141;
    padding: 35px 0 20px;
    position: relative;
    background: #f1f1f1;
    border-bottom: 1px solid #dedede;
    box-shadow: 0px 2px 0px 0px rgba(100, 100, 100, 0.1);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(100, 100, 100, 0.1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(100, 100, 100, 0.1);
    margin-bottom: 3px;
    overflow: hidden;
}
#pricing .pricing-col .plan-price .dollar,
#pricing .pricing-col .plan-price .per-month {
    color: #6e6e6e;
    font-size: 18px;
}
#pricing .pricing-col .plan-price .dollar {
    position: relative;
    top: -5px;
}
#pricing .pricing-col .plan-price .price {
    font-size: 40px;
    font-family: NadiaSerifNormal, sans-serif;
    font-weight: normal;
}
#pricing .pricing-col .plan-price .per-month {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
}
#pricing .pricing-col .plan-price .price-container {
    float: left;
    margin-left: 30px;
}
#pricing .pricing-col .plan-price .btn {
    float: right;
    margin-right: 30px;
}
#pricing .pricing-col ul.plan-highlight { margin: 0 }
#pricing .pricing-col ul.plan-highlight li {
    list-style: none;
    padding: 8px 10px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
    -moz-box-shadow: 0px 1px 0px 0px #ffffff;
    margin-left: 0;
}
#pricing .pricing-col ul.plan-highlight li a {
    color: #777;
}
#pricing .pricing-col ul.plan-highlight li a:hover {
    cursor: help;
    text-decoration:none;
}

#pricing .pricing-col ul.plan-highlight li:last-child { box-shadow: none }
.try-free {
    border-top: 3px double #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 30px 0;
    margin: 30px 0 20px;
}

.try-free h3 {
    font-weight: normal !important;
    font-size: 24px;
    display: inline;
    color: #595959;
}
#pricing-features { margin-top: 40px }
#pricing-features .pricing-features-cols {
    width: 150px;
    float: left;
    margin-right: 47px;
}
#pricing-features .pricing-features-cols.last { margin-right: 0 }

#pricing-features .pricing-features-cols a.box {
    display: block;
    background: #3f3f3f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    color: #f1f1f1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
#pricing-features .pricing-features-cols a.box strong {
    position: relative;
    top: 7px;
    display: block;
}

#testimonials p { font-size: 14px }


/* ---------- @ Testimonials ----------- */

#testimonials {
    background: url(../img/dark-bg.jpg);
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
}
.testimonial {
    padding: 20px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 52%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, #ffffff), color-stop(100%, #f8f8f8));
    background: -webkit-linear-gradient(top, #ffffff 52%, #f8f8f8 100%);
    background: -o-linear-gradient(top, #ffffff 52%, #f8f8f8 100%);
    background: -ms-linear-gradient(top, #ffffff 52%, #f8f8f8 100%);
    background: linear-gradient(top, #ffffff 52%, #f8f8f8 100%);
    box-shadow: 0px 1px 5px -3px rgba(0, 0, 0, 0.5), 0px 0px 0px 3px rgba(200, 200, 200, 0.1) inset;
    -webkit-box-shadow: 0px 1px 5px -3px rgba(0, 0, 0, 0.5), 0px 0px 0px 3px rgba(200, 200, 200, 0.1) inset;
    -moz-box-shadow: 0px 1px 5px -3px rgba(0, 0, 0, 0.5), 0px 0px 0px 3px rgba(200, 200, 200, 0.1) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
}
.testimonial p {
    margin-bottom: 0;
    color: #999;
    overflow: hidden;
}
.testimonial .thumb {
    float: left;
    margin: 7px 15px 0px 0px;
}

#newsletter .newsL { margin-right: 5px; height: 28px; }
#social ul { margin-left: 0 }
#social ul li { list-style: none }
#social ul li a {
    /* Social Icons */
    background: url('../img/social-icons.png') no-repeat;
    height: 34px;
    width: 34px;
    display: block;
    text-indent: -999em;
    float: left;
    margin: 5px 5px 4px 0;
}
#social ul li a.dribbble { background-position: -43px 0px }
#social ul li a.behance { background-position: -85px 0px }
#social ul li a.fb { background-position: -128px 0px }
#social ul li a.linked { background-position: 0px -43px }
#social ul li a.gplus { background-position: -43px -43px }
#social ul li a.vimeo { background-position: -84px -43px }
#social ul li a.rss { background-position: -128px -43px }
#modal-contact.modal {
    width: 309px;
    margin: -250px 0 0 -210px;
}

/* ---------- @ Goodies -----------*/

/************************************************************************************
IMAGE WRAP (REQUIRED)
*************************************************************************************/
.image-wrap {
	position: relative;
	display: inline-block;
	max-width: 100%;
	vertical-align: bottom;
}
/* image-wrap:after pseudo element (overlaying container) */
.image-wrap:after {
	content: ' ';
	width: 100%;
	height: 100%;
	position: absolute;
	top: -1px;
	left: -1px;
	border: solid 1px #1b1b1b;
	-wekbit-box-shadow: inset 0 0 1px rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 1px rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.3);
	box-shadow: inset 0 0 1px rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.3);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.image-wrap img {
	vertical-align: bottom;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* embossed */
.embossed .image-wrap:after {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -6px 0 rgba(0,0,0,.6), inset 0 -7px 0 rgba(255,255,255,.3);
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -6px 0 rgba(0,0,0,.6), inset 0 -7px 0 rgba(255,255,255,.3);
	box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -6px 0 rgba(0,0,0,.6), inset 0 -7px 0 rgba(255,255,255,.3);
}

/* soft embossed */
.soft-embossed .image-wrap:after {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,1), inset 0 1px 1px rgba(255,255,255,.5), inset 0 -6px 2px rgba(0,0,0,.6), inset 0 -8px 2px rgba(255,255,255,.3);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,1), inset 0 1px 1px rgba(255,255,255,.5), inset 0 -6px 2px rgba(0,0,0,.6), inset 0 -8px 2px rgba(255,255,255,.3);
	box-shadow: inset 0 0 3px rgba(0,0,0,1), inset 0 1px 1px rgba(255,255,255,.5), inset 0 -6px 2px rgba(0,0,0,.6), inset 0 -8px 2px rgba(255,255,255,.3);
}

/* cutout or pressed */
.cutout .image-wrap:after {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 2px rgba(0,0,0,.6);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 2px rgba(0,0,0,.6);
	box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 2px rgba(0,0,0,.6);
}

/* glossy */
.glossy .image-wrap:before {
	position: absolute;
	content: ' ';
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,.15) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,.15)));
	background: linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,.15) 100%);
}
a.img-wrapp {
	margin:10px 0;
	padding:10px 0;
	display:block;
	clear:both;
}

.dg-container{
    width: 100%;
    height: 366px;
    position: relative;
    margin:20px 0 60px;
}
.dg-wrapper{
    width: 481px;
    height: 316px;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}
.dg-wrapper a{
    width: 500px;
    height: 336px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
    background: transparent url(../img/browser-placeholder.png) no-repeat top left;
    margin-left: 0px;
}
.dg-wrapper a.dg-transition{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
    display: block;
    padding: 62px 0px 0px 0px;
    margin-left: 11px;
}
.dg-wrapper a div{
    font-style: normal;
    line-height: 50px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    color: #333;
    font-size: 13px;
    width: 100%;
    bottom: 275px;
    display: none;
    position: absolute;
    left: 106px;
}
.dg-wrapper a.dg-center div{
    display: block;
}
.dg-container nav{
    width: 58px;
    position: absolute;
    z-index: 1000;
    bottom: -21px;
    left: 50%;
    margin-left: -29px;
}

.dg-container nav span{
    text-indent: -9000px;
    float: left;
    cursor:pointer;
    width: 24px;
    height: 25px;
    opacity: 0.8;
    background: transparent url(../img/arrows.png) no-repeat top left;
}
.dg-container nav span:hover{
    opacity: 1;
}
.dg-container nav span.dg-next{
    background-position: top right;
    margin-left: 10px;
}


/* Footer ================================================================================ */
.footer { border:1px solid #ddd; padding:5px 0 5px 200px; height: 170px; }
.footer p { text-align:right; }
.footer address { text-align:right; }
.footer ul { list-style:none; margin: 0 0 4px 4px; }
.footer h3 { font-size:16px; font-weight:bold; line-height:1.25; margin:0 0 7px 0; color:#666; }
.footer-container .bottom-container { text-align:center; }
/* ======================================================================================= */

.footer:after,
.footer-container .bottom-container:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

.footer-col {
	height:125px;
	width:240px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 70px;
	text-align:left;
}

.footer-col-last {
	height:125px;
	width:240px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 70px;
	text-align:left;
}

.footer-end-cont {
	text-align: center;
	padding-top: 40px;
}

.footer-bar {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
}


/*-----------------------------------------------------------------------------------*/
/* End
/*-----------------------------------------------------------------------------------*/