<?php
$config=Mage::getStoreConfig('buyshoplayout/general/header_tool_line');
if($config=='a')
{
    ?>
    <!--TOPLINE v1-->
    <div id="topline">
        <div class="container">
            <div class="pull-left hidden-phone hidden-tablet twitt">
                <?php echo $this->getChildHtml('twitter_last_feed')?>
            </div>

            <?php if(!Mage::getStoreConfig('buyshopconfig/options/catalog_mode')): ?>
            <div class="pull-right">
                <span><em class="icon-mobile-alt"> </em></span>Call: 603-886-3900 for assistance</p>
            </div>
            <?php endif; ?>

        </div>
    </div>
    <!--TOPLINE v1 EOF-->
    <?php
} elseif ($config=='b')
{

    ?>
    <!--TOPLINE v2-->
    <div id="topline" >
        <div class="container">
            <div class="wrapper_w">
                <div class="pull-left hidden-phone hidden-tablet ">
                    <div class="phone"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('buyshop_header_phone')->toHtml() ?></div>
                </div>
                <div class="pull-right">

                    <div class="alignright"><span class="hidden-small-desktop"><?php echo Mage::getStoreConfig('design/header/welcome'); ?> &nbsp;&nbsp;</span>

                        

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--TOPLINE v2 EOF-->
    <?php
}
?>




