<?php
$config=Mage::getStoreConfig('buyshoplayout/general/header_tool_line');
if($config=='a')
{
    ?>
    <!--TOPLINE v1-->
    <div id="topline">
        <div class="container">
            <div class="pull-left hidden-phone hidden-tablet twitt">
                <?php echo $this->getChildHtml('twitter_last_feed')?>
            </div>

            <?php if(!Mage::getStoreConfig('buyshopconfig/options/catalog_mode')): ?>
            <div class="pull-right">
                <?php
                //check the user is loggedon or not
                if (! Mage::getSingleton('customer/session')->isLoggedIn()){
                    //if user logged on show the logout link - add this code within anchor tag
                    ?>

                    <div class="login_block">
                        <a href="<?php echo Mage::helper('customer')->getLoginUrl();?>" class="login_link"><?php echo $this->__('Login') ?></a>
                        <div class="form-login-wrapper hidden-phone">
                            <?php echo $this->getChildHtml('mini_login') ?>
                        </div>
                        / <a href="<?php echo Mage::helper('customer')->getRegisterUrl();?>"><?php echo $this->__('Register') ?></a>
                    </div>
                    <?php
                }
                else{
                    //if user is not logged on yet show the login link - add this code within anchor tag
                    ?>
                    <span> <?php echo $this->__('Hello') ?>, <?php echo Mage::helper('customer')->getCustomerName(); ?>! <a href="<?php echo Mage::helper('customer')->getLogoutUrl();?>"><?php echo $this->__('Logout') ?></a></span>
                    <?php
                }
                ?>
            </div>
            <?php endif; ?>

        </div>
    </div>
    <!--TOPLINE v1 EOF-->
    <?php
} elseif ($config=='b')
{

    ?>
    <!--TOPLINE v2-->
    <div id="topline" >
        <div class="container">
            <div class="wrapper_w">
                <div class="pull-left hidden-phone hidden-tablet ">
                    <div class="phone"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('buyshop_header_phone')->toHtml() ?></div>
                </div>
                <div class="pull-right">
                <p><span><em class="icon-mobile-alt"> </em></span>Call: 603-886-3900 for assistance</p>               
                </div>
            </div>
        </div>
    </div>
    <!--TOPLINE v2 EOF-->
    <?php
}
?>




