<?php

?>


<?php if ($this->canCheckout()):?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/checkout.js') ?>"></script>
<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
<?php $this->getA()?>
<?php // echo $this->getChildHtml("oneclickcartcheckout.billing")?>
<?php //echo $this->getChildHtml("shipping_method")?>
<?php // echo $this->getChildHtml("payment")?>

<div style="display:none">
  <div id="customerLoginForm"> <?php echo $this->getChildHtml("customer_form_login")?> </div>
</div>
<span id="shipping:same_as_billing"></span>



<form id="checkoutform" method="POST" action="<?php echo $this->getUrl('oneclickcartcheckout/checkout/saveOrder') ?>" >
  <ol class="opc">
    <table class="cart_checkout_table">
      <tr>
        <td colspan="2" class="billing_section"><li class="section active">
            <?=$this->getChildHtml("oneclickcartcheckout.billing")?>
          </li></td>
      </tr>
      <tr>
      
      
      
        
        
        <td width="22%"><div> <?php echo $this->getChildHtml("review")?>
            <!--                <div id='checkoutloader' class='checkoutloader' style="width:100%;height:150px"></div>-->
          </div></td>
      </tr>
      <tr>
        <td style="display:none;"><li class="section active">
            <?=$this->getChildHtml("payment")?>
          </li>
          
                      </td>
            
            <td>
          
          
          </td>
      </tr>
      <tr>
        <td><li class="section active" id="shipping_method_section">
            <?=$this->getChildHtml("shipping_method")?>
          </li></td>
      </tr>
      <tr>
        <td style="display:none;"><li class="section active section-coupon" id="coupon-section">
            <?=$this->getChildHtml("coupon2")?>
          </li></td>
      </tr>
    </table>
  </ol>

</form>

<script type="text/javascript">
//< ![CDATA[
var form_to_validate = new VarienForm('checkoutform',true);
//]]>
</script>


<script type="text/javascript">
    //<![CDATA[
    Event.observe(window, 'load', function() {
        var shippingMethod = new ShippingMethod('co-shipping-method-form', "<?php echo $this->getUrl('oneclickcartcheckout/checkout/saveShippingMethod') ?>");
    });

    updateCartUrl = "<?php echo $this->getUrl('oneclickcartcheckout/checkout/updateCart') ?>";

    Event.observe(window, 'load', function() {
       
  });
    
   function toggleShipping(){
        
       $("shipping-info").toggle();
        
    }

   	function showLoginForm(){
	  	 Modalbox.show($('customerLoginForm'),{title:"<?=$this->__("Customer Login")?>"});
	  	 setTimeout(function(){  new VarienForm('login-form', true);},1000);
	 }
    //]]>
    
    </script>
<?php endif;?>
