<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-account"><?php echo $this->__('Billing Address') ?></h4>
    </div>
    <fieldset>
        <address><?php echo $quoteModel->getBillingAddressRaw()->getFormated(true) ?></address>
    </fieldset>
</div>