<?php
if (!isset($disabledHtml)){
    $disabledHtml = "";
}
if (!isset($inputDisabled)){
    $inputDisabled = false;
}
if (!isset($disabledOnClick)){
    $disabledOnClick = false;
}
?>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 id="discount" class="icon-head head-account"><?php echo $this->__('Discount') ?></h4>
    </div>
    <div class="fieldset">

        <table cellspacing="0" class="form-list" border="0" style="width:100%;">
            <tbody>
            <tr id="discount_fixed">
                <td class="label">
                    <?php echo $this->__('Enter new Quote Subtotal'); ?>
                </td>
                <td>
                    <?php
                    echo '<input type="text" id="fixed_price" name="recal_price[fixed]" class="file_title" maxlength="150" '.$disabledHtml.'/>';
                    ?>
                </td>
                <td style="float: right;">
                    <?php
                    $vars = new Varien_Object;
                    $vars->setData('label', $this->__('Recalculate'));

                    if($inputDisabled){
                        $vars->setData('class', 'disabled');
                    }

                    echo $this->getSaveButton($vars, $disabledOnClick)->_toHtml();
                    ?>
                </td>
            <tr>
            <tr id="discount_percentage" style="display:none;">
                <td class="label">
                    <?php echo $this->__('Enter Quote Reduction'); ?>
                </td>
                <td>
                    <?php
                    echo '<input type="text" id="percentage_price" name="recal_price[percentage]" class="file_title" maxlength="2" '.$disabledHtml.'/><span>%</span>';
                    ?>
                </td>
                <td style="float: right;">
                    <?php
                    $vars = new Varien_Object;
                    $vars->setData('label', $this->__('Recalculate'));

                    if($inputDisabled){
                        $vars->setData('class', 'disabled');
                    }

                    echo $this->getSaveButton($vars, $disabledOnClick)->_toHtml();
                    ?>
                </td>
            <tr>
                <td class="label">
                    &nbsp;
                </td>
                <td>
                    <a id="msg_percentage" class="custom_note"
                       onclick="($('msg_fixed')).show();($('discount_percentage')).show();($('discount_fixed')).hide();hide();"
                       href="#discount"><?php echo $this->__('Enter Percentage'); ?></a>
                    <a id="msg_fixed" style="display:none;"
                       onclick="($('msg_percentage')).show();($('discount_fixed')).show();($('discount_percentage')).hide();hide();"
                       class="custom_note" href="#discount"><?php echo $this->__('Enter Fixed Price'); ?></a>
                </td>

            </tr>
            <tr>
                <td class="label">
                    <?php
                    echo $this->__('Coupon Code %s', ($quoteModel->getData('salesrule')) ? '(Applied)' : ''); ?>
                </td>
                <td>
                    <?php
                    if ($couponRules = $quoteModel->getCouponOptions($quoteModel->getData('store_id'), $customer->getGroupId())) {
                        if (!Mage::helper('qquoteadv')->getOrderByC2Q($quoteModel->getData('quote_id'), $quoteModel->getData('store_id'))) { // Not converted to order
                            $couponButton = true;
                            $default = ($quoteModel->getData('salesrule') > 0) ? $quoteModel->getData('salesrule') : '';
                            if ($default > 0) {
                                $couponRules[0] = Mage::helper('qquoteadv')->__('-- Remove Coupon --');
                            }
                            echo '<select type="select" id="salesrule" name="salesrule" class="file_title" '.$disabledHtmlRadio.'>';
                            foreach ($couponRules as $k => $v) {
                                $selected = ($k == $default) ? 'selected="true"' : '';
                                echo '<option value="' . $k . '" ' . $selected . '>' . $v . '</option>';
                            }
                            echo '</select>';
                        } elseif ($quoteModel->getData('salesrule') != null) { // Converted to order
                            echo $quoteModel->getCouponNameById($quoteModel->getData('salesrule'));
                        } else {
                            echo $this->__('No Coupon Code Applied');
                        }

                    } else {
                        echo $this->__('No Coupon Codes Available');
                    }
                    ?>
                </td>
                <td style="float: right;">
                    <?php if (isset($couponButton) && $couponButton === true):
                        $vars = new Varien_Object;
                        $vars->setData('label', $this->__('Apply'));

                        if($inputDisabled){
                            $vars->setData('class', 'disabled');
                        }

                        echo $this->getSaveButton($vars, $disabledOnClick)->_toHtml();
//                                echo $this->getCouponButton()->_toHtml();
                    endif; ?>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

