<span style='color: #000'>707 frames</span>	<span style='color: #900'>48,896 KB</span>	<span style='color: #090'>2,229.43 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />