<?php
require_once '/home/dev/carp/carp.php';
// Add any desired configuration settings before CarpCacheShow
// using "CarpConf" and other functions


MyCarpConfReset();
// Show 3 items
CarpConf('maxitems',6);

CarpMapField('desc','content:encoded',0,10);
CarpConf('descriptiontags','b|/b|i|/i'); 

CarpConf('cacheinterval',1);

CarpConf('encodingout','UTF-8');
CarpConf('cborder','');
CarpConf('bcimage','<div style="float:left;">');
CarpConf('acimage','</div>');
CarpConf('defiimagew',60);
CarpConf('maxiimagew',60);


CarpConf('iorder','link,desc');



//CarpConf('bitems','<ul class="carpul" style="margin:0;">'); 
CarpConf('bitems','<ul class="products-grid last odd">');
CarpConf('aitems','</ul>'); 
//CarpConf('biimage', '<div style="margin:2px 8px 0px 0;">');
//CarpConf('aiimage', '</div>');
CarpConf('ilinkstyle', 'padding:0 0 3px 0; text-decoration:none; color:#00356E; line-height:80%; font-size:11px; font-weight: bold;');

CarpConf('maxititle',0);
CarpConf('atruncititle','...');
CarpConf('bi','<li class="news">');
CarpConf('ai','</li>');
//CarpConf('bilink','<li style="float:left; margin:0 8px 0 0">- ');
//CarpConf('bilink','<li style="list-style-image: url('');">');

CarpConf('ilinktitles',0);
CarpConf('linktarget',1); 

CarpConf('bidesc','<p>');
CarpConf('aidesc','</p>');
CarpConf('maxidesc',150);
CarpConf('atruncidesc','...');
CarpConf('poweredby','');




//CarpConfAdd('descriptiontags','|img');
CarpCacheShow('http://dev.globalamericaninc.com/blog/feed/');
?>