/* Elastislide Style */
/*.carousel { position:static;}
*/.es-carousel-wrapper {
/*	position:relative;
*/	margin:0 -10px;
}
@media only screen and (max-width: 767px) {
 .es-carousel-wrapper {
 margin-left:0;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
 .es-carousel-wrapper {
 margin-left:0;
}
}
.es-carousel {
	overflow:hidden;
	padding: 0 10px;
	margin-top:10px;
	margin-bottom:10px;
}
.style1 .es-carousel {
}
.style2 .es-carousel {
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
	-moz-box-shadow:    0px 0px 4px rgba(0, 0, 0, 0.27);
	box-shadow:         0px 0px 4px rgba(0, 0, 0, 0.27);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding:0;
	margin: 10px;
	background-color:#fff;
}
.es-carousel .product_outer {
	display:none;
}
.es-carousel .product_outer .product {
	/* ##DMH##073014##removed height from partner logos## height:150px; */
	display:block;
	float:left;
}
.es-nav a.btn {
	position:absolute;
	top:-35px;
	right:50px;
/*	background-color:#cccccc; */
	width:34px;
	height:26px;
	padding: 4px 0;
	margin-top:-13px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: background-color 0.25s 0s ease;
	-moz-transition: background-color 0.25s 0s ease;
	-o-transition: background-color 0.25s 0s ease;
}
.es-nav a.btn:hover {
	color:#fff;
	background-color: #00829f;
	-webkit-transition: background-color 0.25s 0s ease;
	-moz-transition: background-color 0.25s 0s ease;
	-o-transition: background-color 0.25s 0s ease;

}
.es-nav span.disable a.btn:hover { background-color:#cccccc;}
.style1 .es-nav a.btn {
	top:-30px;
}
.es-nav span.es-nav-next a.btn{
	right:8px;
	left:auto;
}
.es-nav span:hover {
	opacity:1.0;
}



