html, body {
    height: 100%;
    min-height: 100%;
}

body {

    font-size: 0.75em;
    font-family: arial;
    line-height: 1.25em;
}

/*body, .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
	 -webkit-transition:all .2s linear;
	 -moz-transition:all .2s linear;
	 -o-transition:all .2s linear;
	 transition:all .2s linear;
}
*/
ul, ol {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

a:focus {
    outline: none;
}

a.underline {
    text-decoration: underline;
}

a.underline:hover {
    text-decoration: none;
}

h1 {
    margin-bottom: 20px;
    margin-top: 0px;
    text-transform: uppercase;

    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}

h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    padding-right: 65px;
}

h2 a, h2 a:hover {
    text-decoration: none;
}

h2 span, h2 a.active {
    color: #246AE4;
}

h2 [class^="icon-"], h2 [class*=" icon-"] {
    display: block;
    float: left;
    color: #246AE4;
    margin: -2px 10px 0 0;
    font-size: 20px;
}

h2.nopadding {
    padding: 0;
}

h3 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    font-weight: normal;
}

h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}

h4 [class^="icon-"], h4 [class*=" icon-"] {
    display: block;
    float: left;
    color: #246AE4;
    margin: -2px 10px 0 0;
    font-size: 20px;
    white-space: nowrap;
}

h5 {
    font: normal 24px/26px Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*z-index: 3001;
    position: relative;*/
}

.wrapper {
    overflow: hidden;
    width: 100%;
}

.wrapper_w {
    display: inline-block;
    width: 100%;
}

.padding-1 {
    padding: 25px 0 0 0;
}

.padding-2 {
    padding: 0 0 0 10px;
}

.margin-1 {
    /* ##DMH##073014##removed top margin from main impact image## margin-top: 10px; */
    margin-bottom: 12px;
}

.margin-2 {
    margin-top: 12px;
}

.alignright {
    text-align: right;
}

.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}

.hide {
    display: none;
}

.hover {
    z-index: 1000;
}

.col-1, .col-2, .col-3 {
    float: left;
}

.col {
    float: left;
}

p.small {
    font-size: 0.75em;
    line-height: 1.25em;
}

a.btn {
    margin: 0;
    padding: 3px 0;
    border: none;
    border-radius: 3px;
    background: #246AE4;
    background-image: none;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
}

a.btn:hover {
    background: #6a2886;
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
}

.custom_color, a .custom_color {
    color: #246AE4;
}

a:hover .custom_color, a.custom_color:hover {
    text-decoration: underline;
    color: #246AE4;
}

/*HEADER*/
#header {
    padding: 10px 0 0 0;
    background-size: 560px 165px;
}



#logo {
    padding: 10px 0;
    float: left;
}

/*topline*/
#topline {
    padding: 4px 0 4px;
    background: #333333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.27);
    color: #9b9b9b;
    line-height: 18px;
    height: 20px;
}

#topline .phone span {
    color: #fff;
}

#topline a {
    color: #246AE4;
    text-decoration: underline;
}

#topline a:hover {
    text-decoration: none;
}

#topline .fadelink {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 2px;
    text-align: left;
    white-space: nowrap;
    z-index: 50005;
}

#topline .fadelink .ul_wrapper {
    position: absolute;
    top: 15px;
    z-index: 100;
    display: none;
}

#topline .fadelink .ul_wrapper ul {
    background: none repeat scroll 0 0 #4A4A4A;
    border-radius: 0 2px 2px 2px;
    box-shadow: 0 5px 7px 2px rgba(0, 0, 0, 0.1);
    padding: 7px 30px 7px 7px;
    width: auto;
}

#topline .fadelink li {
    padding: 2px 0;
}

#topline .fadelink li a, #topline .fadelink > a {
    color: #b6b6b6;
    text-decoration: none;
}

#topline .fadelink li a:hover, #topline .fadelink > a:hover {
    text-decoration: underline;
}

#topline .fadelink > a {
    display: block;
    margin-top: -1px;
    padding: 2px 30px 1px 7px;
    border-radius: 2px;
    background: #4a4a4a url(../images/template/arrow_down.png) no-repeat right -2px;
    color: #b6b6b6;
    text-decoration: none;
    font: 12px/14px Arial, Helvetica, sans-serif;
}

#topline .fadelink > a:hover {
    text-decoration: none;
}

#topline img {
    padding-right: 5px;
    vertical-align: middle;
}

/*navigation mobile*/
.nav-list {
    display: block;
    position: absolute;
    top: -10000px;
    margin: 10px 15px 25px 15px;
    padding: 0;
}

.nav-header > a {
    border-radius: 3px;
    background: #246AE4;
   /* color: #fff;*/
}

.nav-list ul {
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0;
    padding: 0;
    position: relative;
}

#level1 > li {
    border-bottom: 1px solid #dadada;
}

.nav-list li:last-child {
    border: none;
}

.nav-list li a {
    display: block;
    margin: 0;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
}

.nav-list li a.icon-collapse {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.nav-list li li a:hover {
    background: none;
    /*color: #246AE4;*/
}

.nav-list > li > a:hover {
    background: #246AE4;
}

.nav-list li li li a {
    padding-left: 35px;
}

/* SIMPLE navigation desktop*/

#nav.simple {
    position: relative;
    z-index: 50000;
    display: none;
    margin: 0;
    padding: 7px 6px 0 0;
    line-height: 100%;
}

#nav.simple > li {
    float: left;
    margin: 0;
    padding: 0 0 2px;
    list-style: none;
}
#spy #nav.simple > li{padding: 0 0 8px;}

#nav.simple li a {
    padding: 4px 20px;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    display: block;
}

#nav.simple > li > a {
    margin: 0;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    line-height: 1em;
}


#nav.simple  li { position: relative; line-height: 20px}

#nav.simple  li  ul{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #fdfdfd;
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
}

#nav.simple > li >  ul{

    border-top-right-radius: 0;
    border-top-left-radius: 0;

    padding: 23px 0;
}

#nav.simple  ul  ul{ left: 133px;}

#nav.simple  li:hover > ul { display: block}
#nav.simple li li:hover > a,#nav.simple li li.active > a {
    background: none repeat scroll 0 0 #F0F0F0;
}


#nav.simple .menu_custom_block {
    padding: 20px 30px 30px;
}

#nav.simple ul ul{
    position: absolute;
    z-index: 100;
    top: -10px;
    left: 150px;
    padding: 10px 0;
    width: 200px;
    border-radius: 6px;
    background: #fdfdfd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#nav.simple li li {width: 200px;line-height: 23px;}


 #nav.simple li:hover li.category_desc_in_menu {
    display: block;
    float: left;
    margin: 30px 0;
    border-left: 2px solid #eaeaea;
}

#nav.simple li:hover li:first-child {
    border-left: none;
}

#nav.simple li:hover li.category_desc_in_menu {
    padding: 0 30px;
    width: 240px;
}

#nav.simple a.custom_category_link, #nav.simple .menu_custom_block a {
    display: inline;
    font-weight: bold;
}

#nav.simple h1.custom_menu_title {
    font-size: 1.25em;
}

#nav.simple li:hover ul.list_in_column {
    position: relative;
    top: 0;
}

#nav.simple ul.list_in_column li {
    float: none;
}

#nav.simple ul.list_in_column ul {
    display: none;
}

#nav.simple.simple ul.list_in_column li:hover ul {
    display: block;
}

#nav.simple.simple .category_desc_in_menu img, .custom_menu_img img {
    border: 5px solid #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

#nav.simple.simple .menu_custom_block .col-third {
    display: inline;
    float: left;
    margin: 0 11px;
    width: 348px;
}
#nav.simple #menu_custom_block{position: static !important}
#nav.simple #menu_custom_block .shadow{ display: inline-block}
#nav.simple #menu_custom_block .level0{ position: absolute; left:0 }
#nav.simple #menu_custom_block > ul > li{ width: 100%}
#nav.simple #menu_custom_block > ul{ padding: 10px 0 !important}
/*******EOF SIMPLE*******/



/****************/
#nav {
    position: relative;
    z-index: 50000;
    display: block;
    margin: 0;
    padding: 7px 6px 0 0;
    line-height: 100%;
}

#nav li {
    float: left;
    margin: 0;
    padding: 0 0 8px;
    list-style: none;
}

#nav > li > a {
    display: block;
    margin: 0;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    line-height: 1em;

}

#nav > li:hover > a {
    /* color: #246AE4;*/
}

#nav.simple li li li a {
    display: block;
    padding: 4px 20px;
    /*color: #000;*/
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}

#nav li li li:hover a {
    background: #f0f0f0;
}

#nav li li li:hover li a {
    background: none;
}

#nav li li li li:hover > a {
    background: #f0f0f0;
}

#nav li:hover > ul, #nav li:hover > ul > li > ul.list_in_column {
    display: block;
}

#nav > li > ul{
    width: auto;
    border-top: 5px solid #246AE4;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #fdfdfd;
}

#nav > li > ul {
    position: absolute;
    display: none;
    border-left-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
}

#nav .menu_custom_block {


    padding: 20px 30px 30px;
}

#nav li:hover .menu_custom_block {


}

#nav ul li {
    margin: 0;
    padding: 0;
}

#nav ul a {
    font-weight: normal;
}

#nav.simple ul ul ul {
    position: absolute;
    z-index: 100;
    top: -10px;
    left: 150px;
    padding: 10px 0;
    width: 200px;
    border-radius: 6px;
    background: #fdfdfd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#nav li:hover li.list_column {
    width: 200px;
}

#nav li:hover li.list_column, #nav li:hover li.category_desc_in_menu {
    display: block;
    float: left;
    margin: 30px 0;
    border-left: 2px solid #eaeaea;
}

#nav li:hover li:first-child {
    border-left: none;
}

#nav li:hover li.category_desc_in_menu {
    padding: 0 30px;
    width: 240px;
}

#nav a.custom_category_link, #nav .menu_custom_block a {
    display: inline;
    font-weight: bold;
}

#nav h1.custom_menu_title {
    font-size: 1.25em;
}

#nav li:hover ul.list_in_column {
    position: relative;
    top: 0;
}

#nav ul.list_in_column li {
    float: none;
}

#nav ul.list_in_column ul {
    display: none;
}

#nav ul.list_in_column li:hover ul {
    display: block;
}

#nav .category_desc_in_menu img, .custom_menu_img img {
    border: 5px solid #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

#nav .menu_custom_block .col-third {
    display: inline;
    float: left;
    margin: 0 11px 18px;
    width: 359px;
}




.login_block {
    position: relative;
    padding-right: 10px;
    text-align: right;
    display: inline-block;
}

.login_block a {
    padding-bottom: 5px;
}

.login_social {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
}

.shoppingcart {
	display: none;
    position: relative;
    float: right;
    z-index: 50001;
    margin-top: 2px;
}

.shoppingcart:hover {
    z-index: 50003;
}

.shoppingcart .badge {
    position: absolute;
    top: -7px;
    right: -10px;
}

.shoppingcart .fadelink {
    padding-bottom: 10px;
    position: absolute;
    right: 0;
    top: 0;
    float: right;
}

.shoppingcart .fadelink span a.btn {
    width: 32px;
}

.shoppingcart:hover .fadelink span a {
    background: #6a2886;
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
}

.shopping_cart_mini {
    background-color: #FDFDFD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);
    color: #000000;
    display: none;
    margin-top: 41px;
    width: 379px;
    z-index: 100;
}

.shopping_cart_mini .inner-wrapper {
    padding: 10px 15px 8px;
}

.shopping_cart_mini .item {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
}

.shopping_cart_mini .product-image {
    float: left;
    margin-right: 10px;
    border: 1px solid #f3f3f3;
}

.shopping_cart_mini .product-detailes {

    float: left;
    width: 220px;
}

.shopping_cart_mini .product-detailes .product-name {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.05em;
}

.shopping_cart_mini .product-detailes .product-price {
    color: #000;
    font-weight: bold;
}

.shopping_cart_mini .button {
    float: right;
    margin-left: 5px;
}

.shopping_cart_mini a i {
    margin-left: 7px;
    color: #000;
    font-size: 18px;
}

.shopping_cart_mini .button {
    float: left;
    margin-right: 5px;
    padding: 0 7px;
    border-radius: 3px;
    background: #f0f0f0;
    color: #000;
    text-decoration: none;
    line-height: 31px;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
}

.shopping_cart_mini .button:hover {
    background: #246AE4;
    color: #fff;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
}

/* HEADER VARIANT 2*/
#header.header_v_2 .row {
    position: relative;
}

#header.header_v_2 {
    position: relative;
    z-index: 1001;
    margin-bottom: 25px;
}

#header.header_v_2 .line_header_bot {
    position: relative;
    margin-top: -6px;
    height: 5px;
    border-bottom: 1px solid transparent;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

#header.header_v_2 #logo {
    float: none;
}

#header.header_v_2 .fadelink {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    white-space: nowrap;
    padding-top: 7px;
}

#header.header_v_2 .shoppingcart {
    position: absolute;
    right: 0;
    bottom: 45px;
}

#header.header_v_2 .shoppingcart .fadelink {
    display: block;
    position: absolute;
}

#header.header_v_2 #nav > li {
    float: left;
    margin-right: 12px;
    padding: 7px 0 0;
    list-style: none;
}

#header.header_v_2 #nav > li > a {
    min-width: 170px;
    display: block;
    padding: 15px 20px 15px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    background: #fff url(../images/template/arrow_down_1.png) no-repeat right -4px;
    box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.15);
    color: #000;
    text-decoration: none;
    font: bold 12px/14px Arial, Helvetica, sans-serif;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
    text-transform: none;
}

#header.header_v_2 #nav > li:hover > a {
    background: #333333 url(../images/template/arrow_down_1.png) no-repeat right 20px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    color: #fff;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
    -webkit-transition: border-color 0.25s 0s ease;
    -moz-transition: border-color 0.25s 0s ease;
    -o-transition: border-color 0.25s 0s ease;
}

#header.header_v_2 #nav > li > ul {
    border-color: #fff;
    border-top-color: #333333;
    top: 54px;
}

#header.header_v_2 #nav li.level1 > a, #header.header_v_2 #nav li.level2 > a {
    line-height: 16px;
    padding: 5px 0 5px 12px;
}

#header.header_v_2 #nav li.level1:hover {
    border-left: 4px solid #246AE4;
    text-indent: -4px;
}

#header.header_v_2 #nav li.level1 > a:hover {
    color: #246AE4;
    font-weight: bold;
}

#header.header_v_2 #nav li.level2, #header.header_v_2 #nav li.level2:hover {
    border: none;
    text-indent: 0;
}

#header.header_v_2 #nav li.level2 a:hover {
    color: #000;
    font-weight: normal;
}

#header.header_v_2 #nav li.list_column {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
}

#header.header_v_2 #nav li.category_desc_in_menu {
    padding: 20px 40px 20px 30px;
    margin: 0;
}

#header.header_v_2 .fadelink > a {
    min-width: 70px;
    display: block;
    padding: 15px 30px 15px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    background: #fff url(../images/template/arrow_down_1.png) no-repeat right -4px;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.15);
    color: #000;
    text-decoration: none;
    font: bold 12px/14px Arial, Helvetica, sans-serif;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
}

#header.header_v_2 .fadelink:hover {
    z-index: 50005;
}

#header.header_v_2 .fadelink:hover > a {
    background: #333333 url(../images/template/arrow_down_1.png) no-repeat right 20px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    color: #fff;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
    -webkit-transition: border-color 0.25s 0s ease;
    -moz-transition: border-color 0.25s 0s ease;
    -o-transition: border-color 0.25s 0s ease;
}

#header.header_v_2 .fadelink li.level1:hover a {
    background: #f0f0f0;
}

#header.header_v_2 .fadelink .ul_wrapper {
    position: absolute;
    display: none;
    top: 47px;
    border-top: 5px solid #333;
    z-index: 50;
}

#header.header_v_2 .fadelink .ul_wrapper ul {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px 30px 10px 10px;
    min-width: 80px;
    width: auto;
    border-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
}

#header.header_v_2 .fadelink li {
    padding: 2px 0;
}

#header.header_v_2 .form-search-wrapper {
    margin-right: 10px;
    /*margin-top: 6px !important;*/
    padding: 7px 5px 0 15px;
}

#header.header_v_2 .form-search input.search-query {
    width: 210px;
}

/*right toolbar*/

#right_toolbar {
    position: fixed;
    right: 0px;
    bottom: 15%;
    z-index: 500;
}

#right_toolbar .shoppingcart {
    display: inline-block;
    float: none;
    margin: 15px 0 7px 10px;
    padding: 0 0 0 10px;
    position: relative;
}

#right_toolbar .shoppingcart:hover {
    padding: 0 0 0 20px;
    margin: 15px 0 7px 0;
}

#right_toolbar .shoppingcart .fadelink {
    position: relative;
    float: left;
}

#right_toolbar .shopping_cart_mini {
    position: absolute;
    top: -38px;
    margin-right: 38px;
    right: 0;
    left: auto;
}

#right_toolbar .shoppingcart .badge {
    right: -5px;
}

#right_toolbar .search_wrapper {
    clear: both;
    position: relative;
    height: 40px;
}

#right_toolbar .form-search {
    position: static;
}

#right_toolbar .form-search button {
    position: relative;
    z-index: 100;
    margin: -3px 0 0 18px;
}

#right_toolbar .form-search input.search-query {
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 99;
    padding: 2px 10px;
    width: 0;
    height: 22px;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
}

#back-top a {
    display: block;
    margin: 0 0 0 5px;
    padding: 17px 0 0 0;
    width: 61px;
    height: 42px;
    text-align: center;
    background: #f8f8f8;
    color: #8a8a8a;
    font-size: 22px;
    line-height: 22px;
    border-radius: 3px;
    opacity: 1;
}

/*CONTENT*/
section.slider {
    margin-bottom: 10px;
	margin-top: 100px;
}


section#content > .container.top {
    padding-top: 25px;
    box-shadow: 0 -5px 5px -4px rgba(0, 0, 0, 0.1);
}

section#content {
    padding-bottom: 70px;
}

#column_left.span3 {
    float: right;
}

#column_right.span9 {
    float: right;
}

.box-wrapper {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
}

.box-wrapper .inside {
    padding: 20px;
}

.box-wrapper .inside.min-height {
    min-height: 270px;
}

.box-wrapper .line {
    overflow: hidden;
    width: 100%;
    height: 1px;
    border-top: 5px solid #246AE4;
    margin: 0 0 -6px 0;

}

.box-wrapper a {
    text-decoration: underline;
}

.box-wrapper a:hover, .box-wrapper .button {
    text-decoration: none;
}

.table.shopping-cart-table th, .table.shopping-cart-table td {
    padding: 20px 10px 15px 10px;
    border-bottom: 2px solid #e5e5e5;
}

.table.shopping-cart-table a {
    text-decoration: underline;
}

.table.shopping-cart-table a:hover {
    text-decoration: none;
}

.table.shopping-cart-table th {
    padding: 5px 10px;
}

.table th.aligncenter, .table td.aligncenter {
    text-align: center;
}

.table th.alignright, .table td.alignright {
    text-align: right;
}

.table.shopping-cart-table td {
    border-right: 1px solid #e5e5e5;
}

.table.shopping-cart-table td:first-child {
    border-left: 1px solid #e5e5e5;
    width: 10%;
    min-width: 136px;
}

.table.shopping-cart-table th {
    font-weight: normal;
}

.table.shopping-cart-table input.qty {
    width: 30px;
    border: 1px solid #e0e0e0;
    box-shadow: none;
    border-radius: 0;
    margin-top: -5px;
    margin-bottom: -5px;
}

.table.shopping-cart-table a[class^="icon-"], .table.shopping-cart-table a[class*=" icon-"] {
    font-size: 20px;
}

.table.shopping-cart-table .cart-col-name {
    display: none;
}

.table.shopping-cart-table-total {
    border-bottom: 2px solid #e5e5e5;
}

.table.shopping-cart-table-total th, .table.shopping-cart-table-total td {
    padding: 0 15px;
    border: none;
}

/*product block*/
.product {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 14px;
    margin-top: 10px;
    padding-bottom: 14px;
    position: relative;
}

.product-listing .product {
    background: none
}

.product a {
    text-decoration: none;
}

.product a:hover {
    text-decoration: underline;
}

.product .product-image-wrapper {
    padding: 5px 5px 0 5px;
    text-align: center;
    cursor: pointer;
    z-index: 350;
}

.product .product-image-wrapper .roll_over_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}

.small_with_description .product, .big_without_description .product, .small_without_description .product, .product-listing .product {
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 0;
    box-shadow: none;
}

.small_with_description .product .product-image-wrapper, .big_without_description .product .product-image-wrapper, .small_without_description .product .product-image-wrapper, .product-listing .product .product-image-wrapper {
    padding: 5px;
    border-radius: 8px;
    /*box-shadow:         0px 0px 4px rgba(0, 0, 0, 0.27);*/
}

.product .product-image-wrapper img {
    float: none;
    margin: 0 auto;
}

.product .product-price, .product .product-price-regular, .preview .product-price, .preview .product-price-regular {
    float: left;
    font: 16px/25px Arial, Helvetica, sans-serif;
}

.product .product-price-regular, .preview .product-price-regular {
    color: #ff0000;
}

.product .product-price span.old, .product .product-price-regular span.old, .preview .product-price span.old, .preview .product-price-regular span.old {
    padding-left: 5px;
    color: #000;
    text-decoration: line-through;
    font-size: 12px;
    line-height: 25px;
}

.product .product-price span.new, .preview .product-price span.new {
    color: #ff0000;
}

.product .product-tocart, .preview .product-tocart {
    float: right;
    text-align: right;
    height: 25px;
}

.product .product-tocart a, .preview .product-tocart a {
    color: #246AE4;
    font-size: 20px;
    line-height: 25px;

}

.product .product-tocart a:hover, .preview .product-tocart a:hover {

}

.product .product-link, .preview .product-link {
    clear: both;
    line-height: 15px;
    margin-top: 5px;
}

.product .product-name, .preview .product-name {
    margin-top: 10px;
    margin-bottom: 7px;
    font: 12px/16px Arial, Helvetica, sans-serif;
}

.product .wrapper-hover {
    padding: 3px 14px 12px 14px;
}

.preview .wrapper-hover {
    padding: 3px 9px 12px 9px;
}

.preview.small .wrapper-hover {
    padding: 6px 0 12px 0;
}

.small_with_description .product .wrapper-hover {
    padding: 2px 5px;
}

.product .product_label {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
}

.style2 .image-wrapper {
    margin: 0 4px;
}

.style2 .image-wrapper img {
    margin-bottom: 65px;
}

.button_small, #topline a.button_small {
    display: inline-block;
    font: 12px/20px Arial, Helvetica, sans-serif;

    margin: 0;
    height: 20px;
    overflow: hidden;
    vertical-align: middle;

    color: #fff !important;
    text-transform: none;
    margin-right: 5px;
    border-radius: 2px;
    text-decoration: none;

    background-repeat: no-repeat;
    background-position: 22px 0;
    background-color: #246AE4;
}

.button_small:hover, #topline a.button_small:hover {
    background-color: #6a2886;
}

.button_small i {
    width: 24px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    margin-top: -1px;
    vertical-align: middle;

    padding: 0;
}

.button_small span {

    text-align: center;
    display: inline-block;
}

/*product label*/
.label_outer {
    position:relative;
    z-index:1;
    height: 200px;
}
.label_new_top_left, .label_new_top_right, .label_sale_top_left, .label_sale_top_right {
    position:absolute;
    top:20px;
    left:-3px;
    z-index: 1;
    width:68px;
    font-size:11px;
    line-height:12px;
    padding: 6px 0;
    background-color:#9da9ad;
    text-align:center;
    color:#fff;
    text-transform:uppercase;
    border-radius: 2px;
}
.label_new_top_right {
    right: -3px;
    left:auto;
}
.label_sale_top_left, .label_sale_top_right
{	background-color:#ff391c;
}
.label_sale_top_right {
    right: -3px;
    left:auto;
}

/*product hover preview*/
.preview {
    position: absolute;
    z-index: 4000;
    top: 0;
    left: 0;
    display: none;
    /*overflow: hidden;*/
    float: left;
    text-align: left;
    padding: 5px 5px 10px 5px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 46px 12px rgba(0, 0, 0, 0.1);
}

.preview .col-1 {
    width: 75px;
}

.preview .col-2 {
    width: 260px;
}

.preview .col-1 img {
    margin-bottom: 5px;
}

.preview.small {
    padding-bottom: 5px;
}

.preview.small .col-1 {
    width: 53px;
    padding-right: 4px;
}

.preview.small .col-2 {
    width: 160px;
}

.preview.small .padding {
    padding: 8px 3px 0;
}

.preview .preview_top {
    overflow: hidden;
}

.preview .preview_bot {
    padding: 0;
}

.preview.small .preview_bot {
    margin-top: 0;
    padding: 8px 0 12px 55px;
}

.preview.small img {
    margin-bottom: 4px;
    margin-left: 1px;
}

.preview .big_image {
    text-align: center;
}

.preview.small .big_image {
    left: 62px;
}

.icon {
    float: left;
    width: 30px;
}

.txt {
    margin-bottom: 10px;
    margin-left: 30px;
}

.twit {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 5px 0 15px 0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.1);
}

.twit a, .twit .icon {
    color: #246AE4;
}

.twit .icon {
    width: 40px;
    font-size: 18px;
}

.twit .mess {
    margin-left: 40px;
}

.fb-like-box, .fb-like-box iframe[style], .fb-like-box span {
    width: 100% !important;
}

.block {
    margin: 0 0 15px;
    border-bottom: 1px solid #eeeeee;
}

.block.last {
    border: none;
}

.block .block-title {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}

.block .block-title strong {
    font-weight: normal;
}

.block .block-content {
    padding: 5px 0 15px;
}

.block .block-subtitle {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 18px;
}

.block-layered-nav dt {
    margin: 0;
    padding: 7px 0 6px;
    font-weight: bold;
}

.block-layered-nav dd {
    margin: 0 0 25px;
    padding: 0;
}

.block-layered-nav ol {
    margin: 0;
}

.block-layered-nav dd li {
    margin-bottom: 6px;
    padding: 0 0 0 19px;
    background: url(../images/template/block-layered-dt.gif) no-repeat scroll 0 9px transparent;
}

.block-layered-nav dd li a {
    text-decoration: none;
}

.block-layered-nav dd li a:hover {
    text-decoration: underline;
}

ul#poll-answers {
    margin-bottom: 15px;
}

ul#poll-answers li {
    line-height: 22px;
}

ul#poll-answers .label {
    display: inline-block;
    padding: 0 4px;
    border-radius: 0;
    background: none;
    color: #000;
    vertical-align: baseline;
    text-shadow: none;
    white-space: nowrap;
    font-weight: normal;
    font-size: 12px;
}

ul#poll-answers label {
    margin: 0;
}

ul#poll-answers input[type="radio"] {
    margin: -2px 0 0;
}

.line {
    overflow: hidden;
    margin: 10px 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #ececec;

}

.patriks_day .line {

    margin: 5px 0;
    height: 40px;
    border: none;
}

.helloween .line {

    margin: 5px 0;
    height: 40px;
    border: none;
}

.christmas .line {

    margin: 5px 0;
    height: 40px;
    border: none;
}

.thanksgiving .line {

    margin: 5px 0;
    height: 40px;
    border: none;
}

.line1 {
    overflow: hidden;
    margin: 10px 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #c7c7c7;
}

.listing_header_row1 {
    padding: 10px 0 0;
    line-height: 26px;
}

.listing_header_row1 .pull-left {
    width: 34%;
}

.listing_header_row1 .pull-right {
    width: 32%;
}

.listing_header_row2 {
    padding: 0 0 30px 0;
}

.listing_header_row1 label {
    display: inline-block;
    padding-right: 15px;
    font-size: 12px;
    line-height: 26px;
    cursor: text;
}

.listing_header_row1 a[class^="icon-"], .listing_header_row1 a[class*=" icon-"] {
    padding-right: 5px;
    color: #000;
    font-size: 26px;
    text-decoration: none;
    display: inline-block;
}

@-moz-document url-prefix() {
.listing_header_row1 a[class^="icon-"], .listing_header_row1 a[class*=" icon-"] {
margin-top:-2px;
}
}
.listing_header_row1 a[class^="icon-"]:hover, .listing_header_row1 a[class*=" icon-"]:hover {
    color: #666;
}

.listing_header_row1 a[class^="icon-"].active, .listing_header_row1 a[class*=" icon-"].active {
    color: #246AE4;
}

.num {
    text-align: right;
}

.num a {
    display: inline-block;
    padding-right: 5px;
    line-height: 20px;
}

a.small_icon i {
    padding: 0 3px;
    background-color: rgba(236, 236, 236, 1);
    font-size: 12px;
    line-height: 20px;
}

a.small_icon:hover i {
    background-color: rgba(236, 236, 236, 0.6);
}

a.small_icon_color i {
    margin-top: -2px;
    margin-right: 7px;
    padding: 0 2px;
    border-radius: 2px;
    background-color: #246AE4;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}

a.small_icon_color i.icon-heart {
    text-indent: 1px;
}

a.small_icon_color:hover i {
    background-color: #6a2886;
}

.middle_icon_color {
    display: block;
    margin-right: 10px;
    padding: 2px 0 0 0;
    width: 32px;
    font-size: 23px;
    height: 29px;
    line-height: 28px;
    border-radius: 3px;
    background: #246AE4;
    text-align: center;
    color: #fff;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
}

.rating {
    margin-top: 7px;
}

.rating i {
    color: #ccc;
    font-size: 14px;
}

.rating strong i {
    color: #b141e4;
}



#fancybox-content{background: url(../images/template/ajax-loader-quick-view.gif)  no-repeat center center;}
body.ajax-index-options{background-color:#fff !important}
.product-shop {
    display: inline-block;
}

.product-shop h2 {
    padding-right: 0;
}

.product-shop .product_info_left {
    overflow: hidden;
}

.product-shop .product_custom, .product-shop .product_related {
    float: right;
    margin-left: 30px;
    margin-top: -10px;
    width: 170px;
}

.product-img-box .product-image {
    padding: 8px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
}

.product-img-box .more-views li {
    margin: 0 0 10px;
    padding: 2px;
    border-radius: 6px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
}

.product-shop .product-name h1
{
    font-size: 20px;
    line-height: 24px;
    margin-top: -3px;
    padding-bottom: 10px;
}

.product-shop .availability {
    padding-bottom: 20px;
    border-bottom: 1px solid #D7D7D7;
}

.product-shop .short-description {
    padding: 5px 0 15px;
    border-bottom: 1px solid #D7D7D7;
}

.product-shop .price-box {
    padding: 25px 0 10px;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}

.product-listing .price-box {
    display: inline-block;
    /*color: #4a4a4a;*/
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    width: 200px;
}

.product-listing .product-review {
    display: inline-block;
    line-height: 30px;
}

.product-listing .product-review a {
    text-decoration: underline;
}

.product-listing .product-review a:hover {
    text-decoration: none;
}

.product-shop .old-price, .product-shop .special-price, .product-listing .old-price, .product-listing .special-price {
    display: inline-block;
}

.product-shop .old-price .price, .product-listing .old-price .price {
    padding-right: 10px;
    color: #4a4a4a;
    text-decoration: line-through;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.product-shop .special-price .price, .product-listing .special-price .price {
    color: #e60000;
}

.product-listing .special-price .price {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}

.product-shop .add-to-cart {
    margin: 0 0 30px;
}

.product-shop .add-to-cart .qty {
    display: inline-block;
    margin-right: -10px;
    padding: 12px 35px 0 10px;
    height: 42px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-bottom: 5px;
}

.product-shop .add-to-cart label {
    float: left;
    margin-right: 12px;
    line-height: 30px;
}

.product-shop .add-to-cart .qty input {
    padding: 0;
    width: 40px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    text-align: center;
}

.product-shop .add-to-cart button.btn-cart, .product-listing a.btn-cart {
    padding-right: 20px;
    height: 56px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 22px;
}

.product-listing {
    margin-bottom: 20px;
}

.product-listing a.btn-cart {
    margin-right: 20px;
    margin-bottom: 5px;
    height: 38px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
}

.product-shop .add-to-cart button.btn-cart i, .product-listing a.btn-cart i {
    margin-top: -10px;
    padding-right: 8px;
    font-size: 22px;
}

.product-listing a.btn-cart i {
    margin-top: -2px;
}

.product-shop .add-to-links, .product-listing .add-to-links {
    display: inline-block;
}

.product-listing .add-to-links {
    padding: 10px 0 0 0;
}

.product-shop .add-to-links li, .product-listing .add-to-links li {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

.product-shop .add-to-links li:last-child, .product-listing .add-to-links li:last-child {
    margin-right: 0;
}

.product-shop .no-rating {
    padding: 15px 0;
}

.product-shop .no-rating a {
    text-decoration: underline;
}

.product-shop .no-rating a:hover {
    text-decoration: none;
}

.product-listing .bottom-line, .product-listing .product-buttons {
    border-bottom: 1px solid #e9e9e9;
    padding: 15px 0;
}

.product-listing .product-buttons {
    border: none;
}

.product-listing .product-name, .product-listing .product-name a {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.product-listing .product-name a:hover {
    text-decoration: underline;
}

.socialsplugins_wrapper {
    display: inline-block;
    padding-top: 20px;
}

.socialsplugins_wrapper .facebook_button {
    float: left;
    margin-right: 5px;
}

.socialsplugins_wrapper .twitter_button {
    float: left;
    margin-right: -10px;
}

.socialsplugins_wrapper .pinit_button {
    float: left;
}

.promo_box {
    display: table;
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid #f2f2f2;
}

.promo_box span {
    display: block;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}

.promo_box:hover div {
    background-color: #6a2886;
}

{
    color: #e60000
;
}
.nav-tabs {
    margin-top: 25px;
}

.nav-tabs > li > a, .nav-pills > li > a {
    margin-right: 4px;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav-tabs > li > a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
    color: #000;
    font-weight: bold;
    line-height: 24px;
}

.nav-tabs > li > a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    border: none;
    background-color: #246AE4;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
    color: #fff;
    text-decoration: none;
}

.tab-content {
    position: relative;
    z-index: 5;
    margin-bottom: 25px;
    padding: 20px;
    border-top: 5px solid #246AE4;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
}

.content_top {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.breadcrumbs {
    display: inline-block;
    margin-bottom: 20px;
}

.breadcrumbs a {
    display: block;
    float: left;
    line-height: 18px;
}

.breadcrumbs span {
    display: block;
    float: left;
    padding: 0 10px;
    color: #bababa;
}

.direction-nav, .small_previews {
    position: relative;
    float: right;
    margin-top: -10px;
}

.carousel .small_previews {
    position: absolute !important;
    top: -36px;
    right: 9px;
}

.flexslider.vertical .small_previews {
    position: absolute;
    top: 366px;
    right: 0px;
    margin: 0 0 20px 0;
}

.direction-nav a {
    display: inline-block;
    margin-left: 4px;
    padding: 0;
    width: 34px;
    height: 33px;
    border-radius: 2px;
    background: #e2e2e2;
    color: #fff;
    text-indent: 2px;
    font-size: 24px;
    line-height: 33px;
    cursor: pointer;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
}

.direction-nav a:hover {
    background-color: #246AE4;
    color: #fff;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
}

.small_preview {
    position: absolute;
    width: 85px;
    height: 85px;
    z-index: 10000;
    top: 38px;
    display: none;
    padding: 4px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
}

.small_preview.next {
    right: -60px;
}

.small_preview.prev {
    right: 40px;
}

.small_previews #jcarousel_preview_prev, .small_previews #jcarousel_preview_next {
    top: 20px;
    z-index: 100;
}

.accordion {
    margin-bottom: 20px;
}

.accordion-group {
    margin-bottom: 2px;
    padding: 2px 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.accordion-heading {
    border-bottom: 0 none;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
}

.accordion-heading a {
    margin-top: 3px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    text-decoration: none;
}

.accordion-heading a.collapsed {
    margin: 0;
    background: #fff;
    color: #4c4c4c;
}

.accordion-heading a span {
    padding-right: 20px;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}

.accordion-toggle {
    cursor: pointer;
}

.accordion-inner {
    overflow: hidden;
    padding: 20px 25px;
    border-top: 1px solid #fff;
}

.box-list {
    padding: 10px 30px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.box-list li {
    padding: 4px 0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.2);
}

.box-list li:last-child {
    border: none;
}

#work {
	padding-top: 180px;
}
	
.custom_blocks {
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
    border: 2px solid #fff;
    display: inline-block;
    width: 100%;
	margin-bottom: 28px;
}

.custom_blocks .box {
    width: 270px;
    float: left;
    text-align: center;
    padding: 0;
    background: none;
}

.custom_blocks .box:first-child {
    padding: 0 30px 0 0;
    background: url(../images/template/divider.png) no-repeat right 27px;
}

.custom_blocks .pull-left {
    padding: 0;
    background: none;
}

.custom_blocks .pull-left:first-child {
    padding: 0 30px 0 0;
    background: url(../images/template/divider.png) no-repeat right 27px;
}

.custom_blocks .box a {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.custom_blocks .box a:hover {
    text-decoration: none;
}

.custom_blocks .box .inside {
    border-bottom: 5px solid #246AE4;
	height: 185px;
    margin: 8px 0 0;
    padding: 0 0 8px 0;
    text-align: center;
    -moz-transition: all 1s 0s linear;
    -o-transition: all 1s 0s linear;
    -webkit-transition: all 1s 0s linear;
    overflow: hidden;
}

.custom_blocks .box:hover .inside {
    border-bottom: 5px solid transparent;
    -moz-transition: all 0.5s 0s linear;
    -o-transition: all 0.5s 0s linear;
    -webkit-transition: all 0.5s 0s linear;
}

.custom_blocks .box .icon_circle {
    width: 62px;
    height: 63px;
    display: inline-block;
    margin: 0 10px 0 0;
    text-align: center;
}

.custom_blocks .box .icon_circle.dark {
    background: url(../images/template/icon_dark.png) no-repeat;
}

.custom_blocks .box .icon_circle.light {
    background: url(../images/template/icon_light.png) no-repeat;
}

.custom_blocks .box .text {
    display: inline-block;
    line-height: 63px;
}

.custom_blocks .box .icon_circle i {
    font-size: 34px;
    height: 62px;
    width: 62px;
    padding: 1px 0 0;
    margin: 0;
    vertical-align: middle;
    display: table-cell;
    -moz-transition: font-size 0.1s 0s ease;
    -o-transition: font-size 0.1s 0s ease;
    -webkit-transition: font-size 0.1s 0s ease;
}

.custom_blocks .box .icon_circle.dark i {
    color: #fff;
}

.custom_blocks .box .icon_circle.light i {
    color: #444;
}


.block_img img {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    -moz-transition: all 0.2s 0s linear;
    -o-transition: all 0.2s 0s linear;
    -webkit-transition: all 0.2s 0s linear;
    width: 100%;
}

.block_img img:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.message {
    padding: 15px 20px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
}

.message .text {
    font-size: 12px;
    line-height: 28px;
    display: inline-block;
}

.message i {
    font-size: 28px;
    padding-right: 10px;
    display: inline-block;
}

@-moz-document url-prefix() {
.message i {
 margin-top:-2px;
}
}
.message.error {
    background: #f3dddd;
    border-color: #dfd2d2;
    color: #866868;
}

.message.error i {
    color: #d1aaaa;
}

.message.done {
    background: #e8f6df;
    border-color: #d9e6d1;
    color: #67795c;
}

.message.done i {
    color: #bad3aa;
}

.message.info {
    background: #efefef;
    border-color: #e8e8e8;
    color: #8a8a8a;
}

.message.info i {
    color: #c7c7c7;
    font-size: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
}



/*FOOTER*/
#bottom_block {
    padding: 0 0 25px 0;
    margin-bottom: -50px;
}

#push, #footer {
    height: 27px;
    clear: both;
}

#footer {
    z-index: 3000;
    position: relative;
    color: #959595;
    bottom: 0;
    margin-top: -27px;
}

#footer:hover {
    z-index: 3002;
}

#footer a {
    color: #959595;
}

#footer_line {
    position: relative;
    z-index: 0;
    background-color: #333;
}

#footer_bottom {
    position: relative;
    z-index: 1;
}

#footer_bottom i {
    color: #fff;
    font-size: 14px;
}

#footer_bottom .pull-right, #footer_bottom .pull-left {
    max-width: 49%;
}

#footer_bottom .pull-right {
    text-align: right;
}

#footer_bottom .noHover, #footer_bottom .noHover span {
    padding: 0;
    line-height: 25px;
    margin: 0 0 1px 0;
}

#footer_bottom .noHover img {
    vertical-align: middle;
}

#footer_bottom .noHover span {
    display: inline-block;
}

#footer_bottom .noHover span.text {
    padding-top: 5px;
}

#footer_bottom .noHover span.text, #footer_bottom .noHover span.text span {
    display: inline-block;
    line-height: 18px
}

#footer_bottom .noHover span.text span {
    margin: 0;
}

#footer_bottom .pull-right.noHover {
    padding: 2px 0 0;
    line-height: 24px;
}

#footer_bottom .noHover .payment_icons {
    margin-right: 5px;
}

#footer_bottom .payment_icons img {
    margin-right: 4px;
}

#footer_button {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    margin-left: -20px;
    padding: 3px 0 0 0;
    width: 30px;
    height: 24px;
    text-align: center;
    background: #3c3c3c;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#footer_popup {
    position: absolute;
    z-index: 0;
    bottom: 0;
    display: none;
    padding-bottom: 65px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

#footer_popup.footer_bg {
    /*	background-image:url(../images/template/glyphicons-halflings.png);
*/
}

#footer_popup h3, #footer_popup h4 {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}

#footer_popup h4 {
    border: none;
}

#footer_bottom i {
    color: #fff;
    font-size: 14px;
    height: 20px;
    -webkit-transition: font-size 0.25s 0s ease;
    -moz-transition: font-size 0.25s 0s ease;
    -o-transition: font-size 0.25s 0s ease;
}

#footer_bottom i:hover {
    font-size: 20px;
    -webkit-transition: font-size 0.25s 0s ease;
    -moz-transition: font-size 0.25s 0s ease;
    -o-transition: font-size 0.25s 0s ease;
}

#footer_popup.static-popup {
    display: block !important;
    padding-bottom: 16px;
    position: relative;
    margin-top: 7px;
}

#preloader {
    position: fixed;
    z-index: 100000;
    top: 40%;
    width: 100%;
}

#preloader .message {
    position: absolute;
    left: 32%;
    padding: 0 1%;
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    border: none;
    color: #fff;
    text-align: center;
    width: 34%;
}

#preloader .loader {
    position: absolute;
    left: 50%;
    margin-left: -28px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    height: 56px;
    width: 56px;
    line-height: 56px;
    text-align: center;
}

#preloader .loader img {
    opacity: 0.9;
}

#preloader .message .inside {
    padding: 20px;
}

#login-box {
    z-index: 100000;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -200px;
    width: 320px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    background: #fff;
    text-align: center;
}

#login-box a {
    text-decoration: underline;
}

#login-box a:hover, #login-box .button {
    text-decoration: none;
}

#login-box .inside {
    padding: 20px;
}

#login-box input {
    text-align: center;
    color: #000;
    margin: 12px 0;
}

#login-box .button {
    margin-top: 20px;
    position: relative;
}

#login-box .line {
    overflow: hidden;
    margin: 20px -20px 0 -20px;
    width: 320px;
    height: 1px;
    border-top: 5px solid #246AE4;
}

#carousel_tabs a {
    white-space: nowrap;
}

/*form element*/
label, input, button, select, textarea {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.form-search-wrapper {
    position: relative;
    z-index: 50004;
    margin-right: 58px;
    background-size: 273px 23px;
}

.helloween .form-search-wrapper {

    margin-top: -25px;
    padding-top: 25px;
}

.patriks_day .form-search-wrapper {

    margin-top: -25px;
    padding-top: 25px;
}

.thanksgiving .form-search-wrapper {

    margin-top: -25px;
    padding-top: 25px;
}

.christmas .form-search-wrapper {

    margin-top: -18px;
    padding-top: 18px;
}

.form-search {
    position: relative;
    margin-bottom: 0;
}

.form-search input.search-query {
    padding-left: 44px;
    font-size: 12px;
    width: 260px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
}

select, select:focus {
    border-radius: 3px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
    outline: none;
    height: 34px;
    line-height: 34px;
    padding: 6px;
    font-size: 14px;
}

select.fullwidth, input.fullwidth, textarea.fullwidth {
    width: 99%;
}

input.fullwidth, textarea.fullwidth {
    width: 94%;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    /*border: 2px solid #fff;*/
    border: 1px solid #F4F4F4;
    border-radius: 3px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #C68DDE;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
}

#form-contact input {
    width: 100%;
}

#form-contact input.input-small {
    width: 120px;
    margin-top: 5px;
}

#form-contact textarea {
    width: 100%;
    height: 185px;
    margin-bottom: 20px;
}

button, .button {
    padding: 0 14px;
    border: none;
    border-radius: 3px;
    background: #246AE4;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 12px;
    line-height: 25px;
    font-weight: normal;
}

button.dark, .button.dark {
    background: #333;
}

.button {
    display: inline-block;
    text-decoration: none;
}

button:hover, .button:hover {
    /*background:#6a2886;*/
    color: #fff;
    text-decoration: none;
}

button.dark:hover, .button.dark:hover {
    background: #000;
}

button.button-2x, .button.button-2x {
    padding: 0 15px;
    font-size: 16px;
    line-height: 33px;
    font-weight: normal;
}

.actions .button, .category-products.aligncenter {
    margin-bottom: 5px
}

button.button-3x, .button.button-3x {
    padding: 2px 15px 6px 15px;
    border: none;
    border-radius: 3px;
    background: #246AE4;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 64px;
    line-height: 64px;
    font-weight: normal;
    margin-bottom: 15px;
}

	a.button2
	{
		position: relative;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		font-weight: 700;
		border: 0;
		outline: 0;
		cursor: pointer;
		border-radius: 8px;
		text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
		overflow: hidden;
		background: #61b8db;
		background-image: -moz-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: -webkit-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: -o-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: -ms-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255,255,255,0.75);
		-moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-o-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
	}

		.button2:before
		{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/bg.png');
		}

		.button2:hover
		{
			background-color: #76cdf0;
			color: #fff !important;
		}
		
		.button2:active
		{
			background-image: -moz-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: -webkit-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: -o-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: -ms-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px -2px 1px 0px rgba(255,255,255,0.75);
			top: 1px;
		}
	
		.button2-alt
		{
			background-color: #393939;
			background-image: -moz-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: -webkit-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: -o-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: -ms-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255,255,255,0.2);
		}

			.button2-alt:hover
			{
				background-color: #444;
			}
			
			.button2-alt:active
			{
				background-image: -moz-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: -webkit-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: -o-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: -ms-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				box-shadow: inset 0px 0px 0px 1px #242424, inset 0px -2px 1px 0px rgba(255,255,255,0.2);
			}
	
		.button2-big
		{
		}

.form-search button, .form-mail button {
    position: absolute;
    top: 2px;
    left: 2px;
    margin: 0;
    padding: 2px 0 0 0;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 3px;
    background: #246AE4;
    background-image: none;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
}

.form-mail button {
    padding: 0 0 2px;
}

.form-search button.btn:hover, .form-mail button.btn:hover {
    background: #00829f;
    color: #fff;
    -webkit-transition: background-color 0.25s 0s ease;
    -moz-transition: background-color 0.25s 0s ease;
    -o-transition: background-color 0.25s 0s ease;
}

.form-mail {
    position: relative;
}

.form-mail input {
    padding-left: 44px;
    width: auto;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
}

.form-login-wrapper {
    position: absolute;
    width: 330px;
    top: 20px;
    right: 0;
    z-index: 50005;
    display: none;
    padding: 8px 8px 12px 20px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, 0.89);
}

.form-login-wrapper:hover {
    display: block;
}

.form-login {
    margin: 0;
}

.form-login input {
    margin: 0 15px 0 -24px;
    padding-left: 25px;
    width: 112px;
    height: 22px;
    border: 2px solid #fff;
    border-radius: 3px;
}

.form-login .pull-left i {
    position: relative;
    z-index: 100;
    width: 18px;
    color: #000;
    font-size: 16px;
    height: 32px;
    vertical-align: middle;
}

.form-login button {
    float: left;
    display: inline-block;
    margin: 0 0 0 -5px;
    padding: 0;
    width: 20px;
    height: 32px;
    border: none;
    background: none;
    background-image: none;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
}

.form-login button i {
    color: #ff0066;
    font-size: 20px;
    line-height: 20px;
}

.form-login button.btn:hover {
    background: none;
}



#megamenu {
    position:relative;
}
#megamenu #nav  ul.level0 {
    width:100%;
    position:absolute;
    left: 0;
}
#megamenu #nav  ul.level0 > li {
    width:100%;
}
#megamenu li.row_middle, #megamenu li.row_top, #megamenu li.row_bot {
    width:100%;
    padding:0;
    margin:0;
}
#megamenu span.inside {
    margin: 0 30px;
    padding: 20px 0;
    display:block;
    font: 13px/18px 'Oswald', sans-serif;
    text-transform:uppercase;
}
#megamenu span.inside i {
    font-size:18px;
    margin:-2px 5px 0 0;

}
#megamenu li.row_middle > ul {
    margin: 0 30px;
    padding: 30px 0 5px;
    display:block;
}
#megamenu li.row_top .inside {
    border-bottom: 1px solid #e1e1e1;
}
#megamenu li.row_bot .inside {
    border-top: 1px solid #e1e1e1;
}
#megamenu li.row_middle {
}
#megamenu ul.rows_outer {
    float:left;
}
#megamenu ul.rows_outer > li {
    clear:both;
}
#megamenu ul.rows_outer ul {
    display:block;
    width:auto;
    position: relative;
    top:0;
    left:0;
    padding:0;
    border-radius:0;
    box-shadow: 0;
    z-index:99;
}
#megamenu ul.rows_outer ul:hover {
    z-index: 100;
}
#megamenu ul.rows_outer ul.menu_row li.col {
    display:block;
    width:175px;
    float:left;
    padding:0;
    margin:0 10px 30px 0;
    box-shadow:none;
    position:relative;
    z-index: 99;
}
#megamenu ul.rows_outer ul.menu_row li.col:hover {
    z-index: 100;
}
#megamenu ul.rows_outer ul.menu_row li.col ul {
    box-shadow:none;
}
#megamenu ul.rows_outer ul.menu_row li.col li {
    width:auto;
    float:none;
    padding-left:5px;
}
#megamenu ul.rows_outer ul.menu_row li.col li.title {
    font: 16px/16px 'Oswald', sans-serif;
    margin-bottom:10px;
    text-transform:uppercase;
}
#megamenu ul.rows_outer ul.menu_row li.col li.title span {
    display:inline-block;
    margin:1px 0 0 5px;
    font: 11px/16px Arial, Helvetica, sans-serif;
    padding: 0 5px;
    color:#fff;
    border-radius:3px;
    background-color:#246AE4;
}
#megamenu ul.rows_outer ul.menu_row li.col li:hover {
    background-color: #f0f0f0;
}
#megamenu ul.rows_outer ul.menu_row li.col li.title:hover {
    background-color: transparent !important;
}
#megamenu ul.rows_outer ul.menu_row li.col li a:hover {
    text-decoration: none;
}
#megamenu ul.rows_outer ul.menu_row li.col li ul {
    position:absolute;
    display:none;
    z-index:1000;
    top: -10px;
    left: 100px;
    padding: 10px 0;
    width:200px;
    border-radius: 6px;
    background:#fdfdfd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul {
    display:block;
}
#megamenu ul.rows_outer ul.menu_row li.col li ul a { padding: 4px 10px;}
#megamenu .custom {
    padding: 20px 15px;
}
#megamenu .custom img {
    border:5px solid #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-bottom:10px;
}
#megamenu ul.rows_outer a {
    display:block;
    padding: 4px 0;

    text-decoration: none;
    font-size:12px;
    line-height:16px;
}


/**/
#megamenu ul.rows_outer ul.menu_row li.col li.title a {
    font: 16px/16px 'Oswald', sans-serif;
    margin-bottom:10px;
    text-transform:uppercase;
    display: inline;
    background: none !important;
}
ul.menu_row > li.col > ul > li  a,#megamenu .inside a{ background: none !important}
#megamenu .inside a{  display: inline}
    @media (max-width: 1360px) {
        #megamenu ul.rows_outer ul.menu_row li.col{width: 155px}
        #nav .menu_custom_block .col-third {
            width: 323px;
        }

    }
    @media (max-width: 1200px) {
        #megamenu ul.rows_outer ul.menu_row li.col{width: 136px}
        #nav .menu_custom_block .col-third {
            width: 285px;
        }
    }


#megamenu ul.rows_outer ul.menu_row li.col li:hover ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul  { display:block !important;}

#megamenu ul.rows_outer ul.menu_row li.col li:hover ul ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul ul,
#megamenu ul.rows_outer ul.menu_row li.col li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul ul  { display:none !important;}
/**/
a.fancy-zoom{ display: block;
    font-size: 24px;
    margin-right: 4px;
    margin-top: -29px;
    position: relative;
    z-index: 9999;}

@media (max-width: 1279px) {
    #right_toolbar {
        right: -10000px;
    }

    .hidden-small-desktop {
        display: none;
    }
}
@media (min-width: 980px) {
    #nav.simple {

        display: block;

    }
}

@media (max-width: 1200px) {
    .custom_blocks .box {
        width: 212px;
        float: left;
    }

    .custom_blocks .box a {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 16px;
    }

    #header.header_v_2 #nav > li > a {
        min-width: 100px;
        display: block;
        padding: 15px 20px 15px 10px;
    }

    #header.header_v_2 .fadelink > a {
        min-width: 60px;
        padding: 15px 20px 15px 10px;
    }
}

@media (max-width: 979px) {
    section.slider #layerslider-container-fw {
        margin-right: 7px;
    }

    .accordion-inner > .pull-left, .accordion-inner > .pull-right {
        float: none;
    }

    #nav li:hover li.list_column {
        width: 200px;
    }

    #nav li:hover li.category_desc_in_menu {
        padding: 0 30px;
        width: 200px;
    }

    #header.header_v_2 .top-links {
        float: none;
        clear: both;
        margin: 0 0 0 -10px;
        padding-top: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1360px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 1050px;
    }

    .span12 {
        width: 1050px;
    }

    .span11 {
        width: 960px;
    }

    .span10 {
        width: 870px;
    }

    .span9 {
        width: 780px;
    }

    .span8 {
        width: 690px;
    }

    .span7 {
        width: 600px;
    }

    .span6 {
        width: 510px;
    }

    .span5 {
        width: 420px;
    }

    .span4 {
        width: 330px;
    }

    .span3 {
        width: 240px;
    }

    .span2 {
        width: 150px;
    }

    .span1 {
        width: 60px;
    }

    .preview {
        padding: 5px 5px 10px 5px;
        margin: 0;
    }

    .preview .col-1 {
        width: 75px;
    }

    .preview .col-2 {
        width: 230px;
    }

    .preview.small {
        padding-bottom: 5px;
    }

    .preview.small .col-1 {
        width: 53px;
    }

    .preview.small .col-2 {
        width: 140px;
    }

    .preview .big_image {
        width: 230px;
    }

    .preview.small .big_image {
        width: 140px;
        height: 137px;
    }

    #header.header_v_2 #nav > li > a {
        min-width: 130px;
        display: block;
        padding: 15px 20px 15px 10px;
    }

    #header.header_v_2 .fadelink > a {
        min-width: 60px;
        padding: 15px 30px 15px 10px;
    }

    .custom_blocks .box {
        width: 240px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .custom_blocks .box {
        padding: 0;
        width: 158px;
        float: left;
    }

    .custom_blocks .box a {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 12px;
    }

    .custom_blocks .box .icon_circle {
        margin: 0 5px 0 0;
    }

    .product-box .span4, .product-box .span5, .product-box .span6, .product-box .span7, .product-box .span7, .product-box .span8 {
        float: left;
        width: 350px;
    }

    .product-box .product-img-box .span1 {
        width: 60px;
        margin-right: 20px;
    }

    .product-box .product-img-box .span3, .product-box .product-img-box .span4, .product-box .product-img-box .span5 {
        width: 260px;
        margin: 0;
    }

    .form-mail input {
        width: 70%;
    }

    .nav-list {
        display: block;
        position: static;
        top: 0;
    }

    nav #nav{
        display: none
    }
}

@media (max-width: 767px) {
    .flexslider.big .flex-direction-nav {
        display: none;
    }

    .listing_header_row1 .pull-left {
        width: 55%;
    }

    .listing_header_row1 .pull-right {
        width: 45%;
    }

    .tab-content {
        position: relative;
        z-index: 0;
        background-color: #fff;
        margin-bottom: 25px;
        margin-top: 2px;
        padding: 20px;
        border-top: none;
    }

    .nav-tabs > li > a, .nav-pills > li > a {
        margin-right: 0;
    }

    .mousetrap {
        display: none;
    }

    #footer_popup {
        position: relative !important;
        display: block !important;
        height: auto !important;
        padding-bottom: 20px;
    }

    #nav li:hover li.list_column {
        width: 160px;
    }

    #nav li:hover li.category_desc_in_menu {
        padding: 0 20px;
        width: 160px;
    }

    #footer_button {
        display: none;
    }

    #footer .pull-left.noHover, #footer .pull-right.noHover {
        max-width: 100%;
    }

}

@media (min-width: 640px) and (max-width: 767px) {
    body {
        padding: 0;
    }

    .container {
        padding: 0 20px;
        width: 580px;
    }

    .row {
        margin-left: -70px;
    }

    .span12 {
        float: left;
        margin-left: 70px;
        width: 580px;
    }

    .span11 {
        float: left;
        margin-left: 70px;
        width: 580px;
    }

    .span10 {
        float: left;
        margin-left: 70px;
        width: 580px;
    }

    .span9 {
        float: left;
        margin-left: 70px;
        width: 580px;
    }

    .span8 {
        float: left;
        margin-left: 70px;
        width: 344px;
    }

    .span7 {
        float: left;
        margin-left: 70px;
        width: 344px;
    }

    .span6 {
        float: left;
        margin-left: 70px;
        margin-right: -40px;
        width: 276px;
    }

    .span5 {
        float: left;
        margin-left: 70px;
        width: 255px;
    }

    .span4 {
        float: left;
        margin-left: 70px;
        width: 255px;
    }

    .span3 {
        float: left;
        margin-left: 70px;
        width: 255px;
    }

    .span2 {
        float: left;
        margin-left: 70px;
        width: 123px;
    }

    .span1 {
        float: left;
        margin-left: 15px;
        width: 59px;
    }

    .row.small_without_description, .row.small_with_description {
        margin-left: -30px;
    }

    .span2.product {
        margin-left: 30px;
        width: 120px;
    }

    .carousel, .es-carousel, .es-carousel .row {
        padding: 0;
        margin: 0;
    }

    .carousel.style0 .es-carousel {
        margin: 0 -5px 0 -65px;
    }

    .carousel .span3 {
        margin-left: 65px;
        margin-right: 5px;
        width: 255px;
    }

    .carousel .span2 {
        margin-left: 4px;
        margin-right: 11px;
        width: 123px;
    }

    #column_left.span3 {
        float: left;
        width: 580px;
    }

    #column_right.span9 {
        float: left;
        width: 580px;
    }

    .product-box .span4, .product-box .span5, .product-box .span6, .product-box .span7, .product-box .span8 {
        width: 580px;
        margin-left: 70px;
        margin-bottom: 25px;
    }

    .product-box .product-img-box .span1 {
        float: left;
        width: 60px;
        margin-right: 20px;
        margin-left: 70px;
    }

    .product-box .product-img-box .span3, .product-box .product-img-box .span4, .product-box .product-img-box .span5 {
        float: left;
        width: 500px;
        margin: 0;
    }

    .nav-tabs li {
        float: none;
    }

    .nav-tabs li a {
        margin-bottom: -2px;
        background: #fff;
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
    }

    .form-mail input, .form-search input.search-query {
        width: 200px;
    }

    .custom_blocks .box {
        width: 270px;
    }

    .custom_blocks .box:first-child {
        padding: 0 30px 0 5px;
    }

    .custom_blocks .pull-left:first-child {
        padding: 0;
        background: none;
    }

    .span2.product .product-price span.old, .span2.product .product-price-regular span.old {
        padding: 0;
        display: block;
        margin-top: -12px;
    }

    .nav-list {
        display: block;
        position: static;
        top: 0;
    }

    nav {
        display: none
    }

}

@media (max-width: 640px) {
    #login-box {
        margin-top: -150px;
    }

    #login-box .inside {
        padding: 20px;
    }

    #login-box input {
        text-align: center;
        color: #000;
        margin: 5px 0;
    }

    #login-box .line {
        margin: 5px -20px;
    }

    #login-box .button {
        margin-top: 5px;
    }
}

@media (min-width: 480px) and (max-width: 639px) {
    body {
        padding: 0;
    }

    .container {
        padding: 0 40px;
        width: 370px;
    }

    .row {
        margin-left: -20px;
    }

    .span12 {
        float: left;
        margin-left: 40px;
        width: 370px;
    }

    .span9 {
        float: left;
        margin-left: 40px;
        width: 370px;
    }

    .span6 {
        float: left;
        margin-left: 20px;
        width: 370px;
    }

    .span4 {
        float: left;
        margin-left: 40px;
        width: 370px;
    }

    .span3 {
        float: left;
        margin-left: 70px;
        width: 270px;
    }

    .span2.product {
        float: left;
        margin-right: 35px;
        margin-bottom: 10px;
        margin-left: 15px;
        width: 160px;
    }

    .span3.product {
        float: left;
        margin-left: 50px;
        margin-right: 50px;
        width: 270px;
    }

    .carousel {
        width: 370px;
    }

    .carousel, .es-carousel, .es-carousel .row {
        padding: 0;
        margin: 0;
    }

    .carousel .span2.product {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
        width: 160px;
    }

    .carousel .span3.product {
        float: left;
        margin-left: 50px;
        margin-right: 50px;
        width: 270px;
    }

    .nav-tabs li {
        float: none;
    }

    .nav-tabs li a {
        margin-bottom: -2px;
        background: #fff;
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
    }

    #nav, .link_label {
        display: none;
    }

    .nav-list {
        display: block;
        position: static;
        top: 0;
    }

    #logo {
        float: none;
        text-align: center;
        padding: 10px 0 0;
    }

    .product-box .span4, .product-box .span5, .product-box .span6, .product-box .span7, .product-box .span8 {
        margin-left: 40px;
        width: 370px;
        margin-bottom: 25px;
    }

    .product-box .product-img-box .span1 {
        float: left;
        width: 70px;
        margin-right: 10px;
    }

    .product-box .product-img-box .span3, .product-box .product-img-box .span4, .product-box .product-img-box .span5 {
        float: left;
        width: 290px;
        margin: 0;
    }

    #column_left.span3 {
        float: left;
        width: 370px;
        margin-left: 0;
    }

    #column_right.span9 {
        float: left;
        width: 370px;
    }

    .block_img {
        width: 175px;
        margin-left: 20px;
    }

    .form-mail input, .form-search input.search-query {
        width: 200px;
    }

    .custom_blocks .box {
        width: 170px;
        float: left;
    }

    .custom_blocks .box a {
        font-size: 12px;
    }

    .custom_blocks .box:first-child {
        padding: 0 30px 0 0;
        background: url(../images/template/divider.png) no-repeat right 50px;
    }

    .custom_blocks .pull-left:first-child {
        padding: 0;
        background: none;
    }

    #form-contact .span9 {
        margin: 0;
        width: 390px;
    }

    #header.header_v_2 .form-search-wrapper {
        margin: -15px 0 0 30px;
    }

    .table.shopping-cart-table th {
        display: none;
    }

    .table.shopping-cart-table, .table.shopping-cart-table tr, .table.shopping-cart-table td, .table.shopping-cart-table td:first-child {
        display: block;
        float: left;
        clear: both;
        width: 100%
    }

    .table.shopping-cart-table td, .table.shopping-cart-table td:first-child {
        padding: 10px;
        width: 90%;
        min-width: 200px;
        border: none;
        border-bottom: 1px solid #e5e5e5;
        text-align: left;
    }

    .table.shopping-cart-table td.aligncenter {
        text-align: left;
    }

    .table.shopping-cart-table td:first-child {
        text-align: center;
    }

    .table.shopping-cart-table .cart-col-name {
        display: inline-block;
        padding-right: 10px;
    }

    .right-button {
        float: left;
        margin-bottom: 15px;
    }
}

@media (max-width: 479px) {
    .star_title {
        display: none
    }

    body {
        padding: 0;
    }

    .container {
        padding: 0;
        margin: 0 auto;
        width: 300px;
    }

    .row {
        margin-left: 0;
    }

    .span12 {
        float: left;
        margin-left: 0;
        width: 300px;
    }

    .span9 {
        float: left;
        margin-left: 0;
        width: 300px;
    }

    .span6 {
        float: left;
        margin-left: 0;
        width: 300px;
    }

    .span4 {
        float: left;
        margin-left: 0;
        width: 300px;
    }

    .span3 {
        float: left;
        margin-left: 20px;
        width: 260px;
    }

    .span3.product {
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        width: 260px;
    }

    .span2.product {
        float: left;
        margin-right: 7px;
        margin-left: 8px;
        margin-bottom: 10px;
        width: 135px;
        padding: 0;
    }

    .carousel {
        width: 300px;
    }

    .es-carousel {
        padding: 0;
        margin: 0;
    }

    .nav-tabs li {
        float: none;
    }

    .nav-tabs li a {
        margin-bottom: -2px;
        background: #fff;
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
    }

    #nav, .link_label {
        display: none;
    }

    .nav-list {
        display: block;
        position: static;
        top: 0;
    }

    #topline .pull-right {
        float: none;
    }

    #topline .pull-right .alignright {
        text-align: center;
    }

    #topline .fadelink {
        margin-right: 5px;
        margin-left: 0px;
    }

    #topline .fadelink > a {
        padding: 2px 20px 1px 5px;
    }

    #topline .fadelink .ul_wrapper ul {
        padding: 5px 12px 5px 5px;
    }

    #logo {
        float: none;
        text-align: center;
        padding: 10px 0 0;
    }

    #column_left.span3 {
        float: left;
        width: 300px;
        margin: 0;
    }

    #column_right.span9 {
        float: left;
        width: 300px;
        margin: 0;
    }

    #form-contact .span9, #form-contact .span4 {
        margin: 0;
        width: 280px;
    }

    #form-contact .span4.pull-right {
        float: none;
    }

    .product-box .span4, .product-box .span5, .product-box .span6, .product-box .span7, .product-box .span8 {
        float: left;
        width: 300px;
        margin-bottom: 25px;
    }

    .product-box .product-img-box .span1 {
        float: left;
        width: 60px;
        margin-left: 5px;
        margin-right: 10px;
    }

    .product-box .product-img-box .span3, .product-box .product-img-box .span4, .product-box .product-img-box .span5 {
        float: left;
        width: 215px;
        margin: 0;
    }

    .product-shop .product_related, .product-shop .product_custom {
        float: none;
        width: 170px;
        margin: 0 0 50px 0;
    }

    .block_img {
        width: 260px;
        margin-left: 20px;
    }

    .form-mail input, .form-search input.search-query {
        width: 180px;
    }

    .custom_blocks {
        width: 256px;
        margin-left: 20px;
    }

    .custom_blocks .box, .custom_blocks .box:first-child {
        margin: 0 3px;
        padding: 0;
        width: 250px;
        background: none;
        float: none;
    }

    .custom_blocks .box .inside a {
        text-align: left;
    }

    .custom_blocks .pull-left, .custom_blocks .pull-left:first-child {
        padding: 0;
        background: none;
        float: none;
    }

    .shoppingcart .badge {
        position: absolute;
        top: -7px;
        left: -10px;
        right: auto;
    }

    #footer .pull-left.noHover, #footer .pull-right.noHover {
        width: 100%;
        max-width: 100%;
        float: none;
        text-align: center;
    }

    .select_wrapper.width1 {
        width: 90px;
    }

    .direction-nav {
        margin-bottom: 8px;
    }

    #header.header_v_2 .form-search-wrapper {
        margin: -15px 0 0 -5px;
    }

    #header.header_v_2 .form-search input.search-query {
        width: 160px;
    }

    #header.header_v_2 .shoppingcart {
        right: 30px;
        bottom: 75px;
    }

    #header.header_v_2 .fadelink {
        margin-right: -12px;
        margin-left: 15px;
    }

    #header.header_v_2 .fadelink .ul_wrapper {
        position: absolute;
        top: 25px;
        z-index: 100;
        display: none;
        border: 1px solid #d9d9d9;
    }

    #header.header_v_2 .fadelink .ul_wrapper ul {
        padding: 7px 5px 7px 5px;
        width: auto;
        border-radius: 0;
        background: #fff;
    }

    #header.header_v_2 .fadelink > a {
        padding: 2px 15px 1px 5px;
        border-radius: 2px;

        color: #555555;
        text-decoration: none;
        box-shadow: none;
        border: 1px solid #d9d9d9;
        border-bottom: none;
        font-weight: normal;
    }

    #header.header_v_2 .fadelink:hover > a {

        box-shadow: none;
        border: 1px solid #d9d9d9;
        border-bottom: none;
        color: #555555;
    }

    .table.shopping-cart-table, .table.shopping-cart-table tr, .table.shopping-cart-table td, .table.shopping-cart-table td:first-child {
        display: block;
        float: left;
        clear: both;
        width: 100%
    }

    .table.shopping-cart-table th {
        display: none;
    }

    .table.shopping-cart-table td, .table.shopping-cart-table td:first-child {
        padding: 10px;
        width: 90%;
        border: none;
        border-bottom: 1px solid #e5e5e5;
        text-align: left;
    }

    .table.shopping-cart-table td.aligncenter {
        text-align: left;
    }

    .table.shopping-cart-table td:first-child {
        text-align: center;
    }

    .table.shopping-cart-table .cart-col-name {
        display: inline-block;
        padding-right: 10px;
    }

    .right-button {
        float: left;
        margin-bottom: 15px;
    }

    #login-box {
        left: 50%;
        margin-left: -140px;
        width: 280px;
    }

    #login-box .line {
        margin: 5px -20px;
        width: 280px;
    }
}

p.back-link a.button small {
    display: none
}
.product-price-regular .spec .price { color: red}

a.quickview {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);
    color: #FFFFFF;
    font-size: 12px;
    height: 80px;
    left: 96px;
    line-height: 80px;
    margin: 0;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
    top: 92px;
    width: 80px;
    z-index: 999;
    display: block;
    visibility: hidden;
    cursor: pointer;;
}
.product:hover a.quickview,.preview:hover a.quickview{visibility: visible}
.tcenter{ text-align: center}
a.quickview:hover {
    color: #fff !important;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}

.with_media a.quickview{left:171px;}

.small_with_description .span2.product  a.quickview{left: 45px; top: 32px;}
.small_with_description .preview.small  a.quickview{left: 45px; top: 32px;}
.small_with_description .preview.small .with_media a.quickview{left: 103px;}

.big_with_description .span2.product  a.quickview{  left: 46px; top: 41px; }
.big_with_description .preview.small  a.quickview{  left: 46px; top: 41px;}
.big_with_description .preview.small .with_media  a.quickview{  left: 102px;}


/*AJAX SEARCH*/
#search_autocomplete{
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);
    padding: 10px 0px;

   }

.ajaxsearch{  display: block !important; padding: 0 20px }
.ajaxsearch .suggest{}
.ajaxsearch .suggest .amount{}
.ajaxsearch .preview{}
.ajaxsearch a{ text-decoration: none}
.ajaxsearch a:hover{ text-decoration: underline}
.ajaxsearch .price{ font-size: 16px; color: #000000; font-family: arial; }
.ajaxsearch .product-price{margin-top: 5px}

.ajaxsearch a.product-image{border: 1px solid #F3F3F3;


    float: left;
    margin-right: 10px;}
.ajaxsearch  .item {
    margin-bottom: 11px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
.ajaxsearch .product-detailes {
    float: left;
    width: 194px;
}
.header_v_2 .ajaxsearch .product-detailes {
    width: 144px;
}

.ajaxsearch .preview .description{}
.ajaxsearch .preview img{}
.header .form-search .ajaxsearch li.selected{}
/*AJAX SEARCH END*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #right_toolbar {
        right: 15px;
    }
}

.product-img-box .more-views li i {
    color: #246AE4;
    font-size: 40px;
    height: 59px;
    line-height: 59px;
    margin: 0;
    padding: 3px 0 0;
    text-align: center;
    text-indent: 2px;
    vertical-align: middle;
    width: 100%;
}

@media (min--moz-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 2.6/2),
(-webkit-min-device-pixel-ratio: 1.3),
(min-device-pixel-ratio: 1.3),
(min-resolution: 1.3dppx) {


    .custom_blocks .box .icon_circle.dark {
        background-image: url("../images/template/icon_dark_2x.png");
        background-repeat: no-repeat;
        background-size: 62px 63px;
    }

    .custom_blocks .box .icon_circle.light {
        background-image: url("../images/template/icon_light_2x.png");
        background-repeat: no-repeat;
        background-size: 63px 63px;
    }
}
.wrapper-hover .wrapper{ overflow: inherit !important}
h3.product-name{ text-transform:inherit !important; font-family: arial !important;}
#carousel_tabs_content h2{display: none}

/*LEFT COLLAPSED MENU*/
#collapsed-menu {
    margin-bottom:20px;
    position: relative;
}
#collapsed-menu .nav-header {
    position:relative;
    margin:0;
}
#collapsed-menu .nav-header a, #collapsed-menu a {
    display: inline-block;
    position:relative;
    padding: 6px 0;
    margin: 0;

    background: none;
    text-transform:none;
    font: 12px/16px Arial, Helvetica, sans-serif;
}
#collapsed-menu .nav-header span.collapse_button {
    position:absolute;
    top:3px;
    right:0;
    width:22px;
    height:22px;
    background:#f7f7f7;
    text-align:center;
    line-height:22px;
    font-size:16px;
    color:#717171;
    border-radius:2px;
    font-weight: normal;
    cursor:pointer;
}
#collapsed-menu span.badge {

    color:#fff;
    font-size:12px;
    border-radius:2px;
    margin:4px 0 0 5px;
    text-shadow:none;
    text-transform:none;
}
#collapsed-menu .nav-list {
    padding: 0;
    margin: 0;
    position: relative;
}
#collapsed-menu .nav-list > li > a, #collapsed-menu .nav-list .nav-header {
    margin: 0;
}
#collapsed-menu .nav-list {
    display: none;
    position: relative;
    top:0;
    padding:0;
    border-top:1px solid #eeeeee;
}
#collapsed-menu li {
    padding:0;
    line-height:16px;
    position:relative;
    border: none;
    border-bottom:1px solid #eeeeee;
    cursor:default;
}
#collapsed-menu .nav-header {
    padding: 0;
    cursor:default;
}
#collapsed-menu .nav-list li:last-child {
    border: none;
}
#collapsed-menu  a:hover {  text-decoration: none;}
#collapsed-menu .nav-list li li a:hover {
    background:none;
    /*color:#246AE4;*/
}
#collapsed-menu .nav-list > li > a:hover {
    background: none;

}
#collapsed-menu .nav-list li a, #collapsed-menu .nav-list li .nav-header a {
    padding-left:16px;
}
#collapsed-menu .nav-list li li a, #collapsed-menu .nav-list li li .nav-header a {
    padding-left:32px;
}
#collapsed-menu .nav-list li li li a, #collapsed-menu .nav-list li li li .nav-header a {
    padding-left:48px;
}
#collapsed-menu .nav-list li li li li a, #collapsed-menu .nav-list li li li li .nav-header a {
    padding-left:64px;
}
#collapsed-menu li.active > label > a, #collapsed-menu .nav-list li.active > a {
    font-weight:bold;
    text-shadow: none;

}

#collapsed-menu li.current > label > a, #collapsed-menu .nav-list li.current > a {
    font-weight:bold;
    text-shadow: none;
}
#collapsed-menu  label{ text-shadow: none}

.block.leftmenu{ border-bottom: 0; margin-bottom: 10px}
#collapsed-menu li.active > ul{display: block}
.in.collapse li{ padding-left: 15px !important}
.in.collapse li > a{ padding-left: 0px !important}

#collapsed-menu li.strong > label a{ font-weight: bold}

/*SPY MENU*/
#spy .logo img{ max-width: 155px; max-height: 85px}
#spy .li-first-home{ display: none}
#spy {
    background: #fff;
    width: 100%;
    position:fixed;
    top:-500px;
    padding:10px 0 5px;
}
#spy.fix {
    top:0;
    z-index:100000;
    box-shadow:         0px 2px 4px rgba(0, 0, 0, 0.27);
}
#spy ul#nav {
    padding-top:5px;
    padding-left:200px;
}
#spy .form-search-wrapper {
    float:right;
}
#spy .form-search {
    position: relative;
    margin-bottom:0;
}
#spy .form-search input.search-query {
    float:left;
    padding-left:44px;
    font-size:12px;
    width:49px;
    height:24px;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.27);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#spy .form-search input.search-query:focus {
    width: 200px !important;
}
#spy .spy-right {
    float:right;
    margin-top: -45px;
}
#spy .spy-left {
    float:left;
    margin-top: -53px;
    padding-left:30px;
    width:170px;
}


#spy  #nav > li > ul {

    top: 47px;
}
#spy  #nav.simple > li > ul{ top: 42px;}

.menu_custom_block a{ background: none !important}


/*
==============================================
slideDown
==============================================
*/


/*
==============================================
slideDown
==============================================
*/


#spy.fix{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 700ms;
    -webkit-animation-duration: 700ms;

    animation-timing-function: ease;
    -webkit-animation-timing-function:  ease;

    visibility: visible !important;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }


    100% {
        transform: translateY(0%);
        animation-duration: 300ms;
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }


    100% {
        -webkit-transform: translateY(0%);
        -webkit-animation-duration: 300ms;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    nav{display:block}
    #megamenu{display: none}
}

.span_1_of_3 {
	width: 30.8%;
	min-width:220px;
}

.bigwhite {	
text-align: center;
padding: 15px 0 225px 0;	
}

#np { padding-top: 102px; }

.blogtop { padding-top: 122px; }

	.mutton
	{
		position: relative;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		font-weight: 700;
		border: 0;
		outline: 0;
		cursor: pointer;
		border-radius: 8px;
		text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
		overflow: hidden;
		background: #61b8db;
		background-image: -moz-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: -webkit-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: -o-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: -ms-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255,255,255,0.75);
		-moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-o-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
	}

		.mutton:before
		{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/bg.png');
		}

		.mutton:hover
		{
			background-color: #76cdf0;
			color: #fff !important;
		}
		
		.mutton:active
		{
			background-image: -moz-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: -webkit-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: -o-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: -ms-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px -2px 1px 0px rgba(255,255,255,0.75);
			top: 1px;
		}
	
		.mutton-alt
		{
			background-color: #393939;
			background-image: -moz-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: -webkit-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: -o-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: -ms-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255,255,255,0.2);
		}

			.mutton-alt:hover
			{
				background-color: #444;
			}
			
			.mutton-alt:active
			{
				background-image: -moz-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: -webkit-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: -o-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: -ms-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				box-shadow: inset 0px 0px 0px 1px #242424, inset 0px -2px 1px 0px rgba(255,255,255,0.2);
			}
	
		.mutton-big
		{
		}

	.mutton
	{
		padding: 1em 2.35em 1em 2.35em;
		font-size: 1.1em;
	}

		.mutton-big
		{
			font-size: 1.5em;
			letter-spacing: -0.025em;
		}

/* View Type: Grid */
.products-grid { position:relative; }
.products-grid.last { border-bottom:0; }
ul.products-grid { margin: 18px -20px; }
.products-grid li.item { display: inline-block; vertical-align: top; width:157px; margin-left: 20px; padding-bottom:18px;  }
.products-grid li.news { display: inline-block; vertical-align: top; width:283px; margin: 0 0 16px 20px; padding: 0 3px 3px; border: 1px solid #d9ddd3; height: 160px;  }
.products-grid img {padding: 0 3px 3px 0; float:left;}
.products-grid img {padding: 0 3px 3px 0;}
.products-grid li.last { margin-right: 0; }
.products-grid .product-image { display: block; margin-bottom: 2px; }
.products-grid .product-image img { display:block; height: auto; max-width: 100%; width: auto; /* Prevents scaling problem in IE8; */ margin:0 0; }
.products-grid .product-image img:hover { opacity: 0.9; }
.products-grid.first .product-image { border-top:0; }
.products-grid li.last .product-image { border-right:0; }
.products-grid .product-name { font-size:12px; margin: 0; }
.products-grid .product-name a { color:#444; text-transform: uppercase; letter-spacing: 0.1em; }
.products-grid .product-name a:hover { text-decoration:none; }
.products-grid .price-box { margin:9px 0; }
.products-grid .availability { line-height:21px; }
.products-grid .actions { bottom: 0; }
.col2-left-layout .products-grid,
.col2-right-layout .products-grid {  }
.col1-layout .products-grid,
.page-empty .products-grid { }
